[2015-11-10 20:37] paulschwarz opened #1 "When is this happening?"

[2015-11-10 21:36] krasimir commented on #1
Sorry @paulschwarz ... I've been really busy last few weeks. I'll try pushing this repo forward next couple of days.

[2015-12-28 04:07] bradoyler commented on #1
I'm also interested ;)

[2016-01-02 07:39] krasimir commented on #1
@paulschwarz @bradoyler I think I wrapped up the project. Here is an [official page](http://work.krasimirtsonev.com/git/navigo/testing/). There is test suite (in node + browser) and everything

[2016-01-02 07:40] #1 closed

[2016-01-07 06:56] tylerl0706 opened #3 "Refresh handling"
I didn't really know where to go for a question, so I just opened an issue. Feel free to close.

How do you handle when a user refreshes the page... by accident? I find myself getting a 404.
##### Before refresh
<img width="317" alt="screen shot 2016-01-06 at 10 45 25 pm" src="https://cloud.githubusercontent.com/assets/2644648/12164170/6ea6b102-b4c8-11e5-8a18-a7303f64e0b0.png">

##### After refres

[2016-01-07 09:01] krasimir commented on #3
Can you please give a little bit more details about the code that you are using.
* How did you reach the `/test1` route. Is it via Navigo's `navigate` method. If yes what are your registered routes.
* Is the backend a nodejs app. If yes then do you forward every request to your index.

My assumption is that your backend is not forwarding all the request to the same html content. If that was the ca

[2016-01-11 05:55] tylerl0706 commented on #3
I immediately thought about that, once I finished writing but I couldn't respond until now. You are absolutely right. All requests must be forwarded to the same html file, otherwise client-side routing just will not work. In my example, I didn't have that forwarding. I was simply using SimpleHTTPServer to test.

[2016-01-11 05:55] #3 closed

[2016-01-11 06:17] krasimir commented on #3
:+1:

[2016-01-26 21:48] zirafa opened #5 "Problem getting History API to work"
Thanks for this library. I am able to get hash based routes working but cannot get clean URLs to work on my localhost. I added the Apache .htaccess routing as described in http://krasimirtsonev.com/blog/article/deep-dive-into-client-side-routing-navigo-pushstate-hash but does not seem to work.

Also tried setting the "root" value when creating a new Navigo() instance but not sure what that argumen

[2016-01-27 03:32] krasimir commented on #5
If your `index.html` stays in `localhost/index.html` then it should be `http://localhost`. If it's under `localhost/project/app/index.html` then you should use `http://localhost/project/app`.

Can you please post the content of your `.htaccess` file. This one may be tricky. It's difficult to advice you because the mod_rewrite module may be configured differently on your machine. It really depends

[2016-01-27 21:53] luckyshot opened #6 "Callback function on route change"
Is there a way to specify a callback function through Navigo any time the route changes?

[2016-01-28 03:28] krasimir commented on #6
Actually, yes. It is possible. There is a `resolve` method which is called every time when the route is changed. You may overwrite it like so:
[code]
In this case you should see the `console.log` every time when the route is updated.

Let me know if that works for you.

[2016-01-28 11:26] luckyshot commented on #6
Amazing, thanks a lot @krasimir, it works great.

[2016-01-28 11:26] #6 closed

[2016-01-28 11:45] krasimir commented on #6
:+1:

[2016-02-02 00:37] zirafa commented on #5
Thanks...here is my .htaccess and some example routes. It seems like it works fine for a single level route but as soon as there is a second level in the route it fails. This happens for me on local MAMP environment as well as a shared server environment.

[code]

[code]

Additionally, I get an odd error in my browser - a white screen and in the console I see these errors for all my js assets (as

[2016-02-02 04:23] krasimir commented on #5
The error that you are getting is due to the fact that the browser is opening your index.html file in the places where a javascript is expected. For me it looks that the server forwarding is not configured properly. Can you please do the [following](http://stackoverflow.com/questions/7670561/how-to-get-htaccess-to-work-on-mamp):

[2016-02-02 07:32] zirafa commented on #5
I believe I figured out the issue - rewrite_module was turned on, but my site was installed in a subdirectory of the site root directory. In my index.html file all js & css is referenced via relative URLs. Setting the <base href="/subdir/" /> in <head> solves the issue. I noticed in your [demo](https://github.com/krasimir/navigo/blob/master/demo/index.php) you are setting all of your paths as abso

[2016-02-02 07:34] krasimir commented on #5
Ah right. I forgot to mention that the assets paths should be absolute ones.

[2016-02-05 02:24] chiefcll opened #9 "Click handler..."
Like the simplicity of your router, but it would be nice to have a simple click handler to intercept `<a href='/route'>` clicks. Is that on the roadmap?

[2016-02-05 03:05] krasimir commented on #9
@chiefcll That's actually a really good idea. I'll write here once the new version is released.

[2016-02-06 10:39] #5 closed

[2016-02-06 10:49] zirafa opened #10 "Current state / statechange"
- Is there a way to retrieve the current route state? History.state appears null...
- Similarly, is there an event handler for route changes? Something triggers when the state changes, like routestatechange or something?

[2016-02-06 15:40] krasimir commented on #9
@chiefcll there is a new `1.1.0` published. What I did is to provide a `router.link` method. It accepts a `path` and returns a full url. I was thinking generating a HTML link but decided to return url only. It's just more flexible and doesn't tight the consumer of the API to specific tag/markup.

[2016-02-06 16:49] krasimir commented on #10
You may use `router._cLoc()`. I have to provide for an API for this but for the time being you may use this internal function to retrieve the current URL.

That's actually the main funcationality of Navigo. It calls a handle once the route is changed. The second argument of `on` method is the handler that you are searching for. Or maybe you are searching for a general one that is triggered separat

[2016-02-06 19:01] zirafa commented on #10
Thanks. Yes I was curious if there was a general one triggered separately anytime navigo matches a route (different than creating a default/wildcard route). Something similar to hashchange would be nice. For now, I suppose I can get around this by calling the same function in every defined route. My use case is I'm trying to bind the route state to a DOM element (menu links).

[2016-02-06 19:08] krasimir commented on #10
I see. Anyways, it's a nice idea. I'll add it to the TODO list.

[2016-02-06 21:05] chiefcll commented on #9
I was describing something else where programmers could have standard html anchor tags and navigo would intercept click events, read the href and navigate based on that.  Something like what pagejs is doing:
https://github.com/visionmedia/page.js/blob/master/page.js#L541

[2016-02-07 03:12] #10 closed

[2016-02-07 18:15] krasimir commented on #9
I see. That's also a good idea. I'll make this possible but not in the same way as it works in pagejs. I'm thinking about marking a link with `data-navigo` attribute. Fetching all the links and trying to guess what they do is a little bit too much for this project.

[2016-02-07 18:50] tomhooijenga opened #11 "Parameters"
It took me while to figure out how to use one parameter as the url. My root url is `http://localhost:43088/test-page`
[code]
When the parameter is not the first thing, it works like it should:
`http://localhost:43088/example/test-page`
[code]
This can be fixed with a custom regex `/([\w-]+)$/` (Anything [a-zA-Z_-] at least once untill the end of the string)
A better solution would be to exclude th

[2016-02-07 19:41] krasimir commented on #11
Good point :+1: I'll try fixing this next few days.

[2016-02-09 04:43] krasimir commented on #11
@tomhooijenga can you please confirm that the new  `1.1.1` version works as expected. On http://work.krasimirtsonev.com/git/navigo/about if we run
[code]
we'll get
[code]

[2016-02-09 05:37] krasimir commented on #9
@chiefcll It's done. There is a new `1.2.1` version released. All you have to do is to add `data-navigo` attribute to your links. For example:
[code]
That's how the [demo](http://work.krasimirtsonev.com/git/navigo/) works now.

[2016-02-26 06:22] peterdenev opened #12 "If multi "on" -> init will iterate many times"
Example:
[code]
On init will log 3 times 'home'

[JSBin example](http://jsbin.com/figesifuqu/1/edit?js,console)

[2016-02-26 06:25] peterdenev opened #13 "JSBin example cannot find navigo.js lib file"
In JSBin example the navigo.js lib points to [http://work.krasimirtsonev.com/git/navigo/navigo.js](http://work.krasimirtsonev.com/git/navigo/navigo.js) and may be your htaccess redirect the url.
Just can swich it to [http://krasimir.github.io/navigo/lib/navigo.js](http://krasimir.github.io/navigo/lib/navigo.js)

[2016-03-03 04:35] krasimir commented on #13
Fixed. Thanks.

[2016-03-03 04:35] #13 closed

[2016-03-03 04:36] #9 closed

[2016-03-03 05:01] #12 closed

[2016-03-03 05:08] krasimir commented on #12
That was a tricky one. When I started working on this project I wanted to escape from one thing - having an API method for the initial route resolving. Or in other words
[code]
I design it like that
[code]
I.e. after every `.on` the library calls `.resolve` method. The problem in your case could be solved by changing the order of the routes. I.e. you add the matching one at the end. As a rule whic

[2016-03-03 05:08] krasimir commented on #12
A new version `1.2.4` is released.

[2016-05-11 19:37] WilNichols opened #15 "Way to check referring route"
Looking for a way to fire different functions on a given route, but only depending on which route was last visited. Is there already a way to do this?

[2016-05-12 06:38] krasimir commented on #15
Hi @WilNichols,

nope currently there is no such functionality. I'm keen keeping libraries simple and single-purpose modules. The requested feature sounds like a custom app specific thing. I'll suggest to create a local variable and keep track of what is called lately. What you think?

[2016-05-16 12:35] Aurelsicoko commented on #11
Hi, first of all thanks for you awesome work!

I had the same issue, when I run the code below, I get :
[code]

[2016-05-18 03:37] krasimir commented on #11
@Aurelsicoko can you please create a page that reproduces the issue or paste your code here.

[2016-05-18 08:21] Aurelsicoko commented on #11
@krasimir I have a similar code like @tomhooijenga.

[code]

PS : I downloaded the minified version available [here](https://raw.githubusercontent.com/krasimir/navigo/master/lib/navigo.min.js).

[2016-05-19 06:44] krasimir commented on #11
@Aurelsicoko sorry but I'm not able to reproduce the problem. I'm using the same file as you. Here is what my test is made of:

`.htaccess` file:
[code]

`index.php` file:
[code]

If you want to use the same files you should amend the paths since they point to my local env. The result trying `http://home.dev/Krasimir/_tests/navigo/1234` is:
![image](https://cloud.githubusercontent.com/assets/52867

[2016-05-19 20:13] JeffBurrows opened #16 "Route fires twice"
I have this:

[code]
When I am on "route 2" page and refresh, the route then fires twice.

Any ideas?

[2016-05-20 03:49] krasimir commented on #16
Every call of the `on` method [triggers](https://github.com/krasimir/navigo/blob/master/src/index.js#L119) the routes resolving. Can you please use the following syntax so you have only one check:

[code]

[2016-05-20 03:49] #16 closed

[2016-05-22 15:04] Aurelsicoko commented on #11
@krasimir: Thanks for your help! I forgot to spend the root parameter in the navigo constructor... That was my mistake.

[2016-05-22 15:05] krasimir commented on #11
👍

[2016-05-22 15:05] #11 closed

[2016-05-26 11:07] daviestar opened #17 "Named routes and URL generation"
Hey

I love this router and have used it on a lot of small projects with no issues, thanks!  I'm now scoping a larger project, and there's one thing stopping me from using it there (well two related things).

Some example routes:

[code]
An example for a named route API (using [Laravel 5.2 API](https://laravel.com/docs/5.2/routing#named-routes) as inspiration):
[code]
Then using the custom names,

[2016-05-26 11:26] krasimir commented on #17
Nice idea and definitely possible. I'll try implementing it during the weekend.

[2016-05-28 08:31] krasimir commented on #17
It's done. Version `1.3.0` released. I followed your API proposal. It's added to the README [here](https://github.com/krasimir/navigo#named-routes).

[2016-05-28 08:31] #17 closed

[2016-05-28 23:17] daviestar commented on #17
Thanks!  Very small and elegant solution!

[2016-05-29 11:20] daviestar commented on #17
I've been implementing the naming/generate pattern and so far it's working great.

It's lead me to another idea though, let me know what you think:

Since I'm making a SPA with a server behind, I have GET routes that Navigo controls, and another set of routes for talking to the server using GET/POST/PUT/DELETE, for example:

[code]
Keeping all the routes in one place (via Navigo `on()`) and genera

[2016-05-29 13:12] daviestar commented on #17
Ok, I have been working on this and given it a lot more thought.

I like that Navigo has no concerns about AJAX method, but a lot of server-side routes are the same but with different methods.  The best API for this kind of thing I could come up with:
[code]
Matching these routes: https://laravel.com/docs/5.2/controllers#restful-resource-controllers

[2016-05-29 15:35] daviestar commented on #17
I made tiny extension which fits my needs:
[code]
routes.js:
[code]
some-view.jsx:
[code]
some-other-place.js:
[code]

[2016-05-30 04:20] krasimir commented on #17
Kudos for extending Navigo. Even though it seems logical I'll probably not add this to the library. It's because this is covering kinda custom case. For me the client-side router is a single-responsibility thing and I'll probably not use it for a back-end related task. What I can do in such cases is probably define the routes in a configuration place and then pass the configuration to these both p

[2016-05-31 12:28] daviestar commented on #17
Yeah, after thinking it's great to decouple different parts of my SPA by responding just to routes, I'm now finding it's pretty limited - you can't really pass any other parameters around other than the URL (of course).

So in the end I agree that this has a limited use case.  Cheers.

[2016-06-17 19:42] individual8 opened #18 "replaceState"
Is there a way to replace the current state, instead of just push via navigate()?

For changing language I'm looking for such functionality, since changing language is not really navigating away from the current content.

[2016-06-18 04:26] krasimir commented on #18
@individual8 just released a new version `2.0.1`. Can you please check this solution https://github.com/krasimir/navigo#pausing-the-router

[2016-06-18 06:13] individual8 commented on #18
Thx for the update, @krasimir.

It generally seems to work the way intended. I think one issue's still that you're adding that "paused" navigate() to the list of routes. Hence, it's breaking browser's back history.

[2016-06-18 06:20] krasimir commented on #18
I see. That's because we are using `pushState` to change the URL. If we use `window.location.href` we'll reload the page. If we use hashes then will be possible to avoid that.

But to be honest I would prefer to have that in the history.

[2016-06-18 06:24] individual8 commented on #18
Wouldn't something like this solve that?
`overwrite: function overwrite(path, absolute) {
      path = path || '';
      if (this._ok) {
        history.replaceState({}, '', (!absolute ? this._getRoot() + '/' : '') + clean(path));
        this.pause(true);
        this.resolve();
        this.pause(false);
      } else if (typeof window !== 'undefined') {
        window.location.href = window.loca

[2016-06-18 06:30] krasimir commented on #18
So maybe it's a matter of using `replaceState` instead of `pushState` because

[2016-06-18 06:35] individual8 commented on #18
Not sure why, but it seems that `2.0.1` won't resolve '*' (Home) anymore btw.

[2016-06-18 06:37] krasimir commented on #18
Can you try with `2.0.3`. It [uses](https://github.com/krasimir/navigo/blob/master/lib/navigo.js#L162) `replaceState` if the router is paused.

[2016-06-18 06:58] individual8 commented on #18
Works the way intended, thank you.

[2016-06-18 06:58] #18 closed

[2016-06-18 14:25] individual8 opened #19 "Any reason for replacing href attribute in binded links?"
You replace hrefs with `javascript:void(0);` although `e.preventDefault()` is used.
Is there a reason for doing so?

[2016-06-19 03:25] krasimir commented on #19
Do you mean when you set a `data-navigo` attribute to some `<a>` tag. If yes, we are doing this so the link become a JavaScript only. When we use hashes we don't want to change the actual page.

[2016-06-19 06:21] individual8 commented on #19
I see. Doesn't `e.preventDefault()` hinder the browser anyway to follow the href target?

I'm thinking it could be worth to leave the href in its original state for people to open it in new tab or for copying.

[2016-06-20 03:59] krasimir commented on #19
Yep, you are right. `2.0.4` version released. It only attaches an event handler.

[2016-06-20 03:59] #19 closed

[2016-06-20 09:52] individual8 opened #20 "Absolute Path vs Relative Path"
Another issue I found is the use of relative paths vs. absolute paths.

You declare links in data-navigo attributed links with relative paths (eg. "about"). The router declares "/about" though. Somehow the link still trigger the particular route, but end up in doubled slashes in the address bar (eg. somedomain.com//about).

[2016-06-20 09:56] individual8 opened #21 "Maybe don't trigger route if already there?!"
More of a feature request than an issue here.

You trigger routes although you're already there. I tried to circumvent by detecting if the triggered route is already the actual page, problem though, by the time I check for it the triggered route is already added to the history, which kinda breaks the browser's back button.

[2016-06-21 04:02] #15 closed

[2016-06-21 04:35] krasimir commented on #20
Can you please try with the new `2.0.5` version. I think the problem is reproducible if the `root` passed to Navigo ends up with `/`.

[2016-06-21 04:36] krasimir commented on #21
I would say that his is a bug. I'll fix that asap.

[2016-06-21 05:39] fourpixels opened #22 "Request: a way to disable hash usage at all"
Hi there,
I just stumbled upon this lightweight router library and I'm pretty delighted of how it works. There's only one problem I'm having:

If the browser does not support `pushState`, the library falls back of using hashes as links. I think it would be nice to have the option to disable that **at all**, because in most cases that means doubling the logic for routing (especially in backend) - w

[2016-06-21 05:43] individual8 commented on #20
In my case, I didn't define `root` specifically.

`2.0.5` seem to work though.

[2016-06-21 05:43] #20 closed

[2016-06-21 07:09] krasimir commented on #22
Definitely a valid argument. I'll make the change and will let you know.

Поздрави приети :)

[2016-06-21 07:42] krasimir commented on #21
Can you please try

[2016-06-21 07:54] individual8 commented on #21
Works for me. Thx for implementing.

[2016-06-21 08:07] krasimir commented on #22
Can you please try the new `2.1.0` version. It now has `router.disableIfAPINotAvailable()` method. Call it when just after (or before) the definition of the routes.

[2016-06-22 12:51] fourpixels commented on #22
Hi again,
Sorry for the late reply. Honestly, I didn't test it with any old browser as I don't have time now, but I tried using the new function (without the check :-$) and it worked pretty fine. I guess if `pushState` is not supported the fallback will work out pretty well.

Thanks for the prompt fix!

[2016-06-22 12:51] #22 closed

[2016-06-22 13:04] fourpixels opened #23 "Link href is not updated when it's dynamic"
I'm using Navigo with dynamic links - I have a simple href link with `data-navigo` attribute. When I click it, everything works out well, I get new data from the server.

But then I **update** the href attribute, using something like:

[code]

Unfortunately this does not work properly. I first tried calling `updatePageLinks`, which is not documented but it's available as a function. It kind of wor

[2016-06-24 10:01] fourpixels commented on #23
Any news? :)

[2016-06-24 10:38] krasimir commented on #23
Sorry, for some reason the first email from GitHub ended up in my junk folder. I would love to see a PR. If not I'll prepare one next week (Monday).

[2016-06-25 15:06] joakimbugge commented on #22
Have you considered making disableIfAPINotAvailable() an option property instead? I guess I will have to call this method immediately after instantiation, it may just as well be a constructor parameter/option property.

[2016-06-25 15:47] fourpixels commented on #22
I also think providing it as a parameter (even in `opts` param) is better, but I guess we have to think of backward compatibility. And providing every new change as a new parameter will make things look ugly at the end :)

So I would chose opts/settings param with different keys which can be further updated, but it will break older versions, so it's not my call :)

[2016-06-27 14:39] krasimir commented on #23
Can you please try the new `2.1.1` version.

[2016-06-27 14:42] krasimir commented on #22
I think that having `disableIfAPINotAvailable` method that does the job is kinda more flexible. That's because the developer decides when to trigger this feature. If it is passed along with the configuration means that the library will trigger the check and will disable the router. So the control is not exactly in the developer's hands.

[2016-06-27 14:44] fourpixels commented on #23
Yeah I forgot about the multiple listeners added :-$
Works like a charm now - thanks!

[2016-06-27 14:44] #23 closed

[2016-06-28 00:41] iamwyza opened #26 "Add support for Guids as parameters"
Currently the regex for the parameters is like this:

`var PARAMETER_REGEXP = /([:*])(\w+)/g;`

Could we possibly change it to this? (adding "-" to the possible matches allowing for the use of GUIDs as routing parameters)

`var PARAMETER_REGEXP = /([:*])([a-zA-Z0-9-]+)/g;`

[2016-06-28 00:51] #26 closed

[2016-06-29 16:19] KlaasH opened #27 "Push version tags?"
There's a version number in `package.json`, but Bower looks for git version tags in the repository, so specifying a version to install with Bower isn't working.  Could you push version tags to the repo?

[2016-06-30 04:09] krasimir commented on #27
Sorry, just added `2.1.1` tag (the latest version). I hope I'll not forget to tag the commit when I release next time.

[2016-06-30 04:09] #27 closed

[2016-07-16 00:45] huevoncito commented on #23
I was still having this problem, even on the new version. Submitted #28, which fixed it for me by moving `link.hasListener = true` outside of the event handler. Hope that helps.

[2016-07-16 05:53] krasimir commented on #23
#28 merged in.

[2016-07-17 10:13] daviestar opened #29 "onpopstate event"
Hello,

Is it possible to latch onto the `window.onpopstate` event Navigo uses for forward/back buttons?  I can use it easily enough, but then navigo stops working :)

I have a page transition in this project, so it's not possible to re-render the menu in this case. I'm manually updating the `.active` class on the menu with jQuery, which works fine, except for the forward/back browser buttons.

Wa

[2016-07-17 12:43] krasimir commented on #29
Hey,

I'm not sure that I understood the issue. Do you want to subscribe for the onpopstate event?

[2016-07-17 12:45] daviestar commented on #29
Sorry I wrote that not long after I woke up :)

Yes, I need to do something when the URL changes (update active class in menu), which I can mostly do with a click event, except for browser forward/back buttons.

Cheers.

[2016-07-17 12:54] krasimir commented on #29
Well, Navigo aims to do only one thing - it reacts on URL changes. So, so I guess you may apply the logic in your route handlers like:
[code]

[2016-07-17 12:56] krasimir commented on #29
This will pollute your route handlers but can be solved with partial execution (or currying).

[2016-07-17 13:02] daviestar commented on #29
Oh yes, of course you are right. D'oh!

Thanks again.

[2016-07-17 13:02] #29 closed

[2016-07-23 03:41] 960Design opened #30 "navigo.min.js:1 Uncaught SyntaxError: Unexpected token <"
Single routing paths work perfectly, such as: http://domain/classes
Whenever I try to 'stack' routes or just add a single forward slash '/' after the route I get this error, such as http://domain/classes/ or http://domain/classes/students

I'm just building a simple example testing if navigo is something that would work for me.  Followed the examples, built a very simple html5 ( valid testing clea

[2016-07-23 07:31] krasimir commented on #30
Hey @960Design,

1. Did you setup your backend so every url points to your index file.
2. Can you provide an example (url or the exact code)

[2016-07-23 14:14] 960Design commented on #30
Here's the code, non working in the bin:
https://jsbin.com/lasecehoya/edit?html,js,output

Here's the .htaccess
<ifModule mod_rewrite.c>
  Options +FollowSymLinks
  IndexIgnore */*
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php
</ifModule>

If that doesn't make enough sense for you, I'll host the code.
Thank you for your

[2016-07-23 16:32] krasimir commented on #30
I cloned your bin to this one https://jsbin.com/xaqoyag/edit?html,js,output and started investigating. The only one issue that I found was that jsbin was unable to load Navigo because jsbin was using `https` but the link to Navigo `http`. Once I change that I got everything working.

[2016-07-23 22:29] 960Design commented on #30
Try here...
http://960design.com/dev/

Open the console... manually add classes into the url... console should display 'classes...'
Now manually add /test or just a single forward slash.  Check the console for errors:
"anyscript.js:1 Uncaught SyntaxError: Unexpected token <"

[2016-07-24 06:02] krasimir commented on #30
I see. The problem is that on `/classe/test` there is a file `js/anyscript.js` which is not accessible. The server in this case responds with your `index.html` and the browser tries to parse it. That's why it says `Unexpected token <` because that's what it sees first - an HTML. I'll suggest to use absolute URLs for your assets. So instead of `js/anyscript.js` try `/dev/js/anyscript.js` and it wil

[2016-07-24 06:03] krasimir commented on #30
*(That's by the way one of the drawbacks of the URLs that change with `pushState`. The paths to external resources should be absolute because according to the server that's a new path.)*

[2016-07-24 22:51] 960Design commented on #30
Awesome!  That was it!!  Just needed to use absolute urls exactly as you stated.  Thank you very much for the router and the assistance!

[2016-07-24 22:51] #30 closed

[2016-07-27 09:29] loopingLines opened #31 "Router gets resolved for empty url."
Hi,

First, Thankyou for the simple router. Made my life easy.

I am not reporting a bug but need some help here. This should have been very simple but I am not able to figure out how to differentiate between no query and an unmatched query. I have written a fallback so:
router.on({
	'p1' : loadP1,
	'p2' : loadP2,
	'g1' : loadG1,
	's1' : loadS1,
	'user' : loadUserPage,
        '#': loadLanding
}).

[2016-07-28 05:05] krasimir commented on #31
Hey,

Navigo falls back to it's default handler if the page does not exists. To achieve what you want you have to define a sub path. For example:

[code]

I agree that maybe the router should handle those cases in a different way. I.e. if there is no url path then falls back to its default handler but if there is a path and if it doesn't match then fires another callback.

[2016-07-28 09:33] loopingLines commented on #31
Unfortunately, this did not work for me.  Also, in my case the origin as well as pathname could change. However, before setting up the router if I wrote this, the router works as expected.

[code]
There is something else I found out. This is how I set up the router:
[code]
Story1:
If I write the full location of my page in browser's location bar like this "../main/index.html", with the above scrip

[2016-07-28 15:30] krasimir commented on #31
Yep, definitely we need different handlers for `no-match` and `root-url` cases. I'll leave this open and I hope will have time to implement these changes soon.

[2016-08-04 16:11] renegadeofunk opened #32 "Navigo is not defined"
I'm probably just a noob but I dropped in navigo.min.js and Navigo just isn't being found. Both:

var router = new Navigo(root = null, useHash=false);
and
var router = new Navigo();

Is there another component like RequireJS that I'm missing here?

[2016-08-04 16:25] renegadeofunk commented on #32
Got it, I had requireJS included in the page but wasn't using it yet which tricked the import conditionals you have at the top.

[2016-08-04 16:25] #32 closed

[2016-08-08 16:39] mrself opened #33 "Bind 'click' events on links to 'document'."
When binding an event to links at start it will not catch clicks on links which are loaded later. For example if I load a new template with links, router will not change the url properly.

I think it would be better to bind event to document:

[code]

[2016-08-10 04:19] krasimir commented on #33
Well, together with the page change Navigo makes sure that the links have `e.preventDefault()` so when the user clicks them only the JavaScript bit is fired. Even if we attach an event handler to the `document` object we still have to go through the binding process so we get that `preventDefault()` call.

I think a proper approach here should be to fire `updatePageLinks` on the Navigo instance onc

[2016-08-16 10:52] oomarsmanoo opened #34 "Double event handler after updatePageLinks()"
Hey, first of all thank you for this simplistic but very helpful router :)

I've got a problem where updatePageLinks doesn't work as intended in the minified version. It somehow adds multiple (in my case even different) click handlers to an <a> element with data-navigo attribute. I think it is because in the minified file link.hasListenerAttached isn't set to true correctly. The different click ha

[2016-08-16 20:51] estrattonbailey opened #35 "pushState - state object support"
Hey, thanks for the awesome library :)

Do you have plans to implement support for the state object param of `History.pushState()`?

My current use case is to save scroll position between pages. The site I'm working on is fully AJAXed so I can persist a variable with the scroll position between page transitions. But, if a user reloads the page, the previous scroll position is lost. So then if they

[2016-08-17 07:04] krasimir commented on #34
Hey, just built a new version 2.1.4. Can you please try the new files. They should be the same now.

[2016-08-17 07:10] krasimir commented on #35
Hey,

I never hit that use case. Happy to accept a PR fpr such feature though.

[2016-08-17 08:28] oomarsmanoo commented on #34
jep works, thank you :)

[2016-08-17 09:01] krasimir commented on #34
👍

[2016-08-17 09:01] #34 closed

[2016-08-22 16:05] oomarsmanoo commented on #34
Hey, got back to work today and found out that I must have missed something while testing and it is actually not working right :(
same problem as before - just this time both files are not working.
Found out that it's because the hasListenerAttached is assigned inside the click handler. This should have been fixed in [this](https://github.com/krasimir/navigo/pull/28) commit but didn't make it in t

[2016-08-23 00:04] huevoncito opened #36 "Hooks?"
Hey guys,

Not a bug but rather an idea. I was thinking about adding hooks to this router and was wondering what you think. With hooks you could have page transitions or initialize page specific libraries and things like that.

I imagine they could be called like this:

    //global hooks that run before and after all routes`
     Router.beforeRun(function () {
         //do stuff
     });
    Rou

[2016-08-23 05:42] fourpixels commented on #36
As well as being a good idea, I hope it won't complicate things too much, as it will start looking like smoothStates (which I despite). Do you think it will be an easy and clean implementation?

[2016-08-23 05:59] krasimir commented on #36
Hey, this seems like a nice idea. I see it like:
* Having a storage for the hooks
* Iterate over the hooks (if any) when a route matches

@huevoncito can you come with a few actual use cases. Do you need the hooks before checking the routes or just before *navigating* to another route, or maybe when a route matches?

[2016-08-23 06:06] krasimir commented on #34
Hm ... that's weird. I roll back the change in a new `2.1.5` version. Can you please try if it works now.

[2016-08-23 09:57] oomarsmanoo commented on #34
Yep, working now, thanks a lot! :)

[2016-08-23 21:38] huevoncito commented on #36
@fourpixels I don't think it will be too complicated.

@krasimir I'm currently working on a project where I want to show page transitions and loading animations, reset scroll position when navigating back to a page, and things like that. I wrote the `beforeRun` hooks into the route handlers and hacked the `resolve` method to add the `afterRun` hooks. It can and should be cleaner than that.

The us

[2016-08-24 07:03] krasimir commented on #36
A nice brainstorm. A few points:
* `navigate` seems like a nice place for triggering hooks.
* I see that `beforeLeave` and `beforeRun` are really similar. They are fired just before we change the page. Coming from your context it makes sense to have two hooks. But if we see how the router works we don't have a teardown action so it's just "Now, change the page". I see how this could be implemented

[2016-08-24 14:27] huevoncito commented on #36
Would `registerHook` be a public method or a private one? I'm of two minds about this. On the one hand, it's simpler to just call it directly. On the other hand, it's more explicit to have `Router.beforeLeave`, `Router.beforeRun`, `Router.on`, and `Router.afterRun`. The code is easier to read that way. Either way will be fine, really. Just a thought.

@krasimir Would you like me to draft something

[2016-08-24 15:15] fourpixels commented on #36
Few things in mind:

1. `beforeRun` (or however you call it) would make sense **only** if it can intercept or modify the flow. Therefore changes must be made somewhere in `updatePageLinks` so that a real flow-like actions are called instead of `self.navigate(clean(location));`

2. Think about the way hooks are added - doing it as a separate function makes writing the path of the route twice (which

[2016-08-27 14:32] krasimir commented on #31
Just released a new `2.2.0` version. We now have a [`notFound`](https://github.com/krasimir/navigo#not-found-handler) method that handles cases where a path is specified but not matching any of the registered routes. The current default/fallback route is called only if someone loads the page with no path specified and there is no matching rule for that. The README is updated.

[2016-08-27 14:32] #31 closed

[2016-09-04 17:40] mckennatim opened #38 "demo with hash routes"
When using the demo site everything works as expected using the history api. But when you click the "hashed based routing" box in the upper right (and even after refresh) you get

http://work.krasimirtsonev.com/git/navigo/#about
http://work.krasimirtsonev.com/git/navigo/#usage
http://work.krasimirtsonev.com/git/navigo/#download
ok
but then
http://work.krasimirtsonev.com/git/navigo/testing (quickly

[2016-09-05 08:09] krasimir commented on #38
I should kill that page. The version of Navigo is not up-to-date + the tests there exercise the library and they change the URL several times using both modes of Navigo. When the tests finish I try returning the page to its initial state but it looks like I failed at this.

[2016-09-12 18:21] antana013 opened #40 "Got error when get path more then one."
Hi,

I have a problem when I used your lib. when I need to set path more then one i got error message in console like this
`bundle.js:1 Uncaught SyntaxError: Unexpected token <`

this is my code
[code]

this is .htaccess
[code]

`localhost` page ware working fine BUT `localhost/path/to/some/where` got error I told you above.

[2016-09-12 20:54] krasimir commented on #40
Something is not ok with your server. The error that you are talking about is displayed when the browser serves html where should be javascript. Can you please try using absolute URLs for your assets. Like instead of `<script src="./js/app.js"></script>` you type `<script src="http://site.com/js/app.js"></script>`

[2016-09-13 03:26] antana013 commented on #40
@krasimir Ohhhh, It's because of javascript include path the same as you told me. :))
before :
`<script src="/assets/bundle.js" type="text/javascript"></script>`
after :
`<script src="http://localhost/assets/bundle.js" type="text/javascript"></script>`

Thank you so much. 👍

[2016-09-13 06:35] krasimir commented on #40
You are welcome.

[2016-09-13 06:35] #40 closed

[2016-09-13 10:43] hudochenkov opened #41 "Callback don't fire if navigating between some URL and `/`, but URL is changing"
The bug is reproducing here with Navigo 2.3.0:

https://jsbin.com/ximekug/edit?html,js,output — source code
https://output.jsbin.com/ximekug/ — there you can see URL changing

With each click text under the list should change according to link.

Steps to reproduce:

1. Click “Task 1” → correct
2. Click “Home” → correct
3. Click “Task 1” → fail

URL changed, but text under the list didn't.

Also ca

[2016-09-16 06:13] krasimir commented on #41
Hey, sorry for the delay. It's fixed in the new `2.3.1` version. Just double checked your jsbin. It works as expected.

[2016-09-16 06:13] #41 closed

[2016-09-16 06:32] hudochenkov commented on #41
Thank you so much! Navigo is amazing, you did a great job!

[2016-09-19 02:30] emflores opened #43 "All routes are greedy?"
Hi @krasimir - thanks for your work Navigo, really liking it so far.

I have encountered one issue that I wanted to raise , and that is that all routes seem to be greedy. Meaning that, given a route of `/foo`, the `findMatchedRoutes` function will return a positive match for the path `/foo/bar`, regardless of whether or not a wildcard is used. I believe this RegExp is to blame: https://github.com/

[2016-09-19 06:32] digital2go commented on #21
This has broken some of my sites. We need to reload the page if the user clicks a link for the page they are already on. Is there a way to make it fire the handler?

[2016-09-19 08:50] krasimir commented on #43
That's a bug. So PR are welcomed. Feel free to submit some or I'll do it next few days.

P.S.
thanks for reporting

[2016-09-21 13:39] panda01 opened #47 "The last param on parameterized routes also takes the query section of the url"
It seems to me that if you have something like
[code]
And you navigate to /foo/4/bar/5?a=c

params.bar will equal "5?a=c" as opposed to just 5.

[2016-09-22 07:28] #43 closed

[2016-09-22 07:52] krasimir commented on #47
Can you please try the new `2.3.4` version. Should be [fixed](https://github.com/krasimir/navigo/commit/b1d7a989d37f03d7c81c0376230bc4132e297ea7#diff-277e1b0de0f676904bb46f6b48d2836fR299) now.

[2016-09-22 07:59] krasimir commented on #21
@digital2go There is a hack that you may apply. In your route handler just clean up the content of `_lastRouteResolved` variable. For example:

[code]
This way you'll get the previous behavior. The problem is that you are accessing a "private" variable and it is definitely a dirty hack. 💯

[2016-09-24 13:13] colin-aarts commented on #33
Actually, you can preventDefault from a delegated listener just fine. Since I don't like Navigo's implementation, I'm using this (I simulate a popstate event and call `resolve` from the popstate handler, but you would do whatever there):

[code]

Other than that, I'm really digging Navigo though, nice work!

[2016-09-26 08:44] yairEO opened #48 "official page doesn't work"
Hi, I wanted to let you know the official page doesn't show any content beside the tabs navigation..

I'm on Firefox 50, Windows 7

[2016-09-26 14:58] markcarver opened #49 "Lost query parameters"
My original code just extracted any query parameters from the last `params` property that was resolved. I honestly thought that this was how it was designed to work... but w/e.

Since https://github.com/krasimir/navigo/commit/b1d7a989d37f03d7c81c0376230bc4132e297ea7#diff-1fdf421c05c1140f6d71444ea2b27638R95 query parameters are now completely lost (they're just stripped).

If Navigo is going to int

[2016-09-28 18:42] panda01 commented on #47
Word, looks good to me. Thanks a bunch man!

[2016-09-29 14:00] krasimir commented on #48
Hey, thanks for reporting. I'll kill that demo page because it is difficult to sync it every time with the releases.

[2016-09-29 14:00] #47 closed

[2016-10-02 11:00] cwetanow opened #50 "Router is not defined on empty path"
[code]

When the path in the browser is empty I get the following error
Uncaught (in promise) Error: (SystemJS) router is not defined(…)

Do you have any ideas why, the module is loaded with systemjs

[2016-10-03 07:16] krasimir commented on #50
Hey, it's difficult to say why this is happening. I see that you define the router with `let`. Can you try using `var` and let us know if that helps.

[2016-10-06 20:50] Mevrael opened #51 "Any differences between Navigo and other routers?"
For example, there is an older and smaller in size vanilla router [page.js](https://github.com/visionmedia/page.js).

What whas the main reason you created another router?
Have you analyzed how Navigo is different/better/worse then other router libraries?

Nevertheless, nice work and your ES6 syntax and export is very appreciated in my build process.

[2016-10-07 06:38] krasimir commented on #51
Well, everything started as a simple helper which was literally 50 loc. Then later I decided to form a library because people were visiting [this](http://krasimirtsonev.com/blog/article/A-modern-JavaScript-router-in-100-lines-history-api-pushState-hash-url) blog posts and asking if there is a npm module. Not sure if it is better comparing the other alternatives. It was just fitting in my use case.

[2016-10-14 12:58] krasimir commented on #49
@markcarver sorry for the delay answer. Have no idea how I missed your issue. That's a nice suggestion. I'll see how complex is the implementation.

[2016-10-17 08:27] hudochenkov opened #52 "Add changelog"
Can you add changelog, please? It doesn't clear what changed in newer versions and should I upgrade.

[2016-10-17 08:58] krasimir commented on #52
That's an absolutely valid point. I had to do that long time ago. I'll make it for the next release.

[2016-10-17 22:48] johnwheeler opened #53 "navigate doesn't resolve if only querystring params have changed"
Hello,

Thank you for Navigo. Forgive me if this is by design, but I noticed that changing just the querystring of a route and calling navigate does not resolve. I think this is a side effect from removeGETParameters that was introduced a few weeks ago. Is this a bug and if not, is there a workaround?

Thanks

[2016-10-21 06:52] #50 closed

[2016-10-23 09:20] krasimir commented on #33
@mrself I'm closing here but let me know if firing `updatePageLinks` didn't fix your issue and we'll reopen it.

[2016-10-23 09:20] #33 closed

[2016-10-23 09:21] krasimir commented on #36
[Hooks](https://github.com/krasimir/navigo#hooks) just got released in `3.1.0`.

[2016-10-23 09:21] #36 closed

[2016-10-23 09:26] krasimir commented on #35
Hey @estrattonbailey,

I'm trying to clean up old issues. So, is there any development around your idea. For me it seems like the desired behavior, i.e. keeping the state, should be done outside of the router. What's your motivation about sending it to Navigo. Is it that you want to receive the state in your handler?

[2016-10-23 09:40] #38 closed

[2016-10-23 09:40] krasimir commented on #48
Demo page killed 💀

[2016-10-23 09:40] #48 closed

[2016-10-23 13:14] estrattonbailey commented on #35
Hey @krasimir, apologies on never coming back to close this, thanks for your follow up.

I worked with a forked Navigo with state previously, but in hindsight it makes more sense to just use `history.replaceState()` to track stuff like scroll position. The little [library](https://github.com/estrattonbailey/operator.js) I was working on actually uses that method now, and works pretty well.

Thanks

[2016-10-23 13:14] #35 closed

[2016-10-23 21:43] cloudever opened #54 "Add a feature"
Hi. I'd like to make a suggestion about the feature.
Following steps are for an imagination of workflow.
1. Imagine, page now on the root '/'.
2. Click to open MENU, then page will navigate to '#/menu'
3. Make an action to close menu and the page will return back to '/'
4. Click to open CART, then the page will navigate to '#/cart'.
But if I'll click 2 times back in the browser, it will navigate t

[2016-10-24 02:20] betofigueiredo commented on #54
Can you use **history.go(-1)** to close MENU?

[2016-10-24 04:46] krasimir commented on #49
`3.2.0` released. It follows your suggestion -> https://github.com/krasimir/navigo#accessing-get-parameters

[2016-10-24 04:46] #49 closed

[2016-10-24 04:47] #51 closed

[2016-10-24 04:48] krasimir commented on #52
Just for the protocol https://github.com/krasimir/navigo/blob/master/CHANGELOG.md

[2016-10-24 04:48] #52 closed

[2016-10-24 04:59] krasimir commented on #53
Can you please try the new `3.2.1`. It's addressing this bug.

[2016-10-24 05:02] krasimir commented on #54
@cloudever this seems a little bit hacky. I'll not change how the browser handles route because probably the users get used to it. Do you mean that you want to trigger a route handler but don't change the URL so the user don't get the address bar updated?

[2016-10-24 08:46] cloudever commented on #54
@betofigueiredo , I tried to use history.back(), but it won't done my job.
@krasimir no, I just would like to replace history. I've played with location.href and I think it's possible to use _location.replace_ instead of _location.href =_

[2016-10-24 09:14] cloudever commented on #54
@krasimir I just want to make possible close menu and cart on mobile phone by clicking back button.
But all routes write to history and it will being negative UX.

[2016-10-24 11:00] cloudever opened #55 "onhashchange for resolving"
@krasimir maybe it's time to use **onhashchange** event instead of **setTimeout** for resolving the hash state, but keep last one in the code as a fallback?
Browser support [https://developer.mozilla.org/ru/docs/Web/API/WindowEventHandlers/onhashchange](https://developer.mozilla.org/ru/docs/Web/API/WindowEventHandlers/onhashchange)

[2016-10-24 12:38] krasimir commented on #55
👍 good suggestion.

[2016-10-24 14:12] ifig opened #56 "root path gives me the same behavior with *"
I am having trouble with the following code : When I type the following url '/v1/a/b/c', I'd like to match the "not found" handler. Instead, I match the root path that I defined at last ('/'). It's like I would have defined it that way : '/*'.

[code]

[2016-10-24 14:16] krasimir commented on #56
Can we try something quick. Can you please put the `notFound` call before the other routes definitions. Just after `var router = new Navigo('/v1');`

[2016-10-24 14:24] ifig commented on #56
Same result.

[2016-10-24 14:26] krasimir commented on #56
Ok, then that's a bug. Thanks for creating the issue. I'll take care soon.

[2016-10-24 14:28] ifig commented on #56
Thank you ! It's weird though, because no one opened the issue before, but it can't be that no one ran the same issue, when you usually define the home page on the "/" route.

[2016-10-25 18:19] huevoncito commented on #36
Thanks, @krasimir. You’ve done a great job. Sorry again for the slow response times.  Please let me know if you ever need a hand maintaining the repo.

[2016-10-26 17:51] sergiovilar opened #57 "Navigo triggers resolve for hash with hash navigation disabled"
Hey, I'm having a problem with Navigo.

I have this url:
`http://localhost:3000/users/foo#section1`

In this page I have some tabs (section1, section0) when I click any of the tabs and the url changes to, for instance, `http://localhost:3000/users/foo#section1` Navigo triggers the resolve even with the hash navigation disabled.

[2016-10-27 08:21] krasimir commented on #57
So is it like the URL is not changed but you get your handler called?

[2016-10-27 11:53] sergiovilar commented on #57
@krasimir only the hash changes and still yet I get the route resolved.

[2016-10-27 16:07] krasimir commented on #57
I see. That's a bug. I'll try providing a fix.

[2016-10-27 23:31] sergiovilar commented on #57
@krasimir I have some use cases:
1. The url changes from a hash to another
2. The url changes from no hash to a hash
3. The url changes from a hash to no hash

[2016-10-29 05:27] krasimir commented on #54
Heu @cloudever,

I made some experiments and now I think that Navigo can't fix the problem. That's because we are trying to use the URL as a state holder for the menu and at the same time a state holder for the page management. From a application point of view that's wrong. The state of the different parts of the application should be handled separately. I see your use case but I'll suggest to han

[2016-10-30 08:23] krasimir commented on #55
`3.3.0` released.

[2016-10-30 08:53] krasimir commented on #56
@ifig I just released `3.3.1` version. Can you please try it out. Should be fixing your issue. Here's is the test case that replicates your problem:

[code]

[2016-10-30 08:56] krasimir commented on #53
@johnwheeler let me know if the new version is not fixing your bug. For the time being I'll close this issue.

[2016-10-30 08:56] #53 closed

[2016-10-30 08:56] #55 closed

[2016-10-30 12:38] krasimir commented on #57
@sergiovilar can you please try `3.3.2` version.

[2016-10-31 13:58] sergiovilar commented on #57
@krasimir Just readed your commit and tested here. The `*` handler still get triggered by hash change when hash navigation is disabled.

[2016-10-31 14:09] sergiovilar commented on #57
`notFound` handler also gets resolved when I am in this url: `http://localhost:3000/some#tab1` and changes to `http://localhost:3000/stores#tab0`.

[2016-11-02 05:56] Shyam-Chen opened #59 "How to get Google Analytics to work?"

[2016-11-02 08:02] #59 closed

[2016-11-02 11:33] jordangarside opened #60 "Named Routes with Before and After Hooks"
Is support for hooks and named routes possible?

[code]

[2016-11-03 04:25] tnguyen14 opened #61 "Hash in URL becomes part of param"
If I have the URL `https://mysite.com/page#`, and a route defined as `/:id`, then `params.id` is `page#`. Should it just be `page`? I.e. the `#` should not be considered part of the param?

I'm running into this issue because Chrome automatically appends `#` to my URL after redirecting from another page that has `#` in its URL

[2016-11-03 06:48] tnguyen14 opened #62 "Include pause in navigate"
Instead of having to `.pause` the router before `.navigate` in order to skip resolving, can the resolve/ paused state be passed in as a boolean to `.navigate()`?

For eg., instead of having to do
[code]

It will just be
```router.navigate('/path', false);```

I find the `.pause(false)` API to be extremely awkward.

[2016-11-03 15:17] ifig commented on #56
It works like a charm, thank you!

[2016-11-03 15:29] ifig commented on #56
I might have spoken too fast. I never enter the defaultHandler ('/').

[2016-11-05 23:58] hirasso opened #63 "Preserve trailing slash for routes"
Hi there, great work! How can I achieve that, when I navigate to an url using `router.navigate('/products/list/');`, the trailing slash stays in the route? I would need this to have consistent urls, both from the server as well as from the js app.

[2016-11-06 00:06] hirasso opened #64 "Start the router silently"
Hi there, it's me again. Is there a way to sart the router silently? Like, without fireing the first route?

[2016-11-07 03:12] metame opened #65 "Have title option for routes config"
Browser history is helpful but would be better if there were optional custom titles for each route.  This would be a lightweight feature add-on but something very useful built-in to the router. Currently I change it in the route handler.  Since navigo is already handling history state, this might be something useful for others.  Is this something anyone else is interested in?  I'd be willing to ma

[2016-11-07 08:08] krasimir commented on #57
@sergiovilar second try. Can you please the new 3.3.3 version.

[2016-11-07 08:09] #57 closed

[2016-11-07 08:12] krasimir commented on #59
Just wondering. How did you solve this case?

[2016-11-07 08:17] Shyam-Chen commented on #59
No actual test...
[code]

[2016-11-07 08:46] krasimir commented on #60
It's done. Released in `3.4.1`. You can do:
[code]

[2016-11-07 08:46] #60 closed

[2016-11-07 08:51] krasimir commented on #62
Well, I found `.pause(false)` a lot better then `.navigate('/path', false)` for a couple of reasons:
* It's explicit. Imagine that you are reading some code and you see `.pause(true)` and you think "Ok, we are enabling something here". Passing `false` to `navigate` doesn't give any knowledge what is this `false` about.
* It's really weird that we on a flag using a method (`pause`) but turn it off

[2016-11-07 08:53] krasimir commented on #56
@ifig sorry, can you please post your route definitions and the path that you are running against them. I can't reproduce the bug.

[2016-11-07 09:05] krasimir commented on #63
`3.4.2` should fix your case. It now keeps the trailing slash at the end.

[2016-11-07 09:05] #63 closed

[2016-11-07 09:11] krasimir commented on #65
Do you mean something like [named routes](https://github.com/krasimir/navigo#named-routes)?

[2016-11-07 11:04] hirasso commented on #64
ok great, thanks!

[2016-11-07 11:55] #64 closed

[2016-11-07 15:02] tnguyen14 commented on #62
Thanks for the response.

I hear you on changing the API part. Something awkward might not be reason enough to change the API, but perhaps something you can keep in the back of your mind, and see if you'd want to include it in the next major release (that could be due to a different reason).

Also, instead of `.pause(true)` and `.pause(false`, perhaps you could consider something like `.pause()` a

[2016-11-07 17:45] metame commented on #65
Don't think so.  In this case, I'm talking about changing the Document Title, like with `document.title = 'Home Page'`.

[2016-11-07 21:08] krasimir commented on #65
I see now. I would escape from putting such features in the router. For me seems like similar things are really context/domain specific and will only bloat the API.

However, I may think for a plugin system or something like that where stuff get injected.

[2016-11-14 16:07] sergiovilar commented on #57
@krasimir works like a charm, thank you!

[2016-11-14 16:07] #65 closed

[2016-11-19 05:27] krasimir commented on #62
`3.5.0` is released. It contains a `resume` method which is the same as `pause(false)`. `pause` now called without any parameters is always equal to `pause(true)`. I like this suggestion. Thanks.

I see your points about `replaceState` and the unclarity around what `pause` is doing. I'll keep a note about that and I may indeed change the naming in some of the next releases.

[2016-11-19 05:27] #62 closed

[2016-11-22 16:54] flibbertigibbet opened #66 "Bower release version outdated"
The latest version available for install via Bower is 3.0.0, but the latest release for install via npm is 3.5.0.

[2016-11-23 09:37] krasimir commented on #66
Hey, good point. Just tagged the latest commit version with `3.5.0`. Shall I do something else or bower will take it from here.

[2016-11-23 16:17] flibbertigibbet commented on #66
That did it, thanks!

I was going to mention maybe adding `version` to the bower.json, but apparently that gets ignored now, according to the [spec](https://github.com/bower/spec/blob/master/json.md#version).

[2016-11-23 16:17] #66 closed

[2016-12-01 10:46] hussainb opened #67 "Navigation not firing in IE 10+ when using back and forward buttons"
Hello,

I have initialized navigo by passing the useHash as false and proper root value.
Works fine in browsers like Firefox and chrome etc but doesn't function in IE.

The URL changes but the .on callback function doesn't fire.

Thanks for the awesome and minimalist routing library.

[2016-12-01 14:43] aziev commented on #67
I have similar problem. My code:
[code]
When I go to url `example.com/category/morning` it outputs 'navigated to /'.
This problem occures in Microsoft Edge, Safari (MacBook, iPhone 5s, iPhone 6), Chrome (iPhone 4)

[2016-12-02 05:17] hussainb commented on #67
Further digging into it, I found that the back and forward buttons on IE gets messed up after using the router.navigate() method

[2016-12-02 12:20] krasimir commented on #67
Hey, what's the version of IE that you are testing with.

[2016-12-02 12:22] hussainb commented on #67
Its the latest IE Edge which comes installed with windows 10

[2016-12-02 12:25] krasimir commented on #67
Ok, thanks. I'll investigate.

[2016-12-02 12:48] hussainb commented on #67
I tried tracing it, not sure but I think the window.onpopstate event doesn't fire after calling router.navigate()

[2016-12-09 09:35] dvwright opened #68 "DOM7011: The code on this page disabled back and forward caching."
Hi, I am having issues with Navigo on IE 11. Chrome, Firefox, Opera, Safari all work as expected but Internet Explorer 11 is not rendering or navigating correctly.

The above is listed as a warning so it shouldn't be affecting content rendering. The content will appear to load as expected, then this warning will appear in the console and the page will go blank.

FWIW, the router is calling a metho

[2016-12-10 05:50] krasimir commented on #67
@hussainb sorry for the delay. I finally managed to test it under IE 11. And it works pretty well [here](http://work.krasimirtsonev.com/git/navigo/). I was able to use both modes (with and without History API) + the back and forward buttons of the browser works. Can you please share your code and let me know if you have a proper [server-side](http://krasimirtsonev.com/blog/article/deep-dive-into-c

[2016-12-10 06:02] krasimir commented on #68
Hey,

yep, a publicly available example will be fine because I just [tested](https://github.com/krasimir/navigo/issues/67) the library in IE11 and it worked well.

[2016-12-10 07:56] MakiCode opened #69 "Routing cannot handle query vars"
I will add a test case, explaining the issue, soon.

[2016-12-11 08:49] dvwright commented on #68
Hi, here is a gist which demonstrates the issue. https://gist.github.com/dvwright/4982163aeb949d0d503c4c1ee6916c5f

[2016-12-14 09:38] krasimir commented on #68
Thanks. I'm now able to reproduce it. I'll inform you when the bug is fixed.

[2016-12-14 21:12] krasimir commented on #68
So it looks like I found where is the problem. When using an object notation syntax we get different results in different browsers. Here's what I mean:

In Chrome if you type
[code]
You get the following order of route addition:
[code]
While in IE11 (and Safari under Mac by the way) you get:
[code]
So, what happen in your case is that the resolve method always matches the root route (`""` one). It

[2016-12-14 21:12] #68 closed

[2016-12-15 14:08] UsernamesAreOutdated opened #70 "NotFound handler not happening correctly when actually refreshing the webpage"
I have configured my routing like this:

http://pastebin.com/n5MnDQGW

This works all good while using my website.
Declared url's work, home/root page works too. Even going to url's which are not routed are going to the not found handler just fine.
Except for when you then actually refresh the page (browser F5), then the non existent url just shows the home/root page.

Any idea?

[2016-12-16 08:36] leeoniya opened #71 "when useHash = true, generate() should prefix # to returned route string"
@krasimir ping :)

[2016-12-16 08:41] krasimir commented on #71
@leeoniya good catch! I'll try cleaning the issue here (in Navigo) this weekend.

[2016-12-18 05:51] krasimir commented on #70
Can you please try 3.5.1 version. It should fix your problem.

[2016-12-18 13:03] krasimir commented on #71
@leeoniya can you please try `4.0.0` version. It should fix the problem.

[2016-12-19 07:11] UsernamesAreOutdated commented on #70
It is OK now. Thanks!

[2016-12-19 10:33] #70 closed

[2016-12-21 03:59] leeoniya commented on #71
probably yes, though i've switched my own router that's closer to my preferred api.

thanks!

[2016-12-21 03:59] #71 closed

[2016-12-22 00:23] dvwright commented on #68
So, the solution here (re-org routes) helped one of the issues I was having. I was just able to resolve the other issue and thought I would add the info here just in case someone else has a similar issue.

I am using jquery, binding to events and triggering navigation, such as:

[code]

the preventDefault is required, otherwise navigating like this was failing in IE11.

[2017-01-04 22:39] afroradiohead opened #72 "Adding a .off"
Could you add a .off(route, function)?

[2017-01-05 05:25] krasimir commented on #72
Yep, sure. I'll write here when it is release.

[2017-01-09 10:36] UsernamesAreOutdated commented on #71
The minified file is outdated now, had to take non minified version for this to work.

[2017-01-17 14:15] sergiovilar opened #73 "It's possible to register a hook for all routes?"
If so, how can I do that?

Thanks!

[2017-01-17 14:17] krasimir commented on #73
Well, isn't it just:
[code]

[2017-01-17 17:52] sergiovilar commented on #73
It works, thanks!

[2017-01-17 17:52] #73 closed

[2017-01-19 07:50] richardsimko commented on #56
I have a similar issue where I have to specify the root URL as an absolute URL, otherwise it won't replace it correctly. I'm trying to achieve an app where every 404 redirects to the root (`/`) but the root handler won't work.

    const router = new Navigo(null, false);
    router.notFound(function() {
      console.log('404');
      window.location = '/';
    });

    router.on('/route1', functi

[2017-01-19 12:52] krasimir commented on #56
Thanks for the report @richardsimko I'll dig into that soon.

[2017-01-19 13:25] richardsimko commented on #56
Nice, thanks!

[2017-01-24 17:53] hamed743 opened #74 "unicode characters"
is this working with unicode characters?

[2017-01-24 21:25] krasimir commented on #74
Interesting. Can you come with a test case. I mean do you mean an unicode character in the name of the route?

[2017-01-25 05:41] hamed743 commented on #74
yes. i want unicode characters like arabic or hebrew in url.
somthing like this:
`router
  .on('/محصولات/list', function () {
    // display all the products
  })
  .resolve();`

[2017-01-26 03:36] lapinskicho opened #75 "Support express-style regexp matching with named parameters?"
Thanks for your module, it looks great.

I am evaluating Navigo and it supports paths like "/movies/:id(\\d+)' but looks like it does not support paths like '/movies/:genre(horror|romance)' (a choice of different strings) - which express supports by using [path-to-regexp npm package](https://github.com/pillarjs/path-to-regexp) .  I am trying to share my express route definitions with the front-end

[2017-01-30 20:30] sergiovilar opened #76 "Multiple routes same handler?"
Is possible to do it? What's the best pratice for it besides using a regex?

[2017-01-31 00:02] sergiovilar commented on #56
@richardsimko solved by using:

```new Navigo(location.protocol + "//" + location.host, false)```

[2017-01-31 06:49] richardsimko commented on #56
Cool, thanks!

[2017-02-05 07:31] #56 closed

[2017-02-05 07:33] krasimir commented on #76
Well, definitely possible. I would do it like:
[code]

[2017-02-05 07:37] krasimir commented on #74
Yep, it's definitely working. I just added a test.

[2017-02-05 07:37] #74 closed

[2017-02-09 14:40] olofweb opened #77 "Find wrong route in IE11"
Hi, I have a problem on IE11 with your demo (http://work.krasimirtsonev.com/git/navigo/).

The function `match(url, routes)` call `findMatchedRoutes(url, routes)` and take the first element. But the order of elements is different depending of the browser.

In IE, "root" route is first but not in Chrome. So in IE, "root" route is always returned as matched route.

IE :
![ie](https://cloud.githubuse

[2017-02-09 16:14] krasimir commented on #77
Fixed by #78.

[2017-02-09 16:14] #77 closed

[2017-02-09 21:28] joaopmafra opened #79 "Change url only after before hook done function is called"
Hi,

If I have a route like this:
[code]

and call `router.navigate("r1")`, the url is changed anyway. In the before hook, calling `done(false)` shouldn't prevent url from changing? Is there some way to accomplish that with your lib?

Thanks.

[2017-02-10 07:20] aersamkull opened #80 "TypeScript Typings"
Hi there

I found some TypeScript typings really useful :)

[2017-02-10 07:46] aersamkull commented on #80
I'd even do a PR, I already have written a tying for it

[2017-02-10 08:21] krasimir commented on #80
Sorry, what you mean by `TypeScript Typings`.

[2017-02-10 08:23] krasimir commented on #79
That's definitely a valid argument. I'll prepare a PR.

[2017-02-10 10:39] shakna-israel opened #81 "Direct Links"
I'm having some trouble. I'd like my users to be able to use direct links.

My server supports SPA by redirecting everything that isn't the root url to a 200.html page.

A direct link isn't running the route to render.

I've sort of got around it by doing:

[code]

And each route updates what window.loaded should be.

This gets the right page to render. However, the URL doesn't update.

Any though

[2017-02-10 14:02] aersamkull commented on #80
A d.t.s file which represents what methods are available. Something like this (not tested!):

[code]

Another example: https://github.com/moment/moment/blob/develop/moment.d.ts

For all those using TypeScript, this is really useful :)

[2017-02-10 14:04] aersamkull commented on #80
An one has to add an entry to package.json: https://github.com/moment/moment/blob/develop/package.json#L27

[2017-02-14 14:42] danazkari commented on #70
Hello, I'm on version 4.0.1 and I'm experiencing the same issue, notFound handler is not triggered when refreshing. Any pointers as to why that might be happening again?

![image](https://cloud.githubusercontent.com/assets/349542/22933532/7d3ba6ac-f291-11e6-885e-8968f33ce104.png)

Views is just an object where the keys are url routes and values are the function handlers for each route.

[2017-02-14 14:46] krasimir commented on #70
@danazkari can you try adding the `on(() ...` and `.notFound(() ...` after `.on(Views)`.

[2017-02-14 14:49] danazkari commented on #70
@krasimir just did, no dice. Also moved the order of default and notFound and nada.

[2017-02-14 14:54] danazkari commented on #70
If it helps, whenever I load a non-valid URL and shows the homepage, if I navigate using the navigo js api to `/` (root), it shows me the 404 page. Seems like it's taking the first `wrong` url and using it as it's base for the SPA.

[2017-02-14 14:54] krasimir commented on #70
Can you paste the initialization of the router.

[2017-02-20 16:53] Mevrael commented on #43
Hi I have
[code]
however it is fired on every page, I've also tried without 1st param.

[2017-02-20 20:55] krasimir commented on #43
@Mevrael can you please post all of your code. I mean the initialization of the router and all the attached routes.

[2017-02-20 21:02] Mevrael commented on #43
Hi @krasimir

Thank you for response. Here is my code. Basically I just started with only 1 route, I have a new page where I don't need what is happening on index but it is also executed.

Init with default settings.

[code]

[2017-02-20 21:11] krasimir commented on #43
Ok, but do you have anohter `.on` call?

[2017-02-20 21:24] Mevrael commented on #43
No

[2017-02-20 21:29] krasimir commented on #43
So you have an index page which is represented with `IndexPage`. You registered only this function to the router and nothing else. If you want to get another method fired you need to add another `.on` line with the appropriate route and function.

[2017-02-20 21:34] Mevrael commented on #43
I don't want to register any other routes (for now), I just don't need to call my IndexPage function on every route /*

There is no specific logic on 2nd page, it just uses global plugins. But because IndexPage is called there I got some errors since 2nd page does not have those DOM elements and data from the index.

[2017-02-21 07:57] krasimir commented on #43
I see ... then I'll suggest to organize your code like that so you don't have the router initialize on the second page at all.

[2017-02-22 09:44] idchlife commented on #80
@aersamkull could you add this please to DefinetelyTyped aka @types?

[2017-03-08 09:14] Nyholm opened #82 "Issue with notFound never triggered"
I have a simple route like:

[code]

If the URL is `/` it will go to start page. Also if the URL is `/foobar`. I can never seem to be triggering the `pageNotFoundController()`.

How should I configure my routes differently? Naturally I only want to valid routes: `/` and `/product/XX`.

[2017-03-09 00:16] idchlife opened #83 "It seems that url navigation is handled by the server, but not navigo. Page refreshes from server."
https://monosnap.com/file/fm5WTBNx7ygUHoPrDQoZJ2yGXFKFAr

Here is the video showing that whenever I navigate, I'm getting refreshed page from servers and after this navigo of course handles route. But it seems it does not work with history. Or am I missing something?

[2017-03-09 10:42] Nyholm commented on #81
Did you try to enable hashes?

`var router = new Navigo(null, true);`

[2017-03-09 12:15] Nyholm opened #84 "Build error on master"
I cloned the repo, ran `npm install` and then `npm build`. I got no output. After that I did:

[code]

Using Node 6.10.0.

[2017-03-09 12:17] krasimir commented on #84
Thanks for reporting. I'm planning some time today to cover last couple of issues.

[2017-03-09 12:18] Nyholm commented on #84
Thank you. You are great!

I have a upcoming PR but I could not test it yet. I'll submit it as a WIP

[2017-03-09 21:44] krasimir commented on #72
Better late then never :) It's done and released under 4.1.2 version.

[2017-03-09 21:44] #72 closed

[2017-03-09 21:56] krasimir commented on #79
It looks like this feature is already there. I just made a test https://github.com/krasimir/navigo/commit/4ca151e63df350a47f0c0d73bab1679ef1e6b0c7

I'm really confused why is not working for you. Can you please try with the latest version.

[2017-03-09 21:58] krasimir commented on #80
I'm closing this one. Please prepare a PR.

[2017-03-09 21:58] #80 closed

[2017-03-14 21:24] nordskill commented on #82
I have exactly the same problem: **root** handler doesn't work with **notFound** handler.

[2017-03-15 09:08] nordskill commented on #82
I guess I've found a workaround for this issue:

`router.on(function () {
    if (window.location.pathname.length > 1) {
     console.log('404');
    } else {
     console.log('home');
    }
  }).resolve();`

[2017-03-15 13:48] krasimir commented on #81
Hey, sorry for the late reply @shakna-israel. Here are couple of things which I'm wondering:
* What's the browser that you are testing in?
* Is the page reloaded when you open the link or that's a SPA?
* By `But the url bar doesn't update.` do you mean that you don't get the new URL after calling the `navigate` method?

[2017-03-15 13:56] krasimir commented on #84
Hm ... just tested your scenario. Fresh clone `npm install` and then `npm run build`. I'm using node 6.7.0 and it works fine. Can you please try running `npm run build` instead of `npm build`?

[2017-03-15 14:00] krasimir commented on #83
Yep, that's exactly what happens in the video. Can you please post your code. I mean the initializing of the router and the routes. Also what's the output of this:
[code]

[2017-03-15 14:19] krasimir commented on #82
@Nyholm @nordskill just released `4.2.0`. In [here](https://github.com/krasimir/navigo/commit/4411cb71ff5fe819d5f5ba3f834dd07639ec2dec) you'll find a test that is replicating your issue. Can you please use the new version and let me know if it works.

[2017-03-15 14:21] krasimir commented on #79
@joaopmafra ping me if the problem appears with the latest version.

[2017-03-15 14:21] #79 closed

[2017-03-15 14:26] krasimir commented on #61
Half a year later :) This is no more an issue. This line prevent such behavior https://github.com/krasimir/navigo/blob/master/src/index.js#L106

[2017-03-15 14:26] #61 closed

[2017-03-15 14:28] krasimir commented on #69
@MakiCode trying to clean the issues. Please reopen with some test case or code example if needed.

[2017-03-15 14:28] #69 closed

[2017-03-15 14:28] #76 closed

[2017-03-15 14:31] krasimir commented on #75
Hm ... interesting. Definitely Navigo is not supporting your use case now. I'm a little bit surprised that `:id(\d+)` works. That part of the library is fairly complex and I prefer to keep it as it is. I'm planning to rewrite the library and will definitely use `path-to-regexp` module. Seems really nice.

[2017-03-15 14:31] #75 closed

[2017-03-15 15:24] Nyholm commented on #84
Thank you. It is working.

[2017-03-15 15:24] #84 closed

[2017-03-15 16:51] idchlife commented on #83
@krasimir it was my mistake actually. I did not know that every link has to be manually forced to do router.navigate (using react, so refreshing links for navigo is basically useless there, better to call .navigate in code)

Everything seems to work fine! Thanks!

[2017-03-15 16:52] #83 closed

[2017-03-16 10:12] nordskill commented on #82
Hello, Krasimir
It seems still not to be working for me.

[2017-03-16 20:34] krasimir commented on #82
@nordskill can you please post your route definitions.

[2017-03-17 11:36] nordskill commented on #82
I'm actually trying the refined version of your demo: [JS](http://nordskill.com/dock/navigo/scripts.js)
The actual page (without content, but buttons are clickable): [](http://nordskill.com/dock/navigo)

[2017-03-21 01:39] carloslfu commented on #54
@cloudever I guess you are looking for something like [adressbar](https://github.com/cerebral/addressbar) you can use it with Navigo. Hope it helps.

[2017-03-21 10:38] Nyholm opened #87 "Navigo.generate includes hash"
If one is using hashes the `router.generate('foo')` will include the hash.

This means that:
[code]

Im not sure what the best solution is here. Either we remove the hash from `generate` or we make sure to trim it in `navigate`.

[2017-03-21 16:35] finppp commented on #56
Is this not more of a workaround? I would expect the default root path to still work with .notFound and a main/home without using :
`new Navigo(location.protocol + "//" + location.host, false)`

Thanks

[2017-03-21 20:28] johnhult commented on #82
I'm having the same problem. My routing looks like

	var rootUrl = '';
	var useHash = false;
	var router = new Navigo(rootUrl, useHash);

	router.on({
		'/': function() {
			console.log('/ (home)');
			mainNavigation('home');
			setTimeout(function() {
				runHome();
			}, 600);
		},
		'/bio': function() {
			console.log('bio');
			openOverlay('');
			runBio();
		},
		'/work': function() {
			cons

[2017-03-21 21:30] krasimir commented on #56
@finppp can you please post your route definitions and give us an example of what's broken. I find difficult to write a test case that replicates your problem.

[2017-03-22 11:30] finppp commented on #56
[code]

This routes to home when I go to localhost:5000/asdf
Same result if I switch the line after  .on({   to:
` '': function () { navHome() },`

I apologise if I have overlooked something

Also, it does work with
`router = new Navigo(location.protocol + "//" + location.host,false,'#!');`

Thanks

[2017-03-22 13:56] finppp opened #88 "Is a .on() call needed for each path if you want to use hooks?"
Is there a way to list multiple paths without calling .on() for each?

Thanks

Also (unrelated),  in the readme it has this (under Hooks):

[code]
is there meant to be a comma after 'before' line?
[code]

[2017-03-22 17:16] finppp opened #89 "'Before' hooks being triggered after browser navigation?"
I am using hooks to write a new `document.title` before navigation, this allows chromes history to display the a different title making your history easier to read.

Using the before  hooks works great when using .navigate ,however when you press back on the browser a new entry is added to history but with the previous title. It seems to update your history before the hook to change the title is c

[2017-03-24 21:17] krasimir commented on #87
Just released `4.3.3` that contains a fix for this issue.

[2017-03-24 21:17] #87 closed

[2017-03-25 06:21] krasimir commented on #82
@nordskill sorry, I think I didn't make this clear and it looks like I deleted `gh-pages` branch only locally. The Navigo file that you are using is an old one and does not have the `notFound` method. You are getting that in the console:
![image](https://cloud.githubusercontent.com/assets/528677/24319976/f30ee78e-1133-11e7-9a94-4c129fef0b15.png)
Please use the latest version from https://github.co

[2017-03-25 06:23] krasimir commented on #82
@johnhult can you please make sure that you are using the latest version. Also something really important ⚠️ - the order of how you add the routes matter. So make sure that you put the `/` at the end of your `on` call.

[2017-03-25 06:33] krasimir commented on #56
@finppp I added a test case and it seems that I can't reproduce the bug. Is Navigo operating at the very top folder of your site. I mean is it like under `site.com/...` or it is somewhere deeper like `site.com/web/app/...`.

Here's the test which had to reproduce the bug:
[code]

[2017-03-25 06:35] krasimir commented on #88
Yep, that's a typo in the README. As for the other question. Isn't it this:
[code]

[2017-03-25 11:32] Nyholm commented on #87
Thank you. But please use PRs. That will mean I have a change to review your code.

[2017-03-25 11:33] Nyholm opened #90 "Start test with travis"
On each PR we should make sure the code passes the tests. Lets use Travis

[2017-03-25 15:14] krasimir commented on #87
@Nyholm that's a very good point 👍

[2017-03-27 07:57] #90 closed

[2017-03-27 08:00] Nyholm commented on #90
Make sure you enable travis: https://travis-ci.org/profile/krasimir

[2017-03-27 08:10] krasimir commented on #90
Yep, I did. Just waiting to see the result. Thanks.

[2017-03-27 08:13] Nyholm commented on #90
Great. Looks all good

[2017-03-27 16:40] finppp commented on #88
Sorry, I meant can you use hooks with each route, without multiple .on calls.

e.g. something like this:
[code]

[2017-03-27 20:05] krasimir commented on #88
Ah I see. At the moment there is no such syntax and to be honest I'm a little bit reserved extending that bit of the library. The `on` method was patched multiple times just for syntax reasoning and it really gets messy.

[2017-03-27 20:32] finppp commented on #88
Cool, thanks for the info!

[2017-03-27 20:32] #88 closed

[2017-03-28 18:30] lbssousa opened #96 "Trouble parsing query string on default route"
I'm trying to parse a query string passed to my default route using navigo. Example URL:
[code]

Example code:
[code]

If I initialize my router with `useHash = false`, then I'm unable to parse the query `check=1` (the `query` parameter in the handler function above only returns an empty string). However, if I set `useHash = true`, then I would be able to parse it, provided that I rewrite the URL

[2017-03-28 22:47] martonx opened #98 "How can I get the original url of the link what clicked"
Hi, I have this router:

this.router.on({
            '/Admin': (params, query) => this.loadPage(params, query),
            '/Admin/Test': (params, query) => this.loadPage(params, query)
        }).resolve();

In loadPage I would like to do an ajax GET request for the clicked link's url.

[2017-03-28 23:07] martonx opened #99 "Please make routes case insensitive"
[code]
This routing is working just for /Admin and / Admin/Test but not for /admin and /admin/test. As urls are caseinsensitive, please fix on handling routes.

[2017-03-29 06:25] martonx commented on #99
I created a PR for this: https://github.com/krasimir/navigo/pull/100

[2017-03-29 19:44] krasimir commented on #89
Hey @finppp, I tried reproducing your problem with a unit test. Unfortunately I guess because of the click-back-button factor the test is aways passing. Did you manage to solve your problem in some way?

[2017-03-29 20:39] finppp commented on #89
Unfortunately I have not solved this. I looked into using an 'on popstate' listener and triggering a window.history.replaceState() once the title had been replaced, however this does not work.
It seems that the history api replaceState doesn't not work well with title updates. I Believe that History.js may be able to help the replaceState, however I will need to work out how to integrate this with

[2017-03-29 20:48] martonx commented on #98
I added a PR for this too. https://github.com/krasimir/navigo/pull/101 I'm sure it is not the most elegant solution, but better then nothing, or better then other hacky solutions popped into my mind.

[2017-03-30 14:51] johnhult commented on #82
@krasimir I changed the position of the `/` to the end instead but nothing really changed. Said two different things in the README.md, so I thought it didn't matter :) I have the latest npm version of navigo so that should be okay.

What happens is that if I go to `/asdf` (i.e. a non-existing route) it will just load the `/asdf` route as the root route instead. If I then try to navigate to for exa

[2017-03-30 20:23] krasimir commented on #96
Hey @lbssousa,

I added a unit test but no luck reproducing your issue. I created a simple page with the following code:
[code]
And when I opened http://home.dev/Krasimir/_tests/navigo/96/?test=1 I got:
![image](https://cloud.githubusercontent.com/assets/528677/24524570/be462574-159f-11e7-9741-a2e02168f087.png)

So I'm not able to replicate the issue locally. Maybe if you provide an example. Also

[2017-03-31 17:14] lbssousa commented on #96
Hmmm... Sorry, but I wasn't too accurate on my issue description.

In fact, if I initialize the router with an explicit root URL (as in your test case), I'm able to catch the query string. The real issue occurs when I initialize the router with a default root URL (passing `null` as the first argument). Taking your example code, it should be
[code]

In this case, I'm getting only an empty string fo

[2017-03-31 19:53] krasimir commented on #99
Thank you for the PR. I added this as a feature in the latest `4.4.0` release. Use
[code]

[2017-03-31 19:53] #99 closed

[2017-03-31 20:07] krasimir commented on #98
`4.5.0` now contains `lastRouteResolved` that returns the latest matched URL.

[2017-03-31 20:07] #98 closed

[2017-04-01 14:01] krasimir commented on #82
@johnhult that `historyApiFallback` may be in a conflict with Navigo. We've made a couple of releases last week that may address those issues. Can you please download the latest version and let me know a URL (if possible) to reproduce the problem one more time.

[2017-04-01 15:06] krasimir commented on #96
I finally reproduced the bug. Fixed in `4.5.1`. Can you please try and let me know if it works on your machine.

[2017-04-02 16:20] cultulhul opened #103 "route matching"
router.on({'tracks': function () {
		       console.log('tracks');
	}
});`

`router.on({'artist/:id/tracks':` function (params) {
			console.log('artist/' + params.id + '/tracks');
		}
	});

when the two routes are placed like this the second route is not marching it matches the first route it only works properly when the second route is on top

[2017-04-03 10:18] lbssousa commented on #96
Yes! I've just upgraded my navigo version and now it parses the query string correctly!

Thank you very much!

[2017-04-03 10:18] #96 closed

[2017-04-03 19:37] martonx commented on #98
Thank you!

[2017-04-06 11:58] krasimir commented on #103
@cultulhul unfortunately the order of routes' addition matter in Navigo. The matching is based on regular expression so whatever matches first it wins. What I'm saying is that that's not a bug but an expected behavior.

[2017-04-07 19:05] cultulhul commented on #103
ok thanks for clearing it up

[2017-04-07 19:05] #103 closed

[2017-04-09 16:01] flowen opened #105 "adding hooks in multiple router setup"
hi! Thanks for the minimalist router, I love it. This might be a bit of a newbie question, but I'm unsure how to add the hooks if I setup the code with multiple routes. Also I wonder if it's possible to overrule specific hooks per route in this setup. For example I want to add a showLoader function for all the routes except 404.

[2017-04-12 09:49] martonx opened #106 "Relative url navigation issue"
Hi,

If I use relative url-s in anchors like: `<a href="./" data-navigo>Back</a>` and my url is http://mydomain.com/admin/settings/create then this link should navigate back to http://mydomain.com/admin/settings

Is it possible to use navigo with these kind of relative urls?

[2017-04-13 10:13] cultulhul opened #107 "feature request"
i would like to request a hook that runs when you are about to navigate away from a route regardless of the route your navigating to

[2017-04-14 14:04] finppp opened #108 "Parameterized URLs in hooks"
It would be great if you could use data from a parameterised URLs in hooks e.g:

[code]

[2017-04-17 19:47] martonx commented on #106
I did a pull request for better handling relative urls in navigo. https://github.com/krasimir/navigo/pull/109

[2017-04-18 20:35] krasimir commented on #105
Hello @flowen,

actually the hooks are added per route. For example:
[code]

And because they are just functions you may extract them to a function definition:
[code]

That way you may create single hook for all your routes and define a specific one for 404 pages.

[2017-04-18 20:37] krasimir commented on #107
Is it possible to use the `before` hook and simply apply same function to all the routes?

[2017-04-18 20:50] krasimir commented on #108
It's done. Added in `4.6.0`. Example in the [README](https://github.com/krasimir/navigo#hooks).

[2017-04-18 20:50] #108 closed

[2017-04-18 22:09] finppp commented on #108
Good man, thank you!

[2017-04-18 22:45] cultulhul commented on #107
yes it is but its not convenient it only needs to run on two routes and they might be some use cases for others were its not possible to do it that way

[2017-04-19 04:52] krasimir commented on #107
Ok, I'll think about `beforeAll` and `afterAll` hooks.

[2017-04-19 15:13] flowen commented on #105
alright, thank you for the answer!

[2017-04-19 15:13] #105 closed

[2017-04-20 12:31] finppp opened #111 "Using anchors tags with navigo"
Is it possible to use <a> tags with navigo? For example going to:
mysite,co.uk/page1#halfwayDownPage
could load page1 and jump to the div with id="halfwayDownPage"

It currently triggers a link to my notFound handler

Thanks

[2017-04-21 05:56] janetha opened #112 "Regex not matching route when querystring is present"
For example, the url is http://something.com/mypage/?q=blah
`Navigo.FOLLOWED_BY_SLASH_REGEXP = '(?:\/$|$)';`
is not able to match 'mypage' as my route.

My question is, is there any consequences if I change the _cLoc from
`return clean(window.location.href); `
to
`return clean(window.location.pathname);`

So far I haven't encountered any problems with it.  Or can anyone provide a regex that can ma

[2017-04-21 09:29] krasimir commented on #106
4.6.1. released containing the fix from #109.

[2017-04-21 09:29] #106 closed

[2017-04-21 18:07] pwrinc opened #115 "Issues with before hook and History state push when resolving same route several times"
I did figure out some strange non expected behavior when resolving the same path several times in sequence.

Using navigo release 4.6.0

Consider following router configuration:
[code]

### Scenario 1
When resolving route `/page1` multiple times in sequence (e.g. 3 times) by either clicking a link `<a href='/page1' data-navigo>` several times or calling
[code]
The route handler is called only once

[2017-04-21 19:31] martonx commented on #106
Big-big THANK YOU!

[2017-04-22 18:32] petard opened #117 "Correctly handling hash in links"
I'm using Navigo to route and load views from the back-end when the user clicks on a menu in my SPA and the route is resolved. When using ```<a href="/<view>" data-navigo><viewName></a>``` in the menu links everything works fine, with or without hash in the URL, e.g. `/<view>` and `/#/<view>` are interchangeable.

What is the correct way to enable deep-linking in my current app so when users bookm

[2017-04-22 18:48] krasimir commented on #111
In theory it should be possible if we don't use the hash based routing. If only the browser history api is used then the hash should be available for other stuff. However, I'm not sure how the browser reacts in this case. I mean you probably have dynamically loaded content that appears later on the page (it is not served by the backend).

[2017-04-22 18:50] krasimir commented on #112
@janetha what are your route definitions?

[2017-04-22 18:57] krasimir commented on #117
Hm ... the hash based routing should work. You just have to initialize the router with that option:
[code]

Otherwise if you want to use the History API of the browser you need to:
* update your server to forward all the request to your index file
* make sure that you set a proper `root` while initializing Navigo

The process is explained [here](http://krasimirtsonev.com/blog/article/deep-dive-int

[2017-04-22 19:18] petard commented on #117
Thanks, that did the trick!

[2017-04-22 19:18] #117 closed

[2017-04-22 19:32] janetha commented on #112
I chose not to to use hash

[code]

The regex '(?:\/$|$)' won't match the entire url http://something.com/nextpage?zipcode=10001 but would match if there is no querystring http://something.com/nextpage/

[2017-04-22 22:27] xf- opened #118 "Regex url inconsistant"
I use hash router and passes sometimes /# to regex if no rout is set on initialization/resolve.

If i open `domain/`
it shouldn't hit the router and match wildcard and add standard arguments. Works perfect and new url is domain/#/en/map . I click on a link and nothing happens. It passes /#/en/map to match function.

If i open with router `domain/#/en/map`
The match works great and router.on passes

[2017-04-23 07:27] janetha commented on #112
Never mind. I understand now that for my scenario, I should really use hash. Thanks for this great library.

[2017-04-23 09:41] janetha opened #119 "URL with substring 'members' results in infinite loop?"
`var router = new Navigo(null, true);`
`router.on({`
`'/st/members': function () {`
`     console.log('/st/members');`
`},`
`'/members': function () {`
`     console.log('/members');`
`});`

When I run
`http://localhost/main/#/st/members/?q=12345`
there is no problem.

But when I run
`http://localhost/main/#/members/?q=12345`
it matched but it won't stop there. Something kept on running and I see

[2017-04-23 09:52] #119 closed

[2017-04-23 10:14] cultulhul commented on #107
Ok, i think a hook that runs when you are about to navigate away from a route would also also be needed in cases were you have many routes that need the to run code specific to them, a beforeAll would involve too many checks to see what is the current route

[2017-04-23 11:02] krasimir commented on #107
Well isn't it `you are about to navigate away` means you are about to enter another one. So `beforeAll` is de-facto what we need.

[2017-04-23 14:48] cultulhul commented on #107
they are similar but i think their is a need for both  a beforeAll hook would be great in scenarios were the code you want to run applies to all routes, if you have many routes that have code specific to them a onLeave hook makes more sense eg in a single page app where the their are many different event listener tied to the html of the specific routes using a beforeAll to remove them would involv

[2017-04-25 11:29] JonasRudolph opened #120 "Using data-navigo attribute on a website without a server leads to absolute file path beeing used as location"
Hey :)
I'm really sorry, that the content of this Issue was just 'Hey :)' in a previous version. I accidentally send this request hitting 'Ctrl + Enter' and then left for lunch before I was able to finish writing this Issue.

## Context:
I want to use Navigo for an offline website, more precise: A documentation for a tool I'm building. The documentation will be shipped in the code for the tool. So

[2017-04-25 12:02] krasimir commented on #120
Sorry, what you mean `without a server`? If Navigo works in a mode where we use the History API then you need to make some back-end changes to get the things working.

[2017-04-25 13:05] JonasRudolph commented on #120
I updated my question and again: I'm sorry, that I submitted this issue before writing the content. I am not sure if you will be notified about the update, but now you will definitely.

[2017-04-25 13:21] JonasRudolph commented on #120
Okay, when I change the router configuration to
[code]
and apply the mentioned fix, then `Article is: #overcview/getting-started` gets logged. I can work with that.

[2017-04-25 17:21] krasimir commented on #120
@JonasRudolph I'll expose that reading of the URL as a api method. It was before using `getAttribute('href')` but we changed it to `.pathname` so we fix another bug. So in order to satisfy the other issue I'll keep `pathname` as default but will give an option to use `getAttribute`.

[2017-04-25 17:43] krasimir commented on #120
4.7.0 released. The router now contains a public method`getLinkPath`. You may overwrite it like so:
[code]
Here's a test case for reference https://github.com/krasimir/navigo/blob/master/test/spec/InBrowser.spec.js#L355-L379

Let me know if it works as expected.

[2017-04-25 21:03] JonasRudolph commented on #120
Wow, that was fast!
I really like your usage of the strategy pattern here :)
I had a look at the implementation and the test - And I don't know why it would not work as expected.

Thank you really much, Krasimir, for taking the time to resolve this issue!

[2017-04-25 21:03] #120 closed

[2017-04-26 10:00] JonasTaulienSolutions opened #121 "Feature Request: Replace current history entry instead of pushing one in Navigo.navigate()"
Hey Krasimir,

## Feature Description
I would like to be able to replace the current history entry instead of appending one when using the navigate method.
The signature of the navigate method could be changed to `function(path, absolute, replace)`. If `replace` is set to `true`, then the current history entry will be replaced with the new one, meaning the user won't be able to use the back button

[2017-04-28 20:18] krasimir commented on #118
Just to clarify. You are at a route `domain/#/en/map` (i.e. in the address bar of the browser you see `domain/#/en/map`. Then you click a link and Navigo is not resolving your new route. If that's the case:
* What kind of a link is this. Does it contain `data-navigo` attribute?
* Did Navigo changed the URL in the address bar after the click?

[2017-04-28 20:19] #112 closed

[2017-04-28 20:33] krasimir commented on #115
Here's the function that manages the hooks:
[code]
So, we have `if (!shouldRoute) return;` which shouldn't allow the routing to happen if you call `before` hook with a `false` value. Can you come with a test case that reproduces your situation.

[2017-05-01 06:10] flowen commented on #81
hi, I think I have a similar problem. I enabled hashes, but direct links don't work. I use the router to forward hashes to ajax calls to the Wordpress REST api.

so for example:
router.on('front-end-dev', () => request('http://example.com/wp-json/v2/posts/', '#tmpl-fe'))
request() is a function that handles the ajax request to the url, then uses Handlebars to compile the results into #tmpl-fe.

An

[2017-05-01 06:50] flowen commented on #81
I should add that the forward and back buttons work as expected (didn't do any deep testing)

[2017-05-02 15:02] stoem opened #122 "URL params not working on root"
I'm new to navigo so please excuse if this is a false alarm.

I'm trying to pick up and process URL parameters. My code is as follows:
`
var router = new Navigo(null, false);
router.on({
		'/members': function (params, query) {
			console.log("/members route triggered");
	}
})
.resolve();`

This works fine when I navigate to /members in the browser but fails to fire as soon as I add any kind of GE

[2017-05-02 15:43] krasimir commented on #122
Hey,

that's interesting. In theory should work. Here're some questions to clarify the situation:
* Is it like you are refreshing the page with `/members?something=here` or you just add the parameter and hit Enter
* That shouldn't be the case but are you sure that your server forwards that request (with the GET parameter) to the same html page where navigo runs

[2017-05-02 15:59] stoem commented on #122
I navigate in my browser to /members, it loads. I can see the routing firing. We use navigo to check the route and make an AJAX call to feed data to a datatable on the page.

I then manually add /members?something=here to the URL to test it. I add it, hit return. Route doesn't fire. I refresh, still doesn't fire.
I need this because links from other pages will send this param.

Param or not, both

[2017-05-02 16:03] stoem commented on #122
I tested my URL in extractGETParameters of navigo - it returns the expected result.
So that part works but that doesn't explain why the route does not fire. If there's a bug it'll be in that area.

[2017-05-02 17:40] krasimir commented on #122
Sorry. One last thing, what's your browser?

[2017-05-02 17:55] stoem commented on #122
I've only tested in Chrome so far.

On Tue, 2 May 2017 at 18:40, Krasimir Tsonev <notifications@github.com>
wrote:

[2017-05-02 20:38] krasimir commented on #122
@stoem can you please try the latest 4.7.1 version. That was a bug and should be fixed now.

[2017-05-03 07:58] stoem commented on #122
Thanks, this works now.

[2017-05-03 07:58] #122 closed

[2017-05-03 16:15] kokujin opened #123 "Example with page transitions?"
Can someone point me to a link of an example with page transitions? Thanks

[2017-05-05 09:53] krasimir commented on #123
Hey @kokujin,

Navigo itself doesn't have the concept about page control. I mean the library doesn't decide what will be rendered on the screen so you may do a page transitions but that's not part of Navigo. I'll be glad to see an example for that tho. You may be also interested in [hooks](https://github.com/krasimir/navigo#hooks). The `before` hook ones allow you to pospone the route switching.

[2017-05-06 11:08] petrck opened #124 "Homepage and detail item route conflict"
Hi, I need to create two routes for my app. The first is homepage, with no parameters and second is detail of item, which is represented urlId parameter. Detail have to contains any world and homepage hasn't. For example:

http://localhost -> homepage
http://localhost/ -> homepage
http://localhost/detail-of-my-item -> detail (urlId = detail-of-my-item)

I have defined this route:

**for detail**:

[2017-05-06 23:40] xf- commented on #118
First case:
I open / and will be directed to /#/en/map (keep URL consistent with current view)

Second Case:
I open or send the current URL to somebody like` /#/fr/map/xzyxzy` or `/#/en/map`.

I don't use `data-navigo`. Most cases i use onclick and use own generate or navigo generate function.

The issue:
It looks like if hash is included opened UR, i will get a different string in regex then i cl

[2017-05-07 10:59] petrck commented on #124
Ok, it looks like bug. I try to this regexp with unit tests https://regex101.com/r/LUo5k9/1/tests
But this match is not accepted with global flag.

[2017-05-08 05:50] #124 closed

[2017-05-08 05:57] petrck opened #125 "[BUG] Regex route with alias, with using generate"
Hi, I found bug, when I create regex route with alias (I does mean "as"), after this, I call generate method, for this route, and I got this:

`result.replace is not a function`

problem is here:

[code]

when route.route is regular expression, cannot have function replace, as string have.

Is possible fix it please? Thank you. #

[2017-05-10 06:37] flowen commented on #81
@krasimir just a friendly bump :)

[2017-05-10 08:49] pwrinc commented on #115
I think the bug is caused in the [Navigo.navigate()](https://github.com/krasimir/navigo/blob/master/src/index.js#L186) method in line 186. There you call history api to replace or push new state before calling resolve() in the next line:

    navigate: function (path, absolute) {
      var to;

      path = path || '';
      if (this._usePushState) {
        to = (!absolute ? this._getRoot() + '/'

[2017-05-10 18:26] asmer commented on #107
I wanna beforeAll and afterAll for common operations too. I will be grateful for that feature :)

[2017-05-11 16:48] krasimir commented on #121
Hey @JonasRudolph,

first of all sorry for the late response. Interesting case. I'm looking the code now and I'm seeing this:
[code]
did you consider using [`pause`](https://github.com/krasimir/navigo#pausing-the-router) API.

If that doesn't help, I'm happy to add one more parameter to `navigate` and use `replaceState` instead of `pushState`. If we have to fix the hash based version of the router

[2017-05-12 11:01] stoem opened #126 "Navigo fails precompile in Rails app"
We use a Rails app with Navigo. When precompiling the JS assets for the project the rake task fails with
`
app/assets/javascripts/navigo/index.js
ExecJS::ProgramError: Unexpected token: operator (>) (line: 42, col: 37, pos: 1135)
`
This is this line
` .reduce((params, value, index) => {...`
in
`regExpResultToParams`

Now I'm a bit of a JS noob so I do not know how to rewrite the => so that this wi

[2017-05-12 11:02] stoem commented on #126
Damn, I just noticed this => syntax is used throughout the Navigo.js file.

I guess I need to learn this syntax and work out how to remove all the instances of => ?

[2017-05-15 14:52] iiison opened #127 "Shows 404 error on browser refresh"
Hi, browser shows 404 error if it is refreshed on any route which is handled at Front-End level. I know one solution is to handle this situation is at server level, by redirecting to `/` and then routes will be calculated at FE. But I want to handle this issue at Front-End level, how react-router does.

[2017-05-15 15:17] krasimir commented on #118
I see. I'll investigate.

[2017-05-15 15:18] krasimir commented on #125
Good catch. I'll take a look soon.

[2017-05-16 18:17] jpeltoniemi opened #128 "Routing is too greedy"
Consider route `/:moduleName/`

I'd expect it to match only one-part urls like `/users/` or `/things/` but instead it matches every url with at least one level.

So, with that route this url `/rock/paper/scissors/` gives me `{moduleName: 'scissors'}` while the expected result is to not match at all.

As `/:moduleName/:pageName` with the url `/rock/paper/scissors` gets parsed to `{moduleName: 'pape

[2017-05-18 05:06] tnguyen14 opened #129 "New getLinkPath function is a breaking change"
Hi, this change https://github.com/krasimir/navigo/commit/c54d0eb4b018b90d6d15023b041419c7b76e849f just broke my site. This is due to the fact that `link.pathname` is different from `link.getAttribute('href')`.

I have the site lives in a subpath, i.e. `mysite.com/app`. Each link in the app is a relative link, for example `<a href="search">` will point to `mysite.com/app/search`.

With this change

[2017-05-18 05:16] tnguyen14 commented on #129
Actually, it was this change that caused this https://github.com/krasimir/navigo/pull/109/files

It changed `getAttribute('href')` to `link.pathname`.

[2017-05-20 13:53] krasimir commented on #118
Hey @xf-, sorry for the big delay. I'm not able to reproduce your cases. I created a simple page which handles routes like `/#/en/map`. Then I put two links: one that uses `data-navigo` and one that if clicked calls Navigo's `navigate` method. In both cases the resolving works. Also the router works if I just visit those pages directly. Can you come with a page and steps where I can see the bug.

[2017-05-20 14:30] krasimir commented on #125
I just released `4.7.3` which fixes the failing. However, the generated string is probably not what you want. And that's because there's no a simple way to fulfill the regex. When the route is a string is easy because it is a simple find and replace. While with the regex we need an analyze to understand where the capture groups are. I feel that this is out of the scope of this library.

[2017-05-20 14:30] #125 closed

[2017-05-20 21:59] krasimir commented on #81
Hey guys,

sorry for the ridicules delay. Can you please explain what you mean by *direct* links. Just as a reminder:
* If there's no `data-navigo` Navigo is not processing the link so clicking on those will probably force a page update
* If Navigo initialization runs and then you change DOM, i.e. add your links make sure that you call `updatePageLinks`. Otherwise Navigo will not process the links

[2017-05-21 13:27] krasimir commented on #115
Just released `4.7.4`. There's no `resolve` in there anymore. Here's my thinking:
* I agree that the there shouldn't a history entry if `shouldRoute = false`
* The way of how Navigo works is
[code]
Indeed there was a bug. That `resolve` shouldn't be in the `navigate` method. It should be called only because the actual path/URL in the browser is changed.
* By design Navigo reacts only on URL change

[2017-05-21 14:09] krasimir commented on #107
4.8.0 version released. It contains [generic hooks](https://github.com/krasimir/navigo#generic-hooks) + [leave hook](https://github.com/krasimir/navigo#hooks).

P.S.
Sorry for the delay @asmer @cultulhul

[2017-05-21 14:09] #107 closed

[2017-05-24 00:11] jgdreyes commented on #115
@krasimir I'm coming into this late, but hopefully you can answer my question.  I was using a version prior to this that relied on `.navigate()` to call `.resolve()`.

For this newer version, when I call Navigate and the router *is not paused* do I need to call `.resolve()` manually?

[2017-05-24 07:33] krasimir commented on #115
@jgdreyes interesting. Let me investigate. I may introduced a bug with those latest changes.

[2017-05-25 14:49] scano opened #131 "Not work with port in url like http://localhost:8080"
I try to run your router in a localhost on por 8080 and doesn't work.
Also, I have tried your example with the same result.
Only 404 errors.

I'm using the url http://localhost:8080 and the latest version of the Navigo

My setup:
[code]
Any idea?

Thanks in advance

[2017-05-25 15:29] flowen commented on #81
@krasimir you can see an example on my portfolio: flowen.me
if you press a link, you're forwarded to this for example: http://flowen.me/#!/creative-coding
But if you copy and paste this link into the browser, I'm redirected to the root page.

[2017-05-26 01:33] nschurmann opened #132 "Subrouting"
For example, i have a route `/dashboard` that will render a sidebar and a top navbar, and everything inside that route, IE: `/dashboard/products` will be rendered as a children of the parent view. Is there a way to achieve this?, if you have an example with just plain javascript will be awesome :)

Amazing library!

[2017-05-26 12:42] lesansley opened #133 ".navigate results in duplicate routing"
Hi,
I have set my router to:
`router = new Navigo(rootUrl, false)`
and my routing table is:
[code]
When I call `.navigate` on some (but not all) pages the page is routed twice so that in my history I end up with:
**rootUrl/recover/success
rootUrl/recover/resend#
rootUrl/recover/resend
rootUrl/recover/success
rootUrl/recover/resend#
rootUrl/recover/resend
rootUrl/recover/success**

The behaviour is

[2017-05-27 13:40] krasimir commented on #126
@stoem please use the files under the [lib](https://github.com/krasimir/navigo/tree/master/lib) folder. They are precompiled and do not use the arrow syntax.

[2017-05-27 13:40] #126 closed

[2017-05-27 13:42] krasimir commented on #127
Hm ... I'm not sure that even `react-router` will handle that. If you don't forward all the requests to your index file then you are not opening a page that contains Navigo. The 404 Not found is the proper response from your server. Or in other words without a server-side forwarding to a single file you can't make a client-side routing works.

[2017-05-27 13:42] #127 closed

[2017-05-27 19:48] iiison commented on #127
Right, my bad, you have to handle that case via webpack in dev-server by changing `historyApiFallback` flag to true.

[2017-05-27 20:57] krasimir commented on #128
This issue made me rethink how Navigo handles routes. The route matching is based on regular expressions and one of them was not quite ok. That's now fixed as part of this latest release. However, these updates change how Navigo uses the registered routes so it may be a breaking change. I bumped the major version. So @jpeltoniemi can you please try with the latest 5.0.0.

[2017-05-28 10:46] krasimir commented on #129
@tnguyen14 sorry for the late reply. That was discussed before indeed. I believe that the router should use `link.pathname` because it is covering more edge cases then `getAttribute('href')`. However, at the same time I think this should be in the control of the developers. There's a way to overwrite it:
[code]
Let me know if that works for you.

[2017-05-28 10:47] #54 closed

[2017-05-28 10:48] #67 closed

[2017-05-28 13:44] tnguyen14 commented on #129
I will try that workaround later. However, there are a couple of issues I'd like to raise here:
1. Even if this is a better change, as it is a breaking change, it should be in a major version to respect semver.
2. It might cover more edge case, but clearly it doesn't cover the case where the site lives at a subpath, instead of the main domain path. If you're keeping with this change, perhaps there

[2017-05-28 13:50] krasimir commented on #81
@flowen can you please try calling `resolve` once you finish with the routes definition (I mean the `on` calls).

[2017-05-28 13:52] krasimir commented on #129
1. I absolutely agree with that. Note taken.
2. The constructor of Navigo accepts two parameters the first one of which is the root path of your app. That's the place where you have to say `mysite.com/app/search`. Otherwise Navigo makes assumptions of your root and pics `app/search` as a root.

[2017-05-28 13:54] krasimir commented on #82
Closing this one. Let me know guys if you still experience similar issues and will reopen.

[2017-05-28 13:54] #82 closed

[2017-05-28 13:55] krasimir commented on #89
Sorry @finppp I wasn't able to reproduce it. I'll close it for now. I really want to help but without a clear failing test I can't solve it.

[2017-05-28 13:55] #89 closed

[2017-05-28 13:57] krasimir commented on #111
@finppp if you set the second parameter of the Navigo constructor to `false` then the hash will not be used while routing. Let me try if that works. If not can you please post an example so I can investigate.

[2017-05-28 23:30] jpeltoniemi commented on #128
Sorry, I was in a hurry and couldn't wait, so I improvised my own router and as it seems to do its job pretty well, I can't really afford to spend time on Navigo anymore :/

[2017-05-29 12:33] flowen commented on #81
@krasimir ooohhh completely overlooked that. Thanks! fixed it for me!

[2017-05-29 20:38] #81 closed

[2017-05-29 21:18] huevoncito opened #134 "clean method breaks route"
@krasimir After passing through the `clean` method, the route gets an extra `/^/`  appended to it. The user expects http://myapp.com/about but instead they get http://myapp.com/^/about which is not very user-friendly and also breaks some other things in my app. Also, I see no need to for the extra `^`.

[code]
Can't we just make it `return s.replace(/\/+$/, '').replace(/^\/+/, '/');` instead?

Tha

[2017-05-29 21:20] krasimir commented on #115
@jgdreyes sorry for taking so long. Please use `5.0.1` version. it fixes the `navigate` method. You don't have to call `resolve` manually.

[2017-05-30 07:16] krasimir commented on #134
@huevoncito are you using the `clear` method directly. I'm asking because I created this page:

[code]

And it all works fine with the latest 5.0.1 version. I didn't see any `^` in the routes.

[2017-05-30 07:24] #123 closed

[2017-05-30 07:25] krasimir commented on #128
Fair enough 👍

[2017-05-30 07:25] #128 closed

[2017-05-30 07:29] krasimir commented on #131
@scano what kind of server you use? Are all of your requests going to the same page above. The client-side routing requires that the server forwards every request to a single html file (the above one).

By `doesn't work` do you mean that you click the links and nothing happens. About the 404 errors, is it like you are opening `/page1` or something different then `/` and you see 404?

[2017-05-30 08:50] krasimir commented on #132
@nschurmann I see your point. Unfortunately the idea of Navigo is to deal only with the routing. It shouldn't know about content. What I'll suggest is to have dedicated functions for managing the content. For example:

[code]

[2017-05-30 08:55] krasimir commented on #133
That's interesting. Do you have a live version somewhere so I can debug? I'll suggest to grab the latest `5.0.1` version and see if that bug is fixed there.

[2017-05-30 15:17] nschurmann commented on #132
Seems great!, btw @krasimir i'm trying to figure out a way to do a rendering based on components but doing only VanillaJS, right now i have something like:

[code]

The main purpose is to do a component based development with vanillaJS but i want to render the components only if the state of it changed (i know is very like react, but i want to do it without react and only vanillaJS), also i know t

[2017-05-30 19:39] huevoncito commented on #134
No, I'm not calling it directly. My setup is like this:

[code]
When the content loads, I call `updatePageLinks()`, which attaches a listener to the links. That listener calls `self.navigate(clean(location));`, where `location === '/about'`, which is correct. However `clean` returns `/^/about`.

[2017-05-31 07:20] scano commented on #131
@krasimir Yes, Chrome shows a 404 error.
I'm using a simple http from npm (https://www.npmjs.com/package/http-server)
Looks like the router not intercept the href.
The same example works fine with Page.js (https://visionmedia.github.io/page.js/)

Thanks for your time and work,
Regards.

[2017-05-31 07:24] #131 closed

[2017-05-31 20:18] lesansley commented on #133
I can tunnel through to my localhost with ngrok. Where can I send you the details?

[2017-06-01 06:53] krasimir commented on #132
@nschurmann I tried dealing with similar challenges when I was working on [absurdjs](https://github.com/krasimir/absurd). There are two really difficult things to achieve:
* dealing with cascade changes if the state is spread between multiple components
* proper/smart rendering where you batch multiple changes into a single rerender

Kudos for playing with VanillaJS. It is always fun. In some case

[2017-06-01 06:54] krasimir commented on #132
I'll this close the issue @nschurmann. Feel free to reopen it or continue comment on it about other topics :)

[2017-06-01 06:54] #132 closed

[2017-06-01 07:05] krasimir commented on #134
Ouch ... yep, you are absolutely right. Just fixed it in `5.0.2` version. Let me know if it works:
![image](https://cloud.githubusercontent.com/assets/528677/26668318/dd235212-46b1-11e7-8241-149c1334246a.png)

[2017-06-01 07:06] krasimir commented on #133
Yep here info@krasimirtsonev.com

[2017-06-01 14:16] huevoncito commented on #134
@krasimir That does it. I'll pull from npm and confirm before closing.

[2017-06-01 21:23] huevoncito commented on #134
Confirmed. We're good @krasimir . Thanks.

[2017-06-01 21:23] #134 closed

[2017-06-03 14:55] lesansley commented on #133
krasimir, figured it out. The navigate was called from a link click and the A tag had href=#, but I had forgotten to include event.preventDefault() in the listener. Thanks for your time.

[2017-06-06 06:29] VeXell commented on #115
@krasimir After this issue simple routers do not work (without any hooks) and i should execute resolve manually.
`executeController(controller, routeParameters) {
        this.trigger('before-change', [true]);

        let queryParameters = this._getQueryParameters();
        let parameters = _.extend({}, routeParameters, queryParameters);

        this._initController(controller, parameters);

[2017-06-06 13:29] finppp opened #136 "Nav if already at location"
It would be great to have a hook for if the target location is 'already' active eg

[code]

As currently this will not call the .on function if you are already at /my-posts. Alternatively it would be great to have a function to enable re-triggering of the .on function

Thanks for all your help!

[2017-06-07 13:11] lesansley commented on #136
This would be a very handy feature. Currently I am having to put in a work around to get this functionality.

[2017-06-08 19:26] krasimir commented on #115
@VeXell glad that it works. I indeed made a bad release :)

[2017-06-08 19:27] #115 closed

[2017-06-08 19:34] krasimir commented on #136
Yep, definitely. Will come the next couple of days.

[2017-06-08 19:57] krasimir commented on #136
`5.1.0` released containing the already hook.

[2017-06-08 19:57] #136 closed

[2017-06-08 21:58] finppp commented on #136
very quick, Thanks!

[2017-06-09 11:32] faunti opened #137 "Generic hooks do not get route parameters"
Having read the documentation, I got the impression that generic hooks would receive paramteres sent to parameterized routes. This is the part that says it:

However, it does not work like I expected. Here is my code:

HTML:
`<a onclick="router.navigate('firstroute/foo/bar')">first</a>`

JavaScript:
[code]

I debugged the issue and found out that in the _resolve_ function, when the function _manag

[2017-06-10 19:23] VeXell opened #138 "Incorrect root detection"
I use last version 5.1 and webpack dev server with these settings
`devServer: {
        contentBase: path.join(__dirname, "build"),
        compress: true,
        host: "0.0.0.0",
        disableHostCheck: true,
        port: 9000,
        historyApiFallback: true
    }`

I init Navigo with default parameters (root= null). In previous version 4.8 after reload page Navigo detects root path well an

[2017-06-11 22:50] blastframe opened #139 "Adding hooks with multiple routes"
Hello.
Fantastic work with Navigo! I am able to get hooks working when adding a route. This may be a very simple matter of understanding Javascript, but I am unable to get the hooks working with multiple routes as in the Demo Basic code.

Is this possible? If so, **where would I place the hooks objects when working with multiple routes?** Thank you.

Hooks when adding a single route:
[code]

Hooks

[2017-06-12 16:08] andrewheekin commented on #82
getting the same issue as @johnhult from Mar 30. When I manually enter an non-existent route `/asdf`, it renders the content from the default route `/` but leaves the incorrect route `/asdf` in the url and builds on it in subsequent requests (`/asdf/projects`). I'm using `webpack-dev-server` and `historyApiFallback`, project here: https://github.com/andrewheekin/andrewdotcom-es6, all routing is in

[2017-06-12 20:51] krasimir commented on #137
Very good catch. 5.2.0 now released containing your fix.

[2017-06-12 20:51] #137 closed

[2017-06-12 20:56] krasimir commented on #138
Finding the root URL was always tricky. The 5.x versions actually have a better route matching but maybe that part with _guessing_ the root is not working the same way. I'm considering making that root parameter mandatory and we always have to provide it. In most of the cases the developer knows where the app is located.

Can you please post here your route definitions so I can reproduce your prob

[2017-06-12 21:01] krasimir commented on #139
Sorry, at the moment Navigo doesn't support adding hooks when using that _multiple_ syntax.

[2017-06-12 21:27] blastframe commented on #139
That's okay! It's a fantastic router. Thank you for your hard work.

[2017-06-12 21:27] #139 closed

[2017-06-13 19:18] VeXell commented on #138
It can be used in most modern browsers, i think.
My routes are very simple:

[code]

[2017-06-14 08:53] finppp commented on #111
Even with the second parameter as false, I still route to the notFound handler

[2017-06-19 16:13] scandinave opened #142 "Nested Route"
Hi,
Can i handle nested route with your router ? and if yes, How?

Thx. And great library.

[2017-06-19 16:17] krasimir commented on #142
Hey @scandinave, sorry, that's not supported at the moment.

[2017-06-19 16:19] scandinave commented on #142
OK thank you for you quick response. I think it will be a great improvement :)

[2017-06-29 11:35] mixmasterfestus opened #143 ".navigate() triggers after .resume() has been called"
Hello,

Have been testing the router pausing and am finding that the call to navigate() will complete after resume() so the route will fire when it's not supposed to.

Is there any scope for having the resume being passable as a callback?

Thanks for you time!

[2017-06-30 16:21] wujekbogdan opened #144 "[feature request] include a current route name in an object returned by the lastRouteResolved() method"
The `lastRouteResolved()` returns an object that contains just the `url` and `query` fields. It would be great if the route name was also included there.

At the moment it's doable, but requires accessing "private" `_routes` property (which is not an elegant solution).

[code]

[2017-07-05 04:48] hanoncs opened #145 "Separation of Concerns"
I was going to use this in a project that does not have webpack. Can I ask why the base lib/navigo.js is a webpack module? Do you have the vanilla js version on a different branch?

[2017-07-05 08:48] krasimir commented on #145
The https://github.com/krasimir/navigo/blob/master/lib/navigo.js file is just fine for vanilla js apps. That's because

[code]
sends `this` as a root which if loaded on page via script tag is the `window` object. So `window.Navigo` points to the library.

[2017-07-12 22:16] philsbury commented on #137
@krasimir is there going to be a tagged [release](https://github.com/krasimir/navigo/releases) of this?

[2017-07-13 08:46] krasimir commented on #137
It's done. I stopped tagging the releases because I was doing it only because of bower. However, I [read couple of articles](https://www.google.bg/search?q=is+bower+going+away&oq=is+bo&aqs=chrome.0.69i59j69i60j69i57j0l3.2494j0j1&sourceid=chrome&ie=UTF-8) that bower is going away and people encourage the community to use npm instead.

[2017-07-13 10:25] philsbury commented on #137
@krasimir Thank you.

It's a debate that keeps coming up. I think a lot of people are still using it, especially for more CSS driven projects, but maybe it's time for me to make the switch to do everything via npm.

[2017-07-13 10:43] krasimir commented on #137
Now, when you are rising this up makes me think that it's maybe too early to drop the tagging of the releases. I'll continue tagging the new versions (if I don't forget :) Probably have to automate it at some point)

[2017-07-13 10:45] philsbury commented on #137
It's a tricky one, you'll never please everyone I suppose. If it can be automated then everyone's a winner! :)

[2017-07-21 13:29] andrewheekin opened #146 "navigating to partial route match before exact route match"
given the following route setup:

[code]

entering the route `/demo/myrestaurant` will navigate to `/restaurant` instead of `demo/:name`. Am I missing an option setting?

[2017-08-03 15:13] elibyy opened #147 "Change the URL without invoking the callback (pause)"
Hey there,
I Think you should add the ability to choose if `pushState` or `replaceState` will be used in pause mode.

Since there might be a time when you want to update the URL without resolving and allow the user to go back to the other URL, but then it should resolve the callback.

[2017-08-05 13:10] krasimir commented on #147
@elibyy it's done I added a new method for your use case - `historyAPIUpdateMethod`. Check out the test to see how it works. https://github.com/krasimir/navigo/blob/9c11bcf9fa58bf08b109422e2ec4c2812fe7fa4f/test/spec/issues/147.spec.js

[2017-08-05 13:10] #147 closed

[2017-08-05 13:16] krasimir commented on #146
@andrewheekin sorry for the big delay. I just added a test that covers your case and it seems that I can't reproduce. What's the browser that you see the problem in:

[code]

[2017-08-06 08:02] elibyy commented on #147
@krasimir thank you very much for this addition, one more thing, the URL won't resolve on `history.back` since the other URL is set in `_lastRouteResolved`

[2017-08-07 09:20] petrck opened #149 "[BUG] - Regexp pages"
Hi, from version 5.x.x stop working regexp in router definitions. I have the same regexp as in version 4.7.x and it stop work. Is problem in my code, I found no reason in changelog.

Here is my routes:

[code]

The cms.page never get handle. I tested it with your examples on readme and the same problem.
Is something wrong in my code and readme is not updated or this is bug..?

Thank you.

[2017-08-09 07:46] neo85 opened #150 "[BUG?] Before hook"
Hi,
not sure if this is a bug or a feature. I call Window.confirm method in before hook. When the user presses cancel i call done(false). The handler is not resolved , that is ok but the hash will change anyway.
I do not want the hash to change when i call done(false), is that possible?
thx

[2017-08-10 20:37] krasimir commented on #150
The thing is that once you call `.navigate` Navigo changes the URL and then runs the hooks. Even tho this sounds wrong it makes sense because without resolving the URL we have no idea which hook to execute. I'll suggest to put your `window.confirm` outside of the hook and just guard the `.navigate` call.

[2017-08-10 20:44] krasimir commented on #149
@petrck can you please post the URL which should match. I mean what's in the browser's address bar which should match the regexp.

[2017-08-10 20:47] krasimir commented on #147
@elibyy hm ... can you come with a test case. I'm not sure that I understand.

[2017-08-10 20:54] elibyy commented on #147
Yup. I have a flight results page and current search editor which allows you to change the itinerary, so i want that change to be reflected in the URL. So example URL
`/search?from=NYC&to=AMS`
Hope that clears it up

[2017-08-10 21:04] krasimir commented on #147
Hm ... but as far as I can see `_lastRouteResolved` is set once the route is resolved. So is it like you are changing the URL but not not resolving?

[2017-08-10 21:12] elibyy commented on #147
Yeah. I see no reason to re-render everything. But i want to fake a navigation so that it will respond on back press

[2017-08-11 05:54] petrck commented on #149
Sure. Maybe this is problem in my code, but older version really works well. Simply I need this:

HOME: http://localhost:5000
CMS http://localhost:5000/everytihing

Now I see, regexp is not fully actually, but this is only on slash different at start.

For example here is test my actually expression:
https://regex101.com/r/dWfp70/2/tests

Thank you for your help.

[2017-08-11 08:42] krasimir commented on #147
Hm ... that's a little bit of a design decision. I'll try to put that logic outside of Navigo because the `_lastRouteResolved` should be changed only if we have the resolving done. I'm not sure how you implemented your app but is it possible to allow the resolving just do nothing in the handler.

[2017-08-11 20:18] krasimir commented on #149
So, version `5.0.0` introduced a breaking change in the way of how Navigo handles the regexp. That's why in that version we bumped the major number from 4 to 5. Unfortunately you have to amend your regexp to make it work.

If you want to catch everything why not using just `([a-zA-Z0-9-]+)`. I'm a little bit confused in your initial regexp example `/\/[^/]+\/([a-zA-Z0-9-]+)/`.

[2017-08-11 20:29] krasimir commented on #144
It's one. `5.3.1` now contains `.name` property.

[2017-08-11 20:29] #144 closed

[2017-08-11 20:31] krasimir commented on #143
Are you using the hash based routing? I mean using `#` symbol in the URL.

[2017-08-11 20:38] krasimir commented on #111
I just added a unit test for your case and it passes. Can you please try with the latest version. I remember that I worked on similar issue before so it may be fixed already.

[2017-08-11 22:21] wujekbogdan commented on #144
Great. Thank you!

[2017-08-12 07:01] petrck commented on #149
Confused? But why. I think unit test in previous post is fully clear. I Need to create two groups, host + start with slash (/everything) is second group. This `([a-zA-Z0-9-]+)` will not really solve. Please look again to unit test and returning string with group.

Here is link to this regexp: https://stackoverflow.com/questions/43831198/javascript-pretty-url-regular-expresison

Instand of "/everyt

[2017-08-12 11:38] krasimir commented on #149
I'm probably really dumb but still can't quite understand where is the bug. If you come with a failing test I'll probably be able to resolve it. Otherwise I guess you should stick with version 4.

[2017-08-12 12:49] petrck commented on #149
I'm not sure, what you mean failing tests. Both tests passed, otherwise I would not send them. In attachment is screen, that test are passed.
<img width="685" alt="snimek obrazovky 2017-08-12 v 14 47 05" src="https://user-images.githubusercontent.com/9294613/29240828-2bbf6ab6-7f6d-11e7-8000-398de6241609.png">

Did you have wrong language selected? I hope that the intention is now clearer.
Thank yo

[2017-08-12 15:50] krasimir commented on #149
No I mean a Navigo unit test failing. I'm sure that the regexp is fine and it matches what you meant. I want to see it failing in a Navigo test so I can see where the bug happens in Navigo's source code.

[2017-08-13 15:33] elibyy commented on #147
@krasimir  sorry you are right, fixed it to be on the `before` hook

[2017-08-13 15:54] McLive opened #151 "Newest version doesn't work with my Parameterized URL"
I have this route: **/domain/1**

I'm using this code:
`var router = new Navigo(root = null, useHash = false);

        router.on({
            '/domain/:id': function (params) {
                $.ajax({
                    type: 'GET',
                    url: '/domain/' + "1" + '/json/get-records',
                    datatype: "json",
                    contentType: "application/json charset=u

[2017-08-13 20:59] krasimir commented on #151
Can you try without a slash in front - `domain/:id`. Or maybe set the root to `/`.

[2017-08-13 21:00] krasimir commented on #147
👍

[2017-08-13 21:07] McLive commented on #151
With root = `null`
`/domain/:id` and `domain/:id` doesn't work

With root = `/`
`/domain/:id` doesn't work

`domain/:id` works!

Thank you :+1:

[2017-08-14 08:52] #151 closed

[2017-08-14 15:18] elibyy opened #152 "[BUG] generic leave hook not being called"
all over the script there's calls to[`_callLeave`](https://github.com/krasimir/navigo/blob/master/src/index.js#L438)

but there's no call to the generic leave

[2017-08-15 09:46] crazyshot opened #153 "Documentation of routes order confusing"
The order of routes adding **do matter**. The URL which is added earlier and matches wins.
...
Have in mind that the order of the added routes using this method **does not matter anymore**. However, if we add series of routes by calling on multiple times we should consider the order of the calls.

[2017-08-15 09:49] crazyshot commented on #153
I think route depth significance should also be documented.

[2017-08-17 07:23] gingray commented on #111
@krasimir have the same issue

[code]
if I pass url with anchor like ```/account#billing``` route does not match.

[2017-08-28 06:56] krasimir commented on #152
Sorry, what you mean by `generic leave`.

[2017-08-29 20:46] elibyy commented on #152
leaving any route

[2017-08-30 10:51] elibyy opened #155 "extractGETParameters doesn't care for #"
Hey there,

if you are using real URL's and not via hash the url might be /some/route#popup
but `popstate` event is still triggered and the match for current route is not matched ` GETParameters === this._lastRouteResolved.query`
because `this._lastRouteResolved.query === '/some/route'` and `GETParameters = '/some/route#popup'`
and it should be ignored IMO

Thanks

[2017-09-10 13:19] maximilianberndt opened #156 "Example with working history?"
I've built my site with navigo and everything works fine, except when I go back manually, my site breaks. Eg. pressing the back button on my browser or swiping to the right on my phone.

Is there an example with a working history?

[2017-09-10 13:25] krasimir commented on #156
Hello,

Thank you for using Navigo.
Can you please post an example of your route definitions? What you mean by "breaks"?

[2017-09-11 16:28] maximilianberndt commented on #156
Ok so I just realized what the problem is.

In my JS file I have an array that looks like this and holds the information about what elements should be displayed:

`var pages = [
  {
    path: "weave",
    position: -10,
    title: "Weave",
    subtitle: "Augmented<br>Fitness<br>Device",
    subtitle2: "2017",
    navClose: false,
    navNumber: 1,
    displayViewProject: "block",
    displayBackBu

[2017-09-11 19:05] hirasso commented on #18
Hi there, I would need the `replaceState` option without navigo being paused, I have a scrollSpy on my site that should change the url with events being fired on scroll, but if the user would hit the back button he should not have to go through all the entries.

[2017-09-25 13:06] micate opened #157 "getOnlyURL logic"
If we pick up the `getOnlyURL` method, comment pushState logic, it would look like this:
[code]

Now if we pass in a param like `/employee?spm=abc#/employee/iparents`, the output is:
[code]
But what I expected is `/employee/iparents`.

[2017-09-26 02:15] maximilianberndt commented on #156
Ok, solved by detecting ajax requests:

`_send = XMLHttpRequest.prototype.send;
XMLHttpRequest.prototype.send = function() {

    /* Wrap onreadystaechange callback */
    var callback = this.onreadystatechange;
    this.onreadystatechange = function() {
         if (this.readyState == 4) {

            console.log("ajax request");

         }

         callback.apply(this, arguments);
    }

[2017-09-26 09:07] micate commented on #157
#158

[2017-09-30 20:20] jeremenichelli commented on #138
I think this issue is super serious because it basically kills the route initialization itself whenever is not **home**, `location.origin` is supported since Safari 7 and IE11.

If you want to support older browsers, location origin can be easily covered by combining `location.protocol`, `location.host` and `location.port`.

[2017-10-06 19:01] Didexe opened #159 "Using Navigo with /"
I am trying to set up my app to use Navigo with / instead of #. I am initializing the router with:
`const router = new Navigo(null, false)`
`const router = new Navigo('/', false)`
`const router = new Navigo(null, false, '/')`
but none of these works. What is the correct way to do it?

A second issue is when I try to navigate to the home page after login with:
`router.navigate('#home')` but it just

[2017-10-07 04:16] krasimir commented on #157
Thank you for reporting the bug. Your solution was on the right track but it broke a couple of other unit tests. The problem is now solved and released as 5.3.2 version.

[2017-10-07 04:16] #157 closed

[2017-10-07 05:59] #156 closed

[2017-10-07 05:59] krasimir commented on #156
I'm glad that you solved your problem.

[2017-10-07 06:05] krasimir commented on #138
So I started refactoring the router to use `location.origin`. However, that breaks a lot more stuff and I realized that it is against one of my core ideas. Navigo should work if you drop it on a page even tho that page is deeply nested. For example `http://site.com/myapps/name/run.html`. If we say that we are using `location.origin` as a root then the router will assume that the path for matching

[2017-10-07 06:05] #133 closed

[2017-10-07 06:06] #118 closed

[2017-10-07 06:36] #129 closed

[2017-10-07 06:36] #142 closed

[2017-10-07 06:37] #143 closed

[2017-10-07 06:37] #145 closed

[2017-10-07 06:38] #146 closed

[2017-10-07 06:39] #150 closed

[2017-10-07 06:40] krasimir commented on #152
A generic `leave` is not supported at the moment.

[2017-10-07 06:43] krasimir commented on #153
Good spot. The README is changed.

[2017-10-07 06:43] #153 closed

[2017-10-07 14:00] surmind commented on #159
try this:
`const router = new Navigo()`

[2017-10-07 14:27] jeremenichelli commented on #138
Hi @krasimir, I agree with the drop-in view you have about a router, no matter how deeply nested the route is. I think that is a big differenciator from other solutions, however I feel that nested path should be specified by the developer so the router works as expected when the application doesn't start from home.

For example, I have a web app with two routes, `/` for home and `movie/:id` for so

[2017-10-07 14:36] krasimir commented on #138
I'm in a constant battle with myself about how to design the router. What you just described is the second variant. The first one is how the router works now. Last couple of months I'm thinking about a rewrite of the whole thing and I may change it indeed as you are suggesting. It's just with the current code base will be nightmare. There are so many things that will break if we start using `locat

[2017-10-07 14:39] jeremenichelli commented on #138
Yeah, I agree it will mess up with a lot of stuff. Probably a re-write would be best, and _check_ current features as you tackle them in the new version. Either way, breaking changes and semver exist for something 😄

[2017-10-07 14:41] krasimir commented on #159
a) If you don't wanna use hash based routing but the history API use `const router = new Navigo()`
b) It should be `home` (without `#`). If you make it work with the history API is again just `navigate('home')`
c) Calling resolve means getting the current URL and try matching it to some of the registered routes. If you open manually `example.com/home` then you'll probably see the home page. If tha

[2017-10-16 03:14] emiliogrv opened #161 "extractGETParameters return Object"
Hi, I have an idea of return Object instead of string, like as:

               function extractGETParameters(url) {
                    let query = {}
                    let temp

                    url = url.split(/\?(.*)?$/).slice(1).join('').split('&')
                    url.forEach(function (item, index) {
                        temp = item.split('=')
                        query[temp[0]

[2017-10-17 18:44] mr678 opened #162 "Route is not resolved when only using query parameter in URL"
Hi,
I'm using ` "navigo": "^5.3.2"`.

I have following code:

    var router = new Navigo(null, true, '#!');
    router.on({ '/home': function (query) {
         console.log('router->on query:', query);
         mainApp.loadCtrl(HomeCtrl, query)
      }
    });

Calling `http://localhost:3000/#!/home` works - route is found.
Calling `http://localhost:3000/#!/home?q=test` is not working - route is

[2017-10-19 18:38] Datamance commented on #162
Same exact issue over here!

[2017-10-20 04:00] krasimir commented on #162
@mr678 @Datamance can you please try 5.3.3 version.

[2017-10-20 07:32] Didexe commented on #159
Thanks!

[2017-10-20 07:32] #159 closed

[2017-10-20 08:42] ultimate-tester opened #163 "Global before hook except for 1 page"
I would like to use the global before hook to check if I have a valid login session:

[code]

This creates an infinite loop, because even on the login page the sessionId is -1. Since I want my full website to be protected by this sessionId check, I would like to know how I can have this global hook for every route except for the /login/ route. Thanks in advance!

[2017-10-20 23:48] mr678 commented on #162
@krasimir works! :-) Thank you so much for providing a fix so fast 👍

[2017-10-21 06:39] #162 closed

[2017-10-23 17:10] MuhammedYousrii opened #164 "hard-Refresh just Ignore Routes With params and go root directly"
first i appreciate your awesome effort at this lib ..
when i navigate to route with params like  --> products/:id/:title
it's work very good at first time **but** when i try to hard refresh on page or just share it , router directly go to **root** route without any respect to current path
 my code is

[code]
i tried to figure out where the problem came from ..
i searched again and again into my co

[2017-10-23 17:26] MuhammedYousrii commented on #164
i just found solve for it by using location.origin into setting new Navigo(location.origin , false , #!);

[2017-10-23 17:26] #164 closed

[2017-10-27 18:33] klbytec opened #165 "URL with query string not working on root"
I saw this issue [https://github.com/krasimir/navigo/issues/122](https://github.com/krasimir/navigo/issues/122) was closed in May. I was using an older version (from June maybe) and now upgraded to version 5.3.3 and the similar problem is happening to me except reversed.

I set:
`var router = new Navigo(null, false); router.on({ '/hello/': function (params, query) { console.log("query="+query); }}

[2017-10-29 18:28] klbytec commented on #165
After trying some more with version 5.3.3, I found out that one simple slash in the setting for the paths made a whole difference.  My problem was from doing this:

`'/hello/': {`
`            as: 'front-page.hello', uses: function () {`
`                console.log('1');`
`                initFront();`
`        }},`
`'/': {`
`            as: 'front-page', uses: function () {`
`                con

[2017-10-30 12:29] mggrand opened #166 "Subroutes does not work"
I have got a very simple route definition but somehow "subroutes" does not work. Assuming I have got this index.html file:

`<a href="first" data-navigo>First</a>`
`<a href="second" data-navigo>Second</a>`
`<a href="third" data-navigo>Theard</a>`
`<a href="/Offer/test" data-navigo>Test1</a>`
`<a href="/Offer/test2" data-navigo>Test2</a>`
`<div id="view"></div>`
`<script src="js/navigo.js"></script

[2017-11-02 23:34] op3d commented on #139
Hi.

Thanks for your hard work. I rly like this router.
Seeing this by searching for another Problem and i think i got an solution?
See the folowing example:

[code]
by the way, with this snippet i set a css class which underlines the current link. Maybe someone can use this snippet.

That could be done much more efficient, but anyway ... you can see the syntax :-)

[2017-11-04 01:47] shoxv commented on #166
I believe version 5 broke or changed something with subroutes. might want to switch to version 4xx for now till @krasimir comments.

[2017-11-04 01:54] shoxv commented on #166
You actually want the / in the a tags e.g. '/first'

[2017-11-06 11:18] shoxv opened #167 "Parameterized routes do not work without the root route."
Since version 5.3, parameterized routes don't work if a root route isnt there. For example:

/products/:id

wont work if there isn't already a route named

/products

This used to work previous to version 5.

[2017-11-06 14:53] krasimir commented on #167
Good catch. I'll investigate.

[2017-11-12 14:47] jjones3535a opened #168 "How to tell navigo to wait?"
I want to configure navigo to wait for Firebase to login (or logout) before rendering any route.

I've seen navigo has a before hook, but it seems this is an immediate callback, and I haven't quite figured out how I would make react-router wait until firebase triggers an firebase.auth().onAuthStateChanged(...) event.

Does navigo  include some functionality to handle such cases?

[2017-11-13 04:40] krasimir commented on #168
Well, the before hook accepts a `done` method. You handle your async logic and call `done` after that. Isn't it this working? If so, can you please post an example of your code here.

[2017-11-14 18:20] bkempner commented on #111
Also experiencing this issue, using 5.3.1

[2017-11-14 21:52] Jordan4jc opened #169 "How to navigate to the root route?"
I'm trying to figure out how to navigate to the root route `/` and I can't seem to understand how I would do that?

[2017-11-17 04:43] krasimir commented on #166
@mggrand is what @shoxv suggested fixed the issue?

[2017-11-17 04:58] krasimir commented on #167
@shoxv can you please try with the latest `5.3.3` version. I think it may be fixed there. Just added a test and it passed.

[2017-11-17 06:14] shoxv commented on #167
@krasimir I did try with 5.3.3, still getting the issue.

I tried to set up some kind of fiddle but it's too difficult due to routing, so I just recorded a video. Hope it helps illustrate the issue. Could be something wrong with my specific setup?
[navigo_testcase.zip](https://github.com/krasimir/navigo/files/1481226/navigo_testcase.zip)

[2017-11-17 08:13] mggrand commented on #166
As I sad in one of my last sentences, I‘ve tried the routes with a slash and without one. Both did not work for me. Thank you

[2017-11-17 08:28] seanhak opened #170 "Is it possible to make routes case insensitive?"
How can I setup so all routing is handled lowercase so I dont have to worry about variants.

I want /shop/, /shOp/ & /SHOP/ to use the same handler.

Thanks

[2017-11-17 15:36] krasimir commented on #111
Hey @finppp, @gingray and @bkempner I found out what's causing the problem. I created the following page containing nothing but:
[code]
With the following `.htaccess` file in there:
[code]
The page is under my local apache and I could access it via the following URL:
[code]
When I open `http://home.dev/Krasimir/_tests/navigo/111/patches#hello` indeed I don't get Navigo working. I started digging i

[2017-11-17 15:40] krasimir commented on #169
Is `router.navigate('/')` working for you?

[2017-11-17 15:47] Jordan4jc commented on #169
It was adding another `/` to the end of the current URL. I actually fixed this with `router.navigate('/',true)`

[2017-11-17 15:47] #169 closed

[2017-11-17 16:05] krasimir commented on #167
I just reproduced the _bug_. It is the same issue as in https://github.com/krasimir/navigo/issues/111 When we initialize Navigo without a root it tries to find it on its own. That process depends on the added routes. It works in your case when you have two routes and Navigo has enough information to find out the `root`. But once you remove it it thinks that the route is `http://localhost:9019/prod

[2017-11-18 05:56] krasimir commented on #166
@mggrand a 6.0.0 version released. Can you please try it out. It should fix your problem.

[2017-11-21 01:57] shoxv commented on #167
gotcha, thanks man!

[2017-11-21 01:57] #167 closed

[2017-11-21 13:09] #166 closed

[2017-11-21 13:55] #168 closed

[2017-11-24 20:07] FRSgit commented on #170
Hey,
Please have a look here, 2 lines above "Tests" headline - [https://github.com/krasimir/navigo#tests](navigo github main page).

Hope I've helped!

[2017-11-25 05:00] krasimir commented on #170
Yep @FRSgit is right. You may use `Navigo.MATCH_REGEXP_FLAGS = 'i'`.

[2017-11-25 05:00] #170 closed

[2017-11-28 03:10] vikramdurai opened #171 "Using "#!" is deprecated"
<https://webmasters.googleblog.com/2015/10/deprecating-our-ajax-crawling-scheme.html>

[2017-11-28 04:09] krasimir commented on #171
Good point.

[2017-11-29 16:51] mbucurcf opened #172 "Pausing, navigating and resuming resolves the route"
Pausing the router, navigating and then resuming resolves the route, because it resumes before the listener callback (`_onLocationChange`) is executed.

The workaround I have used is to resume with a delay.

[code]

[2017-11-30 18:32] TheMangoTrain commented on #159
Hey, this helped me too.

I wanted "/page" type of routes (aka history.state method), not "#page" or "#!page" (aka hash-bang method). There was no clear direction to make this happen on first install.

Most important, besides the ABC steps above, you cannot test the history.state method when directly opening the html file in your local web browser... browsers will throw a security error. You must

[2017-12-02 20:23] heitorfm opened #173 "/area/:id doens't work"
I´m trying to use the url path parameter, but in all cases that i have a variable in the parameter Navigo doesn't recognize the url, and doesn't do the route. So Navigo always choose the default mapping.
The navigate method works, but when i hit the url in the browser it doesn't.

[code]

The url that i´m trying is:
http://localhost:8080/area/fin

I´ve tryed without the port number, but same resul

[2017-12-03 04:58] krasimir commented on #173
Can you please initialize the Router with
[code]
I want to confirm something.

[2017-12-03 05:01] krasimir commented on #172
Thanks for reporting. I'll see what I can do.

[2017-12-03 15:02] heitorfm commented on #173
yep, it worked !!

[2017-12-03 15:17] krasimir commented on #173
That's something I have to address soon but in the mean time the router works better when there's root set up.

[2017-12-03 15:17] #173 closed

[2017-12-04 03:07] ze6ke opened #174 "Handler ignored if hooks.already is the only hook"
I think that I understand the intended usage correctly.  I created a route that has a handler, but doesn't have either before or after handlers.  The primary handler is never called.  Looking at the manage hook code, it looks like it needs one more else statement after the after handler.

Here's my test case that wasn't behaving correctly.
[code]

This is the manageHooks code as it currently stand

[2017-12-04 13:23] theeedannyd opened #175 "Print in chrome"
Hi,

When I press print in chrome, the app refreshes and the the print window disappears. I believe this to be a routing issue but dont know how to fix it.

Any idea at all?

Many thanks

[2017-12-05 03:13] justinffs commented on #173
I am having this issue too, seems like a legit bug is there a reason it is closed?
Also is this documented in the README?

[2017-12-05 04:21] krasimir commented on #173
Just update the README and now contains this:

your application. If you call the constructor without parameters then Navigo figures out the root URL based on your routes. However, this proves to lead to bugs so I strongly recommend to set a `root` value.

The thing is that this _guessing_ bit doesn't work if you have just a few routes. We can't just pick the current one because you may visit the p

[2017-12-06 17:21] justinffs commented on #173
Just a thought ... why not use regex to get the first part or the url and default the root to that?
Something simple like?
[code]

Or there is `window.location.origin` although [older browsers don't support it](https://developer.mozilla.org/en-US/docs/Web/API/Window/location#Browser_compatibility) but a [polyfill would be simple](https://tosbourn.com/a-fix-for-window-location-origin-in-internet-ex

[2017-12-06 17:35] krasimir commented on #173
That's because people (including me) use Navigo in a nested URL like `http://site.com/myproduct/app/` and the root for the router should be `http://site.com/myproduct/app` not `http://site.com`.

[2017-12-08 14:06] DeDu commented on #175
Does not happen in my app. Are you sure it's navigo?

[2017-12-08 15:48] theeedannyd commented on #175
My humble apologies, it was a strange bug, navigo was my last resort but I
worked it out. Thanks

On 8 December 2017 at 14:06, Matthias Dunkel <notifications@github.com>
wrote:

[2017-12-08 15:52] krasimir commented on #175
No worries.

[2017-12-08 15:52] #175 closed

[2017-12-12 13:29] ultimate-tester commented on #171
As far as I can see, they are deprecating their advice. They are not advising anything new, meaning: As long as the site allows its Javascript files and stylesheets to be indexed, it will be indexed fine. You don't have to follow the strict /#!/ anymore, but could also completely omit it.. Navigo should be fine continue to use it as standard.

[2017-12-13 02:01] TheMangoTrain opened #177 "On first-loading, do not trigger matched route"
Hello,

Is there a way to configure Navigo to ignore a matched route on initial page loading?

For example:

I have an SPA, and the server also sends out fully-rendered pages. Essentially this means I have multiple entry points into my SPA.

Given the following route "articles/bob/456"... if I enter that directly into the browser, the server sends a fully rendered page, and it's the content the us

[2017-12-13 03:49] krasimir commented on #177
Can you please try to not call the `resolve` method when you are on the client.
[code]
This is what kicks the default url check. So if you run it when server-side  and don't when you are on the client it should behave as you described.

[2017-12-13 13:56] TheMangoTrain commented on #177
That works! thanks

[2017-12-13 13:56] #177 closed

[2017-12-13 14:03] TheMangoTrain commented on #65
OP mentioned changing page title within handlers. Below is a basic example for anyone needing it:

router.on({
        'find': () => {
            LoadFind()
        },
        'post': () => {
            LoadPost()
        },
        'event': () => {
            LoadEvent()
        }
    });

function LoadFind() {
    RouterLoadHTML('./templates/find.html', 'content');
    top.document.title = "M

[2017-12-16 12:45] #171 closed

[2017-12-18 12:55] elrapha opened #178 "Page does not reload on navigate"
Hi
When i use a link to navigate. the url changes but the html for the previous page and the next page overlap on the same page. I have to manually refresh the page to get only the html i navigated to to appear.
Why does the page not refresh in a way to clear the old page to make way for the new page.

[2017-12-18 13:55] #178 closed

[2017-12-18 13:55] elrapha commented on #178
It was my bad. I was using element.InsertAdjacenthtml instead of innerhtml

[2017-12-20 16:05] guimachiavelli opened #179 "Hook not firing on first page unload"
Hello, @krasimir!

Thank you for this nice library, it's very handy to have a vanilla js router.

On my current project, I skip resolving the routes on page load since the server already serves the correct and fully formed page. However, when the user navigates away from the page, the `leave` hook does not fire (which is unfortunate since I rely on it to do some clean up before the page transition

[2017-12-20 16:18] krasimir commented on #179
Yep, I see what's the problem. When I started working on Navigo SSR wasn't a thing :) So, indeed because of the SSR the `_lastRouteResolved` is empty and there's no hooks to call. However, I have the feeling if this was working you'll need something more then the `leave` hook. That's because that hook is synchronous. I'll suggest to implement the clean up outside of Navigo. For example:
[code]

[2017-12-20 17:06] guimachiavelli commented on #179
hi again,

Thanks for the quick reply!

In the end I did get my hack with the `_lastResolvedRoute`to work by setting it as the current route (I had previously misread Navigo's code on what it expected `_lastRouteResolved.url` to be). So, my solution was:

[code]

In any case, not sure if I misunderstood your reply or if it isn't applicable to my specific case: a route does not have access to anyth

[2017-12-27 17:33] elrapha opened #180 "Refresh current page"
Is it  possible to refresh the page you are already on by navigating to the same url.
Or trigger a page refresh

[2017-12-27 18:03] krasimir commented on #180
Hello,

What's your server setup? Is it a node app or it is served by apache? Are you pointing all the request to the same index file.

[2017-12-27 18:07] elrapha commented on #180
Well i am using hash urls. Much like the last one there (same index file) so i just need the page to refresh when I navigate to the same page.

[2017-12-27 18:29] krasimir commented on #180
Do you have that page somewhere online so I can see how it works.

[2017-12-27 19:13] elrapha commented on #180
I managed to figure it out. Instead of navigating to the same url, I just call the page rendering function that is called by the router at that url.  Then the page refreshes fine.

I think you misunderstood my question though. What i was saying was that i call router.navigate("mypage") then i make some api calls which should affect the data on the current page. These changes are only visible after

[2017-12-30 02:31] #180 closed

[2017-12-30 10:36] elrapha opened #181 "params object for leave hook NOT DEFINED"
The example code for router hooks indicates that the leave hook accepts the params object as well. But seems the object is null.

[code]

[2017-12-30 11:16] krasimir commented on #181
Can you please try the latest `6.0.2`. Just provided a fix for this.

[2017-12-30 11:30] elrapha commented on #181
Thanks now it works

[2017-12-30 11:30] #181 closed

[2018-01-05 11:09] pastaclub opened #182 "For a route, handler does not get called but hook gets called"
[code]
When navigating to /sim, the handler ('enter sim') does not get called, but when navigating from /sim to another route, leave gets called.

Am I doing something wrong or is this a bug?

[2018-01-05 11:16] pastaclub commented on #182
Also enter does not work, while leave works:

[code]

[2018-01-05 20:35] pastaclub commented on #182
This is another effect of the bug pointed out in issue #174

[2018-01-05 20:41] pastaclub commented on #174
Same problem for `leave` hook (#182)
The solution provided by @ze6ke will fix both.

[2018-01-06 04:19] krasimir commented on #174
@ze6ke @pastaclub thank you for the suggestions. Indeed that was a bug. I think both issues may be solved by the new 7.0.0 version. Can you please try it out and let me know.

[2018-01-06 04:24] krasimir commented on #182
Thanks for rising this up. The new 7.0.0 version will probably indeed fix this one too. Can you please try it out.

[2018-01-06 09:22] pastaclub commented on #182
I tried it and I can confirm it's fixed now. Thank you!

[2018-01-06 09:22] #182 closed

[2018-01-06 09:25] pastaclub commented on #174
I tested this one as well, it's also working now (in my implementation).

[2018-01-08 02:14] ze6ke commented on #174
Same for me.  Thanks for the fix.

Also, I didn't get a chance to mention it before.  Thanks for the library and the writeups.  Those were good reads.

[2018-01-08 10:09] VsLoureiro opened #183 "An export assignment cannot be used in a module with other exported elements after update 4.0.4"
I Started having this error after 4.0.4 update.

ERROR in [at-loader] ./node_modules/@types/navigo/index.d.ts:62:1
      TS2309: An export assignment cannot be used in a module with other exported elements.

[2018-01-09 09:09] elrapha opened #184 "Passing Hidden Params"
Does this library support passing hidden parameters among pages on navigate? I thought it would be useful to pass params that do no necessarily appear in the url or query string. Similar to the generic way of POSTing data to a page in the traditional sense.

router.navigate(url,absoluteFlag,hiddenParam).

[2018-01-09 22:26] mathiasrw commented on #172
Any news on this one?

[2018-01-12 15:47] dancespiele commented on #183
@VsLoureiro sorry I was working with it, try to update it now, the version 4.0.5 works fine,

[2018-01-12 16:17] dancespiele opened #185 "Try to understand methods to continue to work in \@types for navigo"
I would like to understand some methods how works and what is the the type values expected to add to \@types/navigo (right that I have to change the version to 6):

could someone show me please some examples with the methods `off()`, `.updatePageLinks()`, `historyAPIUpdateMethod` and the type of value for `off()`, `getLinkPath`, `historyAPIUpdateMethod`?

when is the `already` hook executed? becau

[2018-01-15 01:49] dancespiele commented on #185
I request new changes in @types, I think that everything is typed. Finally I understood the methods `updatePageLinks()` and `getLinkPath`, but I continue don't understand the methods off(), `historyAPIUpdateMethod()` and `disableIfAPINotAvailable()`. Supposedly when I change the history method to replaceState `historyAPIUpdateMethod('replaceState')` and execute `disableIfAPINotAvailable()` it shou

[2018-01-15 04:58] krasimir commented on #185
Hey, sorry for the delay.

* The `off` method is suppose to do what `on` does. I.e. remove a route listener.
* `historyAPIUpdateMethod` is here because a developer came with the case where `pushState` method of the [history API](https://developer.mozilla.org/en-US/docs/Web/API/History_API) is not quite ok. He wanted to use `replaceState`. So if it happens that this is your case too you can set it

[2018-01-15 08:40] c-bik opened #186 "Page refresh with URL params"
I have all urls using navigo routing. All of them are working on page refresh except the one with URL parameter (`/course/:id`). On page refresh `/course/:id` is loading home page!

Navigation without page refresh is working fine.

Given below are the relevant code from server and client.

What am I missing?

### Server (NodeJS+Express)
redirects to `/index.html`
[code]

### Client
[code]

Thanks

[2018-01-15 11:37] dancespiele commented on #185
@krasimir I make this test:

[code]
the on is the same than off but I have still access to the path.
About the `historyAPIUpdateMethod` and `disableIfAPINotAvailable` could you provide how I could test them please?

[2018-01-15 11:49] dancespiele commented on #186
Also it happens me, the unique thing which I can tell you is how I resolved it outside of the `navigo`, it would be like this:

[code]
I hope that it works also for you

[2018-01-15 12:07] c-bik commented on #186
thanks 👍 @dancespiele for replying.

I am quite eager to try this out, but not sure I quite understood your proposed solution. Do you mean I can try as following?

[code]

More dumb questions (quite new to all these, so please forgive me):
1. `currentUrl` how/who maintains this variable?
1. `configRouters` do need to defined all routes into this variable first?
1. How is it really working?

[2018-01-15 12:54] dancespiele commented on #186
sorry @c-bik I copied a fragment of my code the framework that I'm working on:
you don't need currentUrl, it would be like this

[code]
another thing which I realise is that you define this
[code]
Remove it. That is the problem which when reload the browse it goes directly there.
With my solution I assign the default path which I want to go when I run the website.

[2018-01-15 17:31] c-bik commented on #186
@dancespiele Thanks again.

Struggled a bit between my understanding and navigo but still no joy!

This is what I have so far:
[code]

Interesting observation with the following logs
[code]

**prints non null object (with `url` property in it) for all URLs except `/` (understandable since now `*` is deleted) but also for `/course/:id` so I can't parse the id**

using navigo-5.3.3 (if that matters)

[2018-01-15 18:46] c-bik commented on #186
Created [this small project](https://github.com/c-bik/navigo_test) to demonstrate this issue:

![navigo-fail](https://github.com/c-bik/navigo_test/wiki/images/navigo_fail1.gif)

[2018-01-16 10:04] VsLoureiro commented on #183
@dancespiele Yes it works fine now! Thanks!

[2018-01-16 10:04] #183 closed

[2018-01-16 11:26] c-bik commented on #186
If this a known issue I can try to fix it and offer a PR if I am successful.
But will I need some pointers as to where to start looking for it.

[2018-01-16 12:42] dancespiele commented on #186
@c-bik try with this:

[code]
In your case, maybe because you are using express you need to specify the root url.

[2018-01-16 16:15] c-bik commented on #186
@dancespiele Yup that did it! Thanks a tonne, you are a life saver.

I ended only with the following change:
[code]
... in stead of...
[code]

**Note** : It also worked without...
[code]

Been stuck with is problem for weeks, can't thank you enough @dancespiele

[2018-01-16 16:15] #186 closed

[2018-01-23 14:32] nmfoss opened #188 "Routes not resolved when only query params updated."
I dont know if this might be an issue or a feature request.

If I only update query params the routes are not triggered.

Example:
router.navigate(?something)

This only updates the URL in the addressfield, but does not trigger the default route. I am trying to do navigation with only updating the URL params so I dont need a lot of useless url handling on the serverside. Using a switch case on the

[2018-01-30 15:32] EdwinHauspie opened #189 "IE9: weird navigation, possible solution inside"
In IE9, pushstate is not available, and function _navigate: function (path, absolute)_ causes weird behaviour when **not** using a hash.

When I want to go to "/contact", it will go to "#/contact" and doesn't take into account if you are not using the hash.

I think the solution must be (line 194 in source code):

window.location.href = window.location.href
          .replace(/#$/, '')
          .

[2018-02-08 09:42] peppeg85 opened #190 "stop routing"
hello, i need to check if an operation is done, if not i need to remain in the page and don't resolve the route, i've tryed this:
https://github.com/krasimir/navigo/pull/154
but resolve(false) goes loop;
is there a way to stop the routing?
here is my code
`    leave: function (params) {
            console.log("leave");
            if(stop==0){
              router.resolve(false);
            }

[2018-02-08 09:50] krasimir commented on #190
In general such situations should be solved outside of Navigo. Navigo as a router shouldn't be involve in such decisions. There is some API to help with this but if it doesn't cover your case I'll suggest to do your logic upfront.

I'm not sure how you trigger the page update but if it is a link then simply do like so:

[code]

[2018-02-08 09:57] peppeg85 commented on #190
i use a unique back button and in the router i have a variable updated with the parent directory for each page, so when i press the back button it routes to the parent page. is there also a way to prevent the back button of the browser?

[2018-02-08 10:07] krasimir commented on #190
Nope, you can't workaround the back button of the browser. I guess you have to write a better logic in your app.

[2018-02-08 10:23] peppeg85 commented on #190
it could be workarounded with the window beforeunload event, and it works but only on the page refresh, because with the router only in case of refresh the page unloads all the resources

[2018-02-09 13:42] eugeniumegherea opened #191 "Incorrect path detection"
Hello.
Today found some ugly bug.
Sample:
`router.on({
					'/search/:v/:q': {
						as: 'search',
						uses: function () {
							console.log('search', arguments[0]);
						}
					},
					'/locations': {
						as: 'home',
						uses: function () {
							console.log('root');
						}
					}
				});	`

The route search will never work if in its parametrized url will be string '/locations', which i

[2018-02-09 14:05] SagarNaliyapara opened #192 "Initial state issue"
Looks like initial state doesn't work properly,

if i'm at home page with url - '/' and i redirect manually to 'user/slug' and changing url with this,

`window.history.pushState(null, null, '/user/slug')` and it change url but in user page if i click back then it doesn't work.

same thing happen for all url with initial state back button not working all other state works well.

[2018-02-09 14:07] SagarNaliyapara opened #193 "Url with only slug doesn't work"
If i use url like this
[code]
then this one works but if i use as following it doesn't work,

[code]

[2018-02-09 16:20] krasimir commented on #184
First of all sorry for the delayed answer.

I started implementing this feature and the implementation flooded the code base with a lot of patches to make this possible. Then I realized that it is not the job of the router to deal with such state. So I have to start thinking in a more pragmatic way and try minimazing the API of the library. I'll say that if some data need to be send to a handler y

[2018-02-09 16:20] #184 closed

[2018-02-14 05:01] #174 closed

[2018-02-24 14:01] 0x00000F5C opened #195 "Setting root doesn't work."
As documented, I set a root when initiating the library
`new Navigo(location.origin + "/", true, "#!");`

But whenever I use the .navigate() method, it will always append new hash to existing path rather than appending it to root.

e.g.
`new Navigo("http://localhost/", true, "#!");`
from `http://localhost/test` clicked `.navigate("#!/something")` I get `http://localhost/test#!/something` rather th

[2018-02-24 16:30] krasimir commented on #195
That is correct. I mean your example illustrates how Navigo should work. The reason of this behavior is that you are mixing the two types of routing. Passing `true` as second arguments means that you wanna use a hash-based routing while `/test` is using the history api type of routing. So you either go with `http://localhost/#!/test` or `http://localhost/test` but say `.navigate('something')`. Als

[2018-02-25 03:39] 0x00000F5C commented on #195
I see, I mistaken what was said in the documentation.

I'm closing the issue.

[2018-02-25 03:39] #195 closed

[2018-02-26 16:57] killmenot opened #196 "Is there a way to run reload?"
@krasimir Hi,

Thanks for the nice lib.

Is it possible to run reload for router to re call routing logic. Example:
[code]

[2018-02-26 17:21] killmenot commented on #196
The only way I found that allows me to do a reload is the following:

[code]
But this solution has issues with `leave` [logic](https://github.com/krasimir/navigo/blob/master/src/index.js#L434-L440)

[2018-02-27 08:39] krasimir commented on #196
Hey,

I'll suggest to shift this concerns out of the router. I mean at the end you have functions/handlers that Navigo fires right. So why not define the handlers as named functions and call them when after you update the data:

[code]

Following this approach you'll decouple the rendering of the routing.

[2018-02-27 10:12] killmenot commented on #196
@krasimir Yes, it also works but require me to update the code. Thank you.

[2018-02-27 10:12] #196 closed

[2018-03-17 18:19] s43 opened #197 "Retrieve params within a route"
Hello Krasimir,

First of all, much thanks for the awesome work on Navigo, I how simple it handles things !

I'd like to know if there's a way to retrieve params within a route ( ex. product/:id ), I'd like to do it using just Navigo Methods ( If it's possible, and I doubt it cause I searched within the code and nothing appears to handle such a case… correct me if I am wrong ).

I'd sort it out my

[2018-03-18 04:32] krasimir commented on #197
Hello,

yep, there is such a feature - [parameterized urls](https://github.com/krasimir/navigo#parameterized-urls).

[2018-03-28 17:00] adoweb opened #198 "Click on same link several time"
Hallo Krasimir, thank you so match for this awseome plugin.

I use Navigo to open my modal links. I noticed that if I click twice on the same link, for the second time modal window does not open. I think this issue it's related with the latest resolved route.
How do I do that every time when I click on the modal link Navigo should triggerd my modal function.

E.g.
    Router.on({
        'about/:n

[2018-03-30 18:35] krasimir commented on #198
The way of how this should work is that you have a dedicated URL for the modal but when you close it you change the URL back. Like for example:

[code]

[2018-03-31 20:15] 7ender13 commented on #172
Same issue for me, any news ?

[2018-04-01 04:04] krasimir commented on #172
Hey,

I'm working on a complete rewrite of the library because the code code is not really manageable. Once its done I'll address all the issues in that new release. Some of the old issues could be solved in the current version. However, this one leads to lots of changes and I decided to leave for that new release.

[2018-04-01 08:13] 7ender13 commented on #172
Hey,

Good to ear ! Good luck for the rewrite ;)

[2018-04-02 17:57] mathiasrw commented on #172
@krasimir sounds awesome - put it up into a new branch if you need help with anything.

[2018-04-21 06:12] jfftck opened #200 "Child paths inside parent paths"
It would be great if this was bound to an instance of a child router.

[code]

So, route `/player/joe` would give you details on that player and display the contents of the `this.render(...)`, but `/player/joe/stats` would skip the first render method and display the contents of the `this.onRender('/stats', ...)` method. By using the power of closures, it would allow much smaller code and keep fro

[2018-04-23 17:06] jfftck commented on #200
The other option is to pass in the router as a parameter, so it can work with es2015+ arrow functions, like this:
[code]

Notice how all the render methods don't get the router passed in since they are for displaying the contents and not resolving routes.

[2018-04-23 20:06] krasimir commented on #200
Interesting suggestions. I'm now in a process of rewriting Navigo. I'll consider the examples above. Thanks.

[2018-04-27 11:56] nedpals opened #201 "Mounting to an element?"
Hi, just a quick question. I'm coming from making apps using traditional client-side routers where there is a mounting point where I can only render it on a portion of a page. My question is, does Navigo have this? Skimming the whole docs seems nowhere to be found (or I must have just crossed it). If not do you have any plans for it? Thanks.

[2018-04-27 21:07] krasimir commented on #201
Hey, sorry, there is no such concept in the current version of Navigo. I'm currently rewriting the library and I'll definitely do that for React based apps.

[2018-04-27 23:40] nedpals commented on #201
Oh okay thanks. Looking forward for the rewrite :smiley:

[2018-04-27 23:40] #201 closed

[2018-05-13 09:41] buff32 commented on #191
I'm interested in working on a PR for this, but I've not been able to replicate it in either Chrome or Firefox.

This is the test page I've used:

[code]

Console outputs accessing "#/search/notlocations/d":
`search {v: "notlocations", q: "d"}`

Similarly, for "#/search/locations/d":
`search {v: "locations", q: "d"}`

Could you provide some sample code that demonstrates the problem please?

[2018-06-02 15:09] maximilianberndt opened #202 "Accessing elements in view after navigation"
I am trying to add a class to access the loaded elements in the view div after navigation. It works fine on the initial load but after navigating I can't access them anymore. Is there a hook that tells me when the content is fully loaded and parsed?

These are my current hooks:

[code]

[2018-06-03 05:44] krasimir commented on #202
Hey, I'm afraid that this is not a router concern. You have to deal with the situation using jQuery's API.

[2018-06-03 05:44] #202 closed

[2018-06-03 09:07] maximilianberndt commented on #202
Thanks! I was able to select the elements using plain javascript. Not sure why jquery is not working.

[2018-06-08 14:57] bennettscience opened #203 "Event binding in templates"
I'm newer to routing and I understand the mechanisms of single-page apps, updating container `div` content with templates, etc.

I'm having a hard time binding events (click, keyup) to templated elements. If the script is loaded in the `index` container, there is no element to bind and it throws an error. I feel like I'm missing something fundamental, but I can't put my finger on it.

The main scr

[2018-06-08 15:03] byrro commented on #203
Hi @bennettscience

I believe your issue is not associated directly with a question, problem or bug in Navigo, is it? I guess you'd receive more help if you post on StackOverflow or similar community of developers.

If your issue is indeed associated specificaly with Navigo implementation, please clarify in more details more what have you tried (providing your code), what you do you expect and wha

[2018-06-20 12:21] foxdonut opened #204 "Optional parameterized URLs"
Navigo looks great!

I can't seem to find how to achieve optional parameterized URLs:

`router.on('/user/:id?', function(params) { ... }).resolve();`

I know about wildcards and regular expressions, but it's not the same as an optional parameter. Namely, to get `params.id` in the example above, and also, to be able to name the route and use `generate`:

[code]

Can this be achieved with Navigo?

T

[2018-06-20 14:09] foxdonut commented on #204
@krasimir makes sense, I understand the rationale, thank you for the (prompt!) explanation, I appreciate it.

[2018-06-20 14:09] #204 closed

[2018-06-20 15:36] handijk commented on #189
The hash is a requirement to fake pushState functionality in IE9, so not using the hash and supporting IE9 is not an option at all.

[2018-06-23 08:05] kostyanet opened #205 "Improvement: Leave hook handler needs passing done callback"
Leave hook handler needs passing done callback the same way it's being passed into the enter hook handler. This one is needed to prevent leaving pages containing unsaved form data, etc.

[2018-06-25 11:44] krasimir commented on #189
Yep, I agree with @handijk.

[2018-06-25 11:44] #189 closed

[2018-06-25 11:45] krasimir commented on #205
Good suggestion. I'll add it to my list for the rewrite of the library which is happening now.

[2018-07-01 14:44] VladimirDev93 opened #207 "Routes only work on localhost"
Hello,

This is not a real issue but I'm asking a question here since stack overflow community is not answering questions related to your library. I really like your library but I'm not sure if I understand it correctly. Here's the thing:

This works both on localhost and on live website
[code]

However, this doesn't
[code]
Only the main handler works with this configuration and the rest of the ro

[2018-07-19 16:06] leonardorame opened #208 "Preventing url change on href"
Hi, I would like to know if it's possible to do some action when a user clicks on some `<a href...>`, but avoid changing the url in the browser.

I thougth this could be done with an `before` hook and `done(false);` but it still let the browser change the url.

[2018-07-20 04:57] krasimir commented on #208
Hello,

how’s your link looks like?

Best regards

[2018-07-27 13:31] jpenna commented on #138
This suggestion of `location.origin` should be written at the documentation, and the backward compatible choice of `location.protocol`, `location.host` and `location.port` too.

The documentation says we should set the entry point on `new Navigo()` but doesn't suggest how. I was trying `location.host` (which didn't work) and hadn't think about `location.origin` until I saw this issue.

And thanks

[2018-07-28 05:43] krasimir commented on #138
@jpenna What I meant by entry point was the `root` param of the constructor. In general, the next version will rely completely on that `root` param and it will be made mandatory, because trying to guess what it is is buggy.

[2018-07-29 05:02] jpenna commented on #138
@krasimir What I am saying is that it should be written here:

[2018-08-02 09:05] hotcacao opened #209 "How to check a url match to any routes?"
Hello everyone,

First of all, thank you for your great project very much.

Unfortunately I can not find out any way to check a url that matches the any routes from an instance of Navigo router. However, I think that there must be a way that Navigo can verify matching between routes and urls.

So, can you export to a new method similar:

Thanks in advance.

[2018-08-04 07:29] milmaj opened #210 "Adding a route by starting "'#" and Parameterized"
I have 3 following urls:

domain.com/@username
domain.com/@username/:someOtherParameter
domain.com/@username/:someOtherParameter/edit

How can I let navigo handle this kind of url, recognize the '#'-starting part and make username a parameter.

[code]

[2018-08-07 06:56] xwisdom commented on #209
Hi,

Try using the resolve() method:

[2018-08-08 14:15] Lev90 opened #211 "Browser Back Button"
hello, example of my routes:

[code]
products will open in modal so when i open for example 3 products and then i click browser back button it will resolve (3 product) last routes so open again the product, is there a way to remove this routes from history? or dont push it to history when this route is resolve "products/:categoryId/:productId"

[2018-08-12 21:12] MartinGeldart opened #212 "Deepest routes not being respected first"
I'm a GitHub newbie and hope I'm not wasting anybody's times here if this turns out to be a me problem.

I have this router setup:

[code]

Navigating to `/london/travel/car` unfortunately triggers the route for `/london/travel`. I navigate using this `Navigo.navigate('/london/travel/car')`. However, if I navigate to that route using the browser's address bar, the correct route is triggered, which

[2018-08-12 21:30] MartinGeldart commented on #212
The more research I do on this issue, the more convinced I am that what I'm trying to achieve is referred to as 'nested routes' - a feature that is not supported by Navigo. Could somebody confirm this?

[2018-08-13 08:34] krasimir commented on #212
Can you try declaring the two routes in a separate `.on` call.

[2018-08-13 10:03] MartinGeldart commented on #212
I just tried declaring the routes separately as you suggested but I get the same result; navigating to `/london/travel/car` triggers both routes.

[code]

[2018-08-13 10:45] MartinGeldart commented on #212
Following up;

I thought I would change

[2018-08-13 10:45] #212 closed

[2018-08-16 14:30] gabrielchiconi commented on #207
You need to glob the server to not "eat" the paths and instead render the same as the `/` route for every request you want Navigo to handle.

# Explanation

When you send a request to a server, it analyses the URI to determine which files it is going to execute/serve. For that reason, if you navigate first to, let's say, `/` (imagining your SPA is located at the home page/root), the server will ha

[2018-08-16 15:57] gabrielchiconi commented on #188
Hi! Not the author, but I used to do barehanded routing before coming across Navigo (which is exactly why I found this), and I believe it is not possible since to track the routes we need to listen to 'hashchange' (or fall back to polling location.hash), both of which only work when the # bit changes. Does updating the hash location together with the query string force a refresh and get the desire

[2018-08-21 11:00] hotcacao commented on #209
Hi @xwisdom

_**router.resolve(url)**_ means to redirect to the _**url**_  if the _**url**_  is existed in the configuration.

What I mentioned the in previous post is how to check whether the _**url**_ existed in the configuration or not.

So your code does not help me much.

[2018-08-27 13:40] yellow1912 opened #213 "Force reload"
Would be nice to be able to force reload of the current state even if the route stays the same, there are several use cases for this especially when you need to perform the steps inside the specific state again.

[2018-08-27 13:42] krasimir commented on #213
Is this helping https://github.com/krasimir/navigo/issues/196#issuecomment-368788107

[2018-08-29 02:51] neomicho85 opened #214 "No #, no work"
Do I miss something?

[code]
I don't want to use hash (# or #!) I just want some thing like this: http:// [site-url:port]/about
But that says: The requested URL /navigo/about was not found on this server.
navigo/about doesn' exists, is right, but I just want that the console says 'about' and not redirect to other page, I was specting that navigo resolve that URI. How can I use navigo to do that?

[2018-08-29 12:18] neomicho85 commented on #214
I'm using **Webpack** + **Node** + **Vanilla Javascript**. No server side language like PHP, or Ruby. There is any configuration in node that you know a need to do to redirect all the request to my index file?
All the project run under **http://localhost:8080** in developer, but in production all the project will run under **https://site-url/customer/**.

[2018-08-29 12:39] krasimir commented on #214
Is it like you have an express-like:
[code]

[2018-08-29 12:50] neomicho85 commented on #214
No, I'm not using Express. Do you recommend me to use it with navigo?

[2018-08-29 12:58] krasimir commented on #214
Actually it doesn't matter as long as all the requests go to the same page where navigo operates. Navigo is a client-side library. It doesn't work on the server yet. You mention `The requested URL /navigo/about was not found on this server` which makes me think that your server-side server code is not catching the URL and it is not serving your html (where navigo operates)

[2018-08-29 14:38] neomicho85 commented on #214
In my WAMP, I use the **.htaccess** you have in the example folder:

And everything work as I need. Thx krasimir. My only problem is with my **node** project and the configuration in my **webpack-dev-server**

[2018-08-29 14:48] krasimir commented on #214
I see. I'm not sure how `webpack-dev-server` deals with routing. I have the feeling that `http://localhost:9000/something/else` is just not opening your `index.html`.

[2018-08-29 15:20] neomicho85 commented on #214
Already fixed, in **webpack-dev-server** I just add this
[code]

And everything works perfect.
Thanska a lot krasimir for your time, explanation and help

[2018-08-29 15:21] #214 closed

[2018-08-29 15:28] krasimir commented on #214
👍

[2018-09-03 13:45] RUSSCITY opened #215 "Handling location.hash"
My router looks like this:
[code]

This works fine on `mysite.com/faq`, but as soon as I add some hash to url, I cannot trigger this route anymore. Like `mysite.com/faq#anchor` fail in "not found" section.
I tried to fix it with some regular expressions, but with no success. Can anyone help me?

[2018-09-03 13:57] krasimir commented on #215
Hello, @RUSSCITY how did you initialize the router?

[2018-09-06 18:50] RUSSCITY commented on #215
Hello, @krasimir, thank you for writing back!

I initialize router without any parameters:
[code]

My backend is configured to always show the same frontend ignoring what is in url, like `mysite.com/faq` and `mysite.com/xyz` or `mysite.com/faq#somewhatelse` would always open the page with the router above. You can see the problem "live" here: https://alltracker.org/faq vs https://alltracker.org/fa

[2018-09-07 12:39] FaBeyyy opened #216 "Non hash routing does not work"
Im trying to use non hash based routing the following:

[code]

but this still only works when accessing `'#/test'`

[2018-09-07 16:08] neomicho85 commented on #216
https://github.com/krasimir/navigo/issues/214

[2018-09-18 17:41] JurajVajda commented on #139
@op3d this works nice for me so far, thanks for the solution!
I have realized that if i use:
[code]
the hooks and the route is not registered, the default handler works only for home page and does not trigger on any other page as wildcard would, but registering more hooks doesn't work

this is the router on registered route '/':
[code]
any ideas ?

[2018-09-20 07:33] tirtha4 commented on #159
Can't use the history API even after using `const router = new Navigo()`

Is there any other work around?

[2018-09-25 09:51] tonxxd opened #217 "Navigate Hooks"
Hi,
Navigo is great!

I was wondering if it was possible to add hooks to the navigate method.
Something like
`router.navigate(route, absolute, {
   before: () => {},
   after: () => {}
})`

or simpler
`router.on(route, async handler() {})`

and .navigate method return handler itself
`.navigate = () => {
  //...
  return handler()
}`
`await router.navigate(route, absolute)
  //...
`

It would be us

[2018-10-02 14:58] lnorton89 commented on #215
I'm currently working on a workaround for this issue but am stuck. Here is my solution:

`router
  .on('pagename/:section', function (params) {
    functions.loadHTML('./dist/templates/pagename.html', 'view');
    //Use params.section programatically to scroll to that position on page.
  })
  .resolve();`

This solves the issue but I can not access the page by just localhost/#!pagename anymore, on

[2018-10-02 16:06] marioz82 opened #218 "cannot fire events inside template loaded by Navigo"
I am not able to fire events (click, change, ecc...) inside a template loaded by Navigo.
This is the snippet of routing implementation:

[code]

Any ideas?

Thanks in advance

[2018-10-02 19:51] krasimir commented on #218
The first thing that I see is that when you are checking if the `status` is equal to `success` you have `status='success'` while it should be `status==='success'`.
The second thing is that `$(document).ready(...)` happens way before Navigo router kicks in and puts the content in place. So at this point you don't have `$("#button")`. I'll suggest to extract the `$("#button").click` code and add it

[2018-10-03 09:30] krasimir commented on #218
👍

[2018-10-05 12:52] teawithfruit opened #219 "Referrer"
What do you think, is this a good way to provide a referrer?

[code]

Thanks for your feedback.

[2018-10-05 21:10] weisborg opened #220 "Selector for data-navigo not specific enough"
Nothing life changing or anything, but recently had an issue where we converted anchor tags to buttons.  Whoever did it forgot to remove data-navigo, so updatePageLinks was trying to get href on a button and throwing weird errors about getting replace for null.  Most of our newer apps just have #! and such in the href and don't need data-navigo anymore, or we have made them buttons to do other thi

[2018-10-09 18:41] krasimir commented on #219
Can you provide more information on your use case? Where `router.referrer` is getting used?

[2018-10-11 11:27] dyanakiev opened #221 "[Not bug] Navigo ES5 - With support for old browsers and devices."
Hello,

I needed a EcmaScript5 support but navigo was written in ES6, i decided to convert it to the ES5 Standart.

Here is the code
[code]

[2018-10-11 16:24] marcohamersma opened #222 "Navigating to root route not working"
Hey,
In our app I'm trying to navigate away from a route and back to the root (/), but I cannot find a way to do it that will cause the right handlers to fire (I need the UI to react to this transition).

I've added this route to the configuration like this:
`router.on({ as: 'root', uses: doStuff })`

It doesn't get added to `router._routes` because there's a [conditional preventing that](https://

[2018-10-11 19:49] krasimir commented on #222
So, just to clarify: you are at let's say `/products/category/43` and you want to reach `/`?

[2018-10-11 21:07] marcohamersma commented on #222
Yeah, exactly 🙂

[2018-10-12 09:47] krasimir commented on #222
Did you try to add your route with `.on('/', yourHandlerHere)` and then use `navigate('/')`?

[2018-10-15 10:01] marcohamersma commented on #222
Ah I just noticed the code I put into the initial post was incorrect ( I loosely paraphrased it from my code, but didn't check up).

That said, adding the `/` in a separate call seems to have worked, but I could have sworn that I had tried that before 🤔

[2018-10-17 09:02] cb109 commented on #196
Wrapping @killmenot approach into a more convenient method. Using a 'leave()' with this worked for me.

[code]

[2018-10-22 07:14] marioz82 opened #223 "extra slash when force reload using navigate"
@krasimir Hi,

First of all thanks for the nice lib.

I need to force reaload after post operation.
Snippets from my code are:

[code]
The url is
http://localhost:8080/#!/page1

the url is not working due to the extra slash.

Any ideas about what is my mistake?

Thanks

[2018-10-23 19:07] krasimir commented on #223
Is it working if you say `router.navigate('page1');`?

[2018-10-24 08:04] marioz82 commented on #223
No, nothing happens. I've inserted some debug messages and i verified that the router is not called.

In the sidebar of my application, for href link, I use <a href="page1" data-navigo> and works correctly.
The problem is only with navigate.

[2018-10-25 13:42] #222 closed

[2018-10-26 01:30] sipmann opened #224 "New parameter on Generic Before hook"
I would suggest add one more parameter to the generic before hook with the "current url" value. This way we can do checks BEFORE a specific url get loaded.

[code]

[2018-10-27 06:32] masihjahangiri commented on #9
Thank you for your library.
when use data-navigo for absolute link like <a href="http://example.com/x/y" data-navigo>y</a> URL Not set correctly.
if current url is 'http://example.com/x' when clicked on above link URL will change to 'http://example.com/x/http://example.com/x/y'.

[2018-10-27 06:35] masihjahangiri commented on #9
Thank you for your library.
when use data-navigo for absolute link like `<a href="http://example.com/x/y" data-navigo>y</a>` URL Not set correctly.
if current url is 'http://example.com/x' when clicked on above link URL will change to 'http://example.com/x/http://example.com/x/y'.

[2018-10-27 06:37] masihjahangiri commented on #9
Thank you for your library.
when use data-navigo for absolute link like `<a href="http://example.com/x/y" data-navigo>y</a>` URL Not set correctly.
if current url is 'http://example.com/x' when clicked on above link URL will change to 'http://example.com/x/http://example.com/x/y'.

[2018-10-27 07:01] masihjahangiri opened #225 "absolute link URL data-navigo not correct"
Thank you for your library.
when use data-navigo for absolute link like `<a href="http://example.com/x/y" data-navigo>y</a>` URL Not set correctly.
if current url is 'http://example.com/x' when clicked on above link URL will change to 'http://example.com/x/http://example.com/x/y'.

[2018-10-27 07:40] masihjahangiri commented on #225
easy way to solve this by jquey:
[code]

[2018-10-29 07:10] krasimir commented on #225
Hello,

well, I would suggest to avoid adding `data-navigo` to absolute URLs. I mean if you don't want to have a link processed by the library you should not add the attribute to the tag. Is there any specific reason for having both - absolute URL and `data-navigo` attribute?

[2018-10-29 07:15] krasimir commented on #224
Hey,

can you try using `router. lastRouteResolved()`? I think it is what you need.

[2018-10-31 01:38] pjfsilva opened #226 "When entering directly into a page /bike/1234 the root Url isn't calculated correctly"
I understand it's very clearly stated you should manually set the root url for Navigo to work properly but I still feel this can be improved or it's a bug.

So basically I have a router with routes:
[code]

The problem I detect is if go directly to `http://localhost/bike/123` Navigo doesn't calculate the root URL properly so it falls into the '*' route.

If I add another 'fake' route: `bike` then

[2018-10-31 02:13] pjfsilva commented on #226
Just guessing from that RegExp I think there may be 2 issues:

1) Routes still keep the placeholders for params: `bike/:id` so that route will never match the URL. maybe we should replace all placeholders with something like `(.*)`
1)
`"http://localhost:9000/bike/123".split(new RegExp("bike/"))` -> split works
`"http://localhost:9000/bike/123".split(new RegExp("bike/($|\/)"))` - split stops workin

[2018-10-31 14:24] sipmann commented on #224
Sup,
I could be wrong (i'm don't have access to the code), but I tried this and the first call always get "null" as a result. Latter I'll try to post some code.

[2018-11-01 01:59] sipmann commented on #224
Yeap, following the test I did and the console.log print `null`. What I want to do, is check if is `url === 'login'` and `!isAuthenticated()` return done(true);
Right now, to work, i just have to put the login in a separated file.

[code]

[2018-11-02 05:36] krasimir commented on #224
Hm ... for the very first time I think it is fine to be `null`. Is it always `null` even you navigate through other pages.

[2018-11-13 20:36] wishnevski commented on #82
I am using navigo on NodeJS and all of my requests redirected on default path ('*' or '/'). In HTTP Request Handler Function i am calling `router.navigate(path).resolve()`. If i calling `navigate(path)` without `resolve()` - router ignored. How to solve this problem?

[2018-11-13 20:53] ghost opened #227 "All request redirected to default path."
I am using navigo on NodeJS and all of my requests redirecting to default path (`'*'` or `'/'`). In HTTP Request Handler Function i am calling `router.navigate(path).resolve()`. If i calling `navigate(path)` without `resolve()` - router ignored. How to solve this problem?

P.S.
All routes i defined in router.js

[code]

[2018-11-14 09:31] krasimir commented on #227
Navigo is not made to work under Node unfortunately. It is just for the browser which I'll fix in the next big release.

[2018-11-21 15:54] stheisen opened #228 "Is it possible to replace/redirect a route request?"
I am struggling with a way to redirect a route request under a certain condition.  In this case, I would like to look at each router request and determine if the user needs to perform the setup for the system. However, I don't seem to have a clear grasp on how or if this is possible, and what done() does.

I am trying to use a before hook (which seems to always execute), but both the _requested ro

[2018-11-23 08:07] krasimir commented on #228
I see your point. I think this is not a concern of the routing. When the user wants to move to a page he needs to click somewhere right. This means that you can plug your code there and only redirect if your conditions are true. I'll suggest to try shifting such decisions out of the routing. You'll make your app more robust and flexible.

[2018-12-04 16:51] andrejpavlovic commented on #121
It looks like for pushState that the code would work, but for hash, it seems it always does a full replace.
https://github.com/krasimir/navigo/blob/e8674ba8b305a8793360525c4247aec12f954be6/src/index.js#L186-L189

See https://stackoverflow.com/questions/2305069/can-you-use-hash-navigation-without-affecting-history for more info.

[2018-12-17 14:11] sipmann commented on #224
Well, then ty :)

[2018-12-17 14:11] #224 closed

[2018-12-21 11:42] FaBeyyy opened #229 "notFound is not working on new page (refresh)"
Example:
[code]
Also tried having the home component to an empty route like in the example but didnt work either.
Everytime i manually go to an invalid url it still fallbacks to the homeview instead of triggering the notfound handler

[2018-12-21 13:27] FaBeyyy opened #230 "Going directly into a route via browser does not work"
[code]

for example going into localhost:port/partner/123 works when being redirected with data-navigo or the navigo navigate function.
Entering it directly into the browser does not work when using non hash routing, it simply fallsback to the default route (or notFound but that doesnt work either see #229 ).

[2018-12-27 16:50] jordanaustin commented on #230
I had a similar problem, but it wasn't due to Navigo, but rather the local web server I was running. I don't know if this is the same issue for you, but I'll put it here, just in case. I had to add a `<base href="/" />` into my index.html (or default page) to get it to work correctly when dealing with paths that were multi-levels deep (e.g. /users/123).