[2019-01-02 19:34] VladimirDev93 commented on #230
I had this problem and then I found out that it's not Navigo, but something else. The problem is that your routes are not configured on the server. If you want to show some content by directly going to a particular route, you server needs to know what files to serve when you or the client navigates to the route. The reason why you are only able to see content on particular route with a hash is bec

[2019-01-02 19:35] #207 closed

[2019-01-16 14:42] dpsifr commented on #198
I actually need the link to execute my code every time it is clicked to refresh the content. Is there a way to force this behavior?

[2019-02-04 04:03] chrisalexander55 opened #234 "Typescript Support Broken"
OS: OSX, 10.14.2
Node.js@10.15.0
NPM@6.7.0
Typescript@3.2.2
Navigo@7.1.2
Type Definition File: @types/navigo@7.0.1

`import Navigo from "navigo;`
Error: cannot find module 'navigo'

It appears that the type definition file is not >= ES2015 module compliant.
From index.d.ts:
`
export = Navigo;
export as namespace Navigo;
`

There is an open ticket on SO where the author also faced this issue but ap

[2019-02-09 07:39] itsgracian commented on #122
i follows documentation but i don't how can i get params from url? @krasimir

[2019-02-09 17:34] krasimir commented on #122
@itsgracian this is the section that you are searching for https://github.com/krasimir/navigo#parameterized-urls

[2019-02-12 22:59] Ealireza opened #235 "Current URL not checked"
Very bad bad situation of current page add in history again

for example
<a href="a" data-navigo>aaaa</a>
<a href="b" data-navigo>bbbb</a>

there is two link
when i click on aaaa
it work ,
but if i click it again , it not check last state , where we are and ...
it add to history  [back / next]

[2019-02-18 16:55] Allakazan commented on #159
i used  ´const router = new Navigo()´ , still don't working with /

[2019-02-18 17:08] Allakazan commented on #159
That's my code:

[code]

[2019-03-07 15:33] itsgracian commented on #122
@krasimir  thank you

[2019-03-28 10:07] youjenli commented on #234
I have faced this issue, too!
After a few hours of researching, I found that we can import Navigo with `import Navigo = require('navigo');`.

The reason that we have to import Navigo with this syntax is because of the way which Navigo exported itself.
Navigo was exported in the form of UMD. And the way which was chosen to export Navigo to commonjs module loader is to replace the export object with

[2019-04-08 18:53] lifeelement opened #236 "The route is case sensitive."
For browsers, if a user happens to manually type the url in a case different than what was registered, the routing fails.

[2019-05-06 08:40] modwebpl opened #237 "Navigo is not a constructor"
window.Navigo = require('navigo');

let router = new Navigo(location.origin, false, '#');

router.on('/test', () => {
  console.log('test');
}).resolve();

console.log show error: "Navigo is not a constructor" what's wrong ?

[2019-05-15 22:49] ahmtxonly opened #238 "how can i do this, new data-navigo button after ajax innerhtml"
Hello,

![image](https://user-images.githubusercontent.com/36918073/57814515-899e1700-777c-11e9-8b22-ab264a783897.png)

ajax data inner = new navigo buttons for example , <a href="/tag/about" data-navigo>About</a>

[2019-05-16 14:39] #238 closed

[2019-05-20 20:24] JurajVajda commented on #57
Hi @sergiovilar what is your workaround this issue, i have the same problem.

[2019-05-27 23:55] kevinsimper commented on #237
Hi @modwebpl, you didn't load the library properly :)

[2019-06-12 07:29] benjwarner commented on #139
Extending on solution given by @op3d

Below is the same solution code, but with the params and queryString available:
[code]

[2019-07-06 11:30] Roba1993 commented on #237
Hi @modwebpl,

load the router like the following and it should work:
`let router = new Navigo.default(location.origin, false, '#');`

[2019-07-07 09:11] c-bik opened #239 "Spurious routing fails (only on page reload)"
Hi,

Thank you very much for the awesome job with navigo!

I am using it a project for quite a while now in prodection. Everything is running smoothly so far.

Recently I am trying to change `#!` to full histry API support and got stuck with a routing problem.

**Version : `7.1.2`**

I have the following routes:
1. `/link1/:year`
1. `/link2/:year`
1. `/contact`
1. `/about`
1. `*`

## Setup
### `in

[2019-07-12 07:20] c-bik commented on #239
@krasimir Can you please help me out?

[2019-07-12 09:34] krasimir commented on #239
Hello,

this seems weird to me:
[code]
What is the use case and is it possible to use `/link1/:year/<something here>`?

[2019-07-21 19:51] c-bik commented on #239
Hi @krasimir,

First off thanks for replying.

Let me try to examplain my use case first. Perhaps you can propose a better design than what I have.

There are two independent sites (wordpress) which publishes one page every year with static info relevant for that year and my site archieves those pages. Hence I have `link1/:year` and `/link2/:year`. From the `:year` part I load the HTML from the ar

[2019-07-28 00:06] lifeelement opened #240 "Question: Route removal or reassignment by url"
How would you remove a route or reassign its handler using the registered url?

[2019-07-29 11:03] c-bik commented on #239
@krasimir (sorry for poking you again) do you have any ideas?

[2019-08-02 19:40] lifeelement commented on #236
https://github.com/krasimir/navigo/issues/170

[2019-08-02 19:40] #236 closed

[2019-09-30 18:45] logan2z opened #242 "Route not matching when first segment of the URL is a parameter"
I'm new to Navigo so maybe I'm missing something obvious, but I'm registering a route with a parameter like this:

    var router = new Navigo(null);

    router.on("/:name", function(params) {
        console.log("name =", params.name);
    }).resolve()

When I navigate to http://localhost/foo the function that is registered to handle the route is never called.  I would expect the function to be

[2019-10-01 04:51] krasimir commented on #242
Can you try initializing with `new Navigo('/')`

[2019-10-01 05:50] logan2z commented on #242
Thanks, that helped a bit, but I'm still seeing some unexpected behavior.  For example,

    var router = new Navigo('/')

    router.on(":x/:y", function(params) {
        console.log("params =", params);
    })

With a URL of http://localhost/foo/bar I get the expected result

`
params = {x: 'foo', y: 'bar'}
`

But with a URL of http://localhost/foo I get

`
params = {x: 'localhost', y: 'foo'}
`

[2019-10-01 06:12] logan2z commented on #242
I must be misunderstanding how to configure the router.  For example, If I do

`
router.navigate('/x/y')
`

 the router is trying to change the URL to http://x/y rather than http://localhost/x/y.

I fear I'm configuring the router incorrectly.

[2019-10-03 15:41] logan2z commented on #242
Can anyone suggest what I might be doing wrong, or is this a bug in Navigo?

[2019-10-03 18:49] krasimir commented on #242
Can you prepare a simple example and upload it somewhere.

[2019-10-05 01:01] logan2z commented on #242
The example is pretty much just what I posted earlier:

    var router = new Navigo('/')

    router.on(":x/:y", function(params) {
        console.log("params =", params);
    })

With this configuration and the URLs I posted above, I'm seeing the unexpected behavior I described.

[2019-11-05 06:56] volmus commented on #61
@krasimir two more years later:
How to handle URLs containing hashes?

e.g. `https://mysite.com/foo/foo-#-bar/bar`
This route is not recognized from following route:
router.on({"/foo/*/:id")

[2019-11-29 15:30] marklundin commented on #242
Did you manage to find a fix for this @logan2z Im getting exactly the same issue

[2019-12-11 19:08] rcrisp opened #243 "Calling done(false) in before hook still updates route"
If you call done(false) in a before hook, the URL still updates to the requested page.  If you then try to navigate to the requested page later either programmatically or by clicking a link, it does not work because the router believes it is already on that page.  My expected behavior was calling done(false) should not update the page URL.

[2019-12-18 16:42] weisborg commented on #243
Just got on to report this very issue.  Documentation shows it as a way to abort going to a page, but the browser history and the internal resolved route in Navigo both think it went there.  I tried using the leave hook by defining individual .on handlers (since it can't be defined as a global hook), and it fires before the resolution takes place.  I didn't see a way to abort the leave though, so

[2019-12-18 17:24] weisborg commented on #228
This is related to #243 and really a problem of hooks being there to do this, but never actually being able to do it.  The documentation on the GIT page shows them used this way, so is misleading.

People using Navigo use it to handle the clicking of links and URLs to do something.  Saying you need to redirect with other code defeats the purpose of Navigo.  To use Navigo the best way possible I ha

[2019-12-23 14:39] ErcinDedeoglu opened #244 "How to trigger "url has changed" manually?"
Hi,
I would like to trigger Navigo manually to handle route.

When I changed the URL without refresh the browser with:
`window.history.pushState("data", "Title", "/user/login");`
It doesnt firing Navigo.
Thanks for advance.

[2019-12-23 14:41] ErcinDedeoglu commented on #244
https://github.com/krasimir/navigo/issues/196#issuecomment-368788107

solved my

[2019-12-23 14:41] #244 closed

[2019-12-26 07:14] ErcinDedeoglu opened #245 "Navigo can't detect child path without declared parent path"
Navigo can't detect path like "**/email-verification/x**" with this code:

[code]

**But working when i put parent path:**

[code]

Is this a bug?

[2019-12-26 07:34] ErcinDedeoglu commented on #245
https://github.com/krasimir/navigo/issues/177#issuecomment-351274375
this resolved issue but i bet this is a bug.
My old init:
`Navigo: new Navigo(null, false, null),`

[2020-03-15 01:48] jbmulligan commented on #198
I have run into this same issue in a slightly different context.  I have a page that renders differently based on query parameters.  When I call navigate with everything the same except for the query params, the route handler does not fire, I guess because it thinks it is already there so there is nothing to do.  Clearly one solution would be to change the URL structure, moving the query parameter

[2020-04-08 02:52] dam0 commented on #111
How about reaching an anchor#id on a parametized route, e.g: '/resources/:resource' such as /resources/enabling-tech#id.ih5h777?
Can it be made to work using a before/after hook?

[2020-04-20 22:25] axebox commented on #245
To be honest, this is very basic feature that should be working by default. There really is no excuse for this to be broken here.

[2020-05-06 06:18] nenadalm commented on #228
Hi. I needed to redirect user in my route handler, so I was searching if there is some supported way and then I used this:

[code]

I use my own wrapper of navigo and the above is code of `redirect` function. So in my handler, I can just call `route.redirect(newUrl)` and `current url` will be replaced with `newUrl` (which means that back button will take me to url before `current url`). For me, na

[2020-05-07 13:35] sammak1432 opened #246 "How to add wildcard for subdomain?"
Hi, I'd go through all the possible documents for this library.

But I couldn't know how to work with **subdomains**.

Can you please link the related document or any other way to deal with it.

[2020-05-12 00:22] Miltex opened #247 "File not found error."
In the console the following error is shown:

![image](https://user-images.githubusercontent.com/3899343/81624676-2d8cc380-93cd-11ea-8645-225cc519ba24.png)

How should this file (navigo.min.js.map) be generated?

I tried to use this file (https://github.com/krasimir/navigo/blob/master/lib/navigo.min.js.map)

But the following error occurs:
         navigo.min.js.map uncaught syntaxerror: unexpecte

[2020-05-12 16:46] cferdinandi commented on #230
You will need to configure your web server to point to your `index.html` page regardless of the URL path.

If you're using Apache, you might do something like this:

[code]

In Node.js, you might do something like this.

[code]

[2020-05-14 01:57] milesje commented on #234
Any movement on this issue... I just started a new LitElement project in TypeScript and would like to use Navigo, but not being able to import it into my TypeScript file is a bit of a hindrance.

[2020-06-11 20:09] chungvle opened #248 "Navigating to the root url in the html template demo"
In the html template demo, the root url in my case is localhost:8080. When I typed localhost:8080/foo in the address bar, I got the same default page which is fine. But in that case I'd like to reset the url to localhost:8080.

I tried using router.navigate(window.location.origin) but it doesn't work (I get localhost:8080/foo/#!localhost:8080) Setting absolute path doesn't work either. Is it possi

[2020-06-23 12:46] YaroslavTER opened #249 "README info about import"
Hi, the README file does not contain info about Navigo import, and it confuses a bit.
It would be great to mention about `import Navigo from 'navigo'` into README.

[2020-06-26 15:01] lxuanchengdx opened #250 "How to add a confirm prompt before leave?"
We're having to add confirmation before leaving, I see that `Navigo` has the `before`, but it's not receiving event.

Is there an alternative solution for this?

[2020-06-26 19:49] #249 closed

[2020-07-09 22:37] theboardio opened #251 "404 route isnt working"
Hello community :)

This is my router configuration

// getElementById wrapper
function $id(id) {
  return document.getElementById(id);
}

// asyncrhonously fetch the html template partial from the file directory,
// then set its contents to the html of the parent element
function loadHTML(url, id) {
  req = new XMLHttpRequest();
  req.open('GET', url);
  req.send();
  req.onload = () => {
    $id

[2020-07-12 03:48] makveli commented on #196
Sorry i really don't understand why not implement a router.reload() function,,, ? Congratulations this is amazing project.

[2020-08-03 11:07] YoavHortman commented on #172
Is there an update on this issue?

[2020-11-23 10:23] orty opened #252 "Pausing when useHash == true"
Hi,

I was wondering if Navigo was able to be paused/resumed when initialized with `useHash = true`.
So far, by my testing, it apparently is not the case, could you confirm or give me a workaround maybe ?

Thanks a lot.

[2020-12-08 01:24] JulioPradera commented on #230
@cferdinandi I configured Apache as you said, but the only difference is that, when trying to access a route via URL, instead of showing error 404, error 503 now appears. But everything else continues to function normally.

[2020-12-15 09:05] rjgamble opened #253 "Question: How do you make RegExp route params available in hooks"
Given the following route config, how would I obtain the `id` and `action` params in the `before` and `after` hooks?

[code]

[2020-12-16 21:20] antiv commented on #239
HI, I had same problem.
I have simple routes and one with params like `/content/:id` On refresh, or when I open that url directly I got error. SO, I changed
```navigoRouter = new Navigo(null, useHash)```
to
 ```navigoRouter = new Navigo(getRootLocation(routes), useHash)```, and add method
[code]
so, now it works in server root, and from subfolder.
And, you need to define base tag in index.htm also

[2020-12-21 09:30] krasimir commented on #125
Just a note that in version 8.0.0 the named routes and routes as regexp are depricated.

[2020-12-23 17:36] krasimir commented on #111
There is a new version of Navigo `8.0.0-beta.1` that now has this working. For example:

URL:
[code]
with the following router configuration:
[code]

and the following html tag on the page:

[code]

leads to the browser scrolling to the tag and also Navigo resolving the route.

The example is here:

https://github.com/krasimir/navigo/tree/big-rewrite/examples/using-anchor-tags

[2020-12-23 17:36] #111 closed

[2020-12-23 17:41] krasimir commented on #121
With the upcoming v8.0.0 I accidentally fulfilled the main question here

The signature of the navigate method could be changed to function(path, absolute, replace). If replace is set to true, then the current history entry will be replaced with the new one, meaning the user won't be able to use the back button to navigate to it. This is exactly the behaviour of the Location.replace() function. If

[2020-12-23 17:41] #121 closed

[2020-12-23 21:07] krasimir commented on #138
Ok so, 3+ years later I'm almost done with the re-write :) . The new version 8.0.0 (you can get it atm via `yarn add navigo@8.0.0-beta.2`) has a mandatory root param.

[code]

meaning that:
* if you hit the server at "/" nothing happens
* if you hit the server at "/schedule" nothing happens
* if you hit the server at "/schedule/xxx" your handler is invoked
* if you hit the server at "/schedule/xxx

[2020-12-23 21:07] #138 closed

[2020-12-23 22:10] krasimir commented on #149
Looking at the OP I think the problem was in the way of how the routes are defined. I don't remember having such api where we have a path/regexp and then an object map. However, the new 8.0.0 will support regexp. There are couple of unit tests on that functionality and also an example here https://github.com/krasimir/navigo/tree/big-rewrite/examples/regexp. So I'm closing this one.

[2020-12-23 22:10] #149 closed

[2020-12-23 22:21] krasimir commented on #152
This is now supported into the new 8.0.0 version. As of today it is still not released. Soon this will happen. In the meantime if anyone is interested (3+years after this issue is lastly commented) use the navigo@beta version.

[2020-12-23 22:22] krasimir commented on #152
Here's the commit that covers this functionality with a unit test https://github.com/krasimir/navigo/commit/75f1a89e6865275a8bfedb21898e2eb4c071fbbb

[2020-12-23 22:22] #152 closed

[2020-12-25 10:23] krasimir commented on #155
This is now fixed in version 8.0.0. It is not published at the moment officially but it is accessible via `yarn add navigo@beta`.

[2020-12-25 10:23] #155 closed

[2020-12-25 10:27] krasimir commented on #161
Thanks for the suggestion. That's how it works now in the latest version 8.0.0.

[code]

P.S.
version 8.0.0 is not released officially yet but you can try the beta release - `yarn add navigo@beta`.

[2020-12-25 10:27] #161 closed

[2020-12-27 10:54] krasimir commented on #163
With the latest 8.0.0 release you'll be able to do the following:

[code]

The second argument of the hook is a [Match](https://github.com/krasimir/navigo/blob/big-rewrite/DOCUMENTATION.md#resolving-routes) object. You can use its `url` field to check what's the path that matched.

P.S.
as of today version 8.0.0 is not released officially. You could have the beta one by running `yarn add navigo@be

[2020-12-27 10:54] #163 closed

[2020-12-27 11:03] krasimir commented on #165
In the latest v8.0.0 the problem is solved. Not officially released but you can get it via `npm install navigo@beta`.

[2020-12-27 11:03] #165 closed

[2020-12-27 11:09] krasimir commented on #172
Hey,

the new version 8.0.0 is here. In that new version there is no pausing and resuming. The same functionality is now available as part of the `navigate` method. You're basically saying "Go there but don't resolve any of my routes".

[code]

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available he

[2020-12-27 11:09] #172 closed

[2020-12-27 12:53] krasimir commented on #179
There is a new version 8.0.0 which has a solution of the problem here. It is an option of the navigate method.

[code]

The `silent: true` sets the internal state of the router. It basically updates a local variable called `current`. It's also the same one that `lastResolved()` method returns. That same object is passed to the leave hook took. So if you use `silent` you'll be able to set the route

[2020-12-27 12:53] #179 closed

[2020-12-27 13:12] krasimir commented on #185
As of version 8.0.0 Navigo has its types bundled into the library. Also the library is written in TypeScript.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the new documentation here https://github.com/

[2020-12-27 13:12] #185 closed

[2020-12-27 13:18] krasimir commented on #188
With the latest 8.0.0 you can I think achieve what you want. For example the following:

[code]

Updates the page URL to just `/?foo=bar` and the route is resolved. I see the console.log.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/C

[2020-12-27 13:18] #188 closed

[2020-12-27 13:20] krasimir commented on #190
@peppeg85 this library got re-written. Here's the new documentation https://github.com/krasimir/navigo/blob/big-rewrite/DOCUMENTATION.md. Since this is a 2+ years old issue I'm gonna close it. Please comment below if you still have the case.

[2020-12-27 13:20] #190 closed

[2020-12-27 13:27] krasimir commented on #191
There is a new version 8.0.0 of the library and the bug can't be reproduced there. Navigo got re-written so probably the new implementation fixed the problem. Here's an example which works as expected:

[code]

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/nav

[2020-12-27 13:27] #191 closed

[2020-12-27 13:30] krasimir commented on #192
Navigo uses `popstate` event to understand that there is a change in the URL. That event is fired only if the user interacts manually with the buttons of the browser. Using `window.history.pushState` doesn't trigger any logic in the router so it doesn't know that the URL is changed. I'll advice you to use `.navigate()` or call `.resolve()` every time after you do `window.history.pushState`.

[2020-12-27 13:30] #192 closed

[2020-12-27 13:32] krasimir commented on #193
There is a new version 8.0.0 where this works and it is covered with a unit test https://github.com/krasimir/navigo/blob/big-rewrite/src/__tests__/basic.spec.ts#L239-L246

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migra

[2020-12-27 13:32] #193 closed

[2020-12-27 13:32] #197 closed

[2020-12-27 13:42] krasimir commented on #198
So there are a couple of things here.

@adoweb and @dpsifr: if you are going to rely on Navigo for logic you HAVE TO change the URL to get your handler called again. That's kinda the idea of the Web isn't it? To have different content of the different URLs. So I'm still suggesting to change the URL when you close the modal.

@jbmulligan in the latest version 8.0.0 this problem is solved. You may `

[2020-12-27 13:42] #198 closed

[2020-12-27 13:46] krasimir commented on #200
Hey @jfftck,

I was thinking a lot how to provide such functionalities but every time when I tried became so convoluted. The main issue is to protect the router from re-registering the same routes. Also it kinda pushes the library to rendering concerns which is not the overall idea of the project. Sorry, but this time I'll park this feature.

[2020-12-27 13:46] #200 closed

[2020-12-27 13:48] krasimir commented on #203
@byrro thank you for popping in here.
@bennettscience I agree with @byrro. If you can provide some code that relates to Navigo we'll get a better context and will probably be able to answer. I'll close this issue for now. Please send a comment if you still need assistance.

[2020-12-27 13:48] #203 closed

[2020-12-27 14:59] jbmulligan commented on #198
Thanks for the update!
Oddly, the behavior that you describe (handler re-called when query params
are changed) already seems to occur in version 7.1.2 that I am running.

Thanks again for your work and for sharing this very useful piece of
software!
-Jeff

On Sun, Dec 27, 2020 at 5:43 AM Krasimir Tsonev <notifications@github.com>
wrote:

[2020-12-28 12:24] krasimir commented on #205
Navigo has been re-written and in the latest version 8.0.0 the `latest` hook accepts a function that allow us to block (or completely prevent) the leaving of a route. Documentation [here](https://github.com/krasimir/navigo/blob/big-rewrite/DOCUMENTATION.md#hooks).

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration

[2020-12-28 12:24] #205 closed

[2020-12-28 18:01] krasimir commented on #208
There is a new release 8.0.0 coming soon. In there you'll be able to do the following:

[code]

Which will only call your route handler without updating the browser URL and the internal state of the router.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo

[2020-12-28 18:01] #208 closed

[2020-12-28 18:19] krasimir commented on #209
Navigo got re-written (version 8.0.0) and now this is possible via a method called `match`. For example:

[code]

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the new documentation here https://github.c

[2020-12-28 18:19] #209 closed

[2020-12-28 21:04] krasimir commented on #210
There is a new release navigo@beta (beta version of the new 8.0.0) where the following applies:

[code]

Which in case of

* `/@krasimir/xxx/edit` prints `edit={"user":"krasimir","id":"xxx"}`
* `/@krasimir/xxx` prints `{"user":"krasimir","id":"xxx"}`
* `@krasimir` prints `{"user": "krasimir"}`

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yar

[2020-12-28 21:04] #210 closed

[2020-12-28 21:05] krasimir commented on #211
The solution is here https://github.com/krasimir/navigo/issues/121#issuecomment-750403945

[2020-12-28 21:05] #211 closed

[2020-12-28 21:09] krasimir commented on #213
In the new version 8.0.0 we'll have an `already` hook:

[code]

So if you `navigate` to the same route `/about` the `aboutHandler` function will be fired again.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide

[2020-12-28 21:09] #213 closed

[2020-12-28 21:12] krasimir commented on #215
This issue is a duplicate of this one https://github.com/krasimir/navigo/issues/111#issuecomment-750402327 Which is fixed in the new 8.0.0 version.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the new

[2020-12-28 21:12] #215 closed

[2020-12-28 21:14] krasimir commented on #216
Navigo got re-written and it doesn't support hash based routing. I think the problem described in the first post here was wrong initialization of the router. Or maybe testing in an old browser. Anyways in the new version 8.0.0 there is no hash based routing.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide

[2020-12-28 21:14] #216 closed

[2020-12-28 21:16] krasimir commented on #217
I prefer to follow more declarative approach. I don't plan to add hooks to the `navigate` or `resolve` methods. Sorry.

P.S.
by the way, Navigo is re-written. There is a new version 8.0.0. Not officially published but it is accessible via `npm install navigo@beta`.

[2020-12-28 21:16] #217 closed

[2020-12-28 21:17] #218 closed

[2020-12-28 21:18] #219 closed

[2020-12-28 21:24] krasimir commented on #220
Thanks. It's fixed and covered with a unit test [here](https://github.com/krasimir/navigo/commit/ab2da713593fd8defc607cf6e92468dec260d676). That's in the newest 8.0.0 version.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#

[2020-12-28 21:24] #220 closed

[2020-12-28 21:26] krasimir commented on #221
Thanks. I hope this is helpful to someone. Just recently Navigo has been rewritten.

Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the new documentation here https://github.com/krasimir/navigo/blob/big-rewrit

[2020-12-28 21:26] #221 closed

[2020-12-28 21:29] krasimir commented on #223
Navigo just got rewritten and I know that this is two years old issue, but I'll kindly ask to try with the new version. Which by the way doesn't support hash based routing anymore. I'll close this issue for the time being. Let me know if you need to reopen it.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guid

[2020-12-28 21:29] #223 closed

[2020-12-28 21:31] krasimir commented on #225
I'll stick to my suggestion (two years ago) :) and will add that if you want to have a bug-free experience with Navigo you should use just `/x` instead of `http://example.com/x`. I'll close the issue. Let me know if you still need assistance and I'll reopen it.

[2020-12-28 21:31] #225 closed

[2020-12-28 21:34] krasimir commented on #226
I know that this is a two years old issue but I'll kindly ask to try with the latest `navigo@beta` version. It is a complete rewrite of the route and I think this is not happening there.

P.S.
I'll close the issue. Let me know if you need any help and will reopen it.

[2020-12-28 21:34] #226 closed

[2020-12-28 21:34] masihjahangiri commented on #225
Thanks @krasimir

[2020-12-28 22:05] krasimir commented on #227
That moment came (finally). The version 8.0.0 is here and could be installed via `npm install navigo@beta`. The following works:

[code]

Of course there is some room for improvements. Like for example create the router only once. But I think you'll get the overall idea.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Mig

[2020-12-28 22:05] #227 closed

[2020-12-29 07:41] krasimir commented on #228
The problem describe here is a legit one. I'm still on defence whether this should be handled on a route level. However with the latest release (version 8.0.0) the following works:

[code]

[code]

When the user clicks on the HTML link it gets redirected to `/login`.

I'll close this issue because I guess there was a bug before that was preventing the router to work this way but now you can totall

[2020-12-29 07:41] #228 closed

[2020-12-29 07:49] krasimir commented on #229
This is now fixed in the version 8.0.0. Example here https://github.com/krasimir/navigo/tree/big-rewrite/examples/229

The code looks like this and the not-found handler is called properly:
[code]

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-

[2020-12-29 07:49] #229 closed

[2020-12-29 07:56] krasimir commented on #230
So, it seems to me that the problem is on a server level. @JulioPradera the fact that you are seeing 503 page or even 404 page talks to me that your server is not configured properly. If everything is set up correctly you should see your html no matter what the URL is. Or in other words your server should return only status code 200. The idea of Navigo is to shift the routing completely to the cli

[2020-12-29 07:56] #230 closed

[2020-12-29 08:09] krasimir commented on #234
Hey @chrisalexander55, @youjenli and @milesje,

Navigo got rewritten in TypeScript and the current version 8.0.0 is in beta. Could be installed via `npm install navigo@beta` and the types are bundled inside the library. Everything with typescript should be ok if you use that version.

![Screenshot 2020-12-29 at 10 08 08](https://user-images.githubusercontent.com/528677/103269164-e3893a00-49bd-11eb

[2020-12-29 08:09] #234 closed

[2020-12-29 08:13] krasimir commented on #235
With the new version 8.0.0 you can prevent the "adding to history" situation by using the `historyAPIMethod` option of the `navigate` method.

[code]

[code]

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide an

[2020-12-29 08:13] #235 closed

[2020-12-29 08:14] krasimir commented on #237
Hm ... that's a bit weird. I guess @kevinsimper is right.

@modwebpl do you still have the problem. Let me know and I'll reopen the issue.

[2020-12-29 08:14] #237 closed

[2020-12-29 08:22] krasimir commented on #239
@c-bik @antiv sorry for not responding here. I abandoned the project for a couple of reasons but now I'm back with a big re-write. There is a version 8.0.0 which I believe will solve your problems. I know that it's being more than a year since you write here but if you still use Navigo and want to try a fix install the new one.

Version 8.0.0 is not officially released but can be installed via `np

[2020-12-29 08:22] #239 closed

[2020-12-29 08:28] krasimir commented on #240
You can remove a route with the `off` method:

[code]

[2020-12-29 08:28] #240 closed

[2020-12-29 08:30] krasimir commented on #242
@logan2z @marklundin  can you try the latest version 8.0.0. This should working there.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the new documentation here https://github.com/krasimir/navigo/blob/bi

[2020-12-29 08:30] #242 closed

[2020-12-29 08:31] krasimir commented on #243
The problem describe here is fixed in the latest version 8.0.0. Can you @rcrisp @weisborg try it out.

Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the new documentation here https://github.com/krasimir/navi

[2020-12-29 08:31] #243 closed

[2020-12-29 08:37] krasimir commented on #245
Sorry for not responding here. The problem describe above is fixed in the latest version 8.0.0. Can you  try it out. It's covered with a unit test:

[code]

Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the n

[2020-12-29 08:37] #245 closed

[2020-12-29 13:20] krasimir commented on #246
Well, Navigo is mainly a client-side router. I'm not sure what you mean by "wildcard for subdomain". The router works on the URL path not on a host(domain) level.

[2020-12-29 13:20] #246 closed

[2020-12-29 13:21] krasimir commented on #247
This must be a problem with the build setup. There is a new version 8.0.0 where this problem is gone.

Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the new documentation here https://github.com/krasimir/navi

[2020-12-29 13:21] #247 closed

[2020-12-29 13:23] krasimir commented on #248
Hey @chungvle,

I decided to support only the next version of Navigo. Which is 8.0.0 and it will be released on the first days of 2021. That new version doesn't support the hash based routing. Only absolute paths. So, can you try with that version by installing it via `npm install navigo@beta`. You should simply use `router.navigate('/')`.

P.S
I'm trying to start fresh on the new version 8.0.0. I

[2020-12-29 13:23] #248 closed

[2020-12-29 13:30] krasimir commented on #250
I'll suggest to use the newest 8.0.0 beta version. There is a `leave` hook that accepts a callback.

[code]

When the user lands on `/about` and tries to go out will see that confirmation window. The router does nothing until you call the `done` function. (the full example [here](https://github.com/krasimir/navigo/tree/big-rewrite/examples/250))

P.S.
Version 8.0.0 is not officially released but c

[2020-12-29 13:30] #250 closed

[2020-12-29 13:31] krasimir commented on #251
I'm not sure which version you are using but there is a new one 8.0.0 where this problem doesn't happen. If possible migrate to it and test there.

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://github.com/krasimir/navigo/blob/big-rewrite/CHANGELOG.md#migration-guide and the new d

[2020-12-29 13:31] #251 closed

[2020-12-29 13:34] krasimir commented on #252
Hey,

I stopped supporting/developing the 7th and below versions of this library. It is fully rewritten now and I could say that the pausing/resuming there is replaced by an option in the `navigate` method. There is no hash based routing too. Sorry if you can't migrate to the newest one but I'm not planning to work on bugs that are attached to the old source code.

If you want to use Navigo 8.0.0

[2020-12-29 13:34] #252 closed

[2020-12-29 14:12] krasimir commented on #253
Hey @rjgamble,

there is a new version of Navigo - 8.0.0. The route definition there is a bit different but it provides a way to fetch the data that you need.

[code]

The `match` in the two hooks and the handler is equal to:
[code]

P.S.
Version 8.0.0 is not officially released but can be installed via `npm install navigo@beta` or `yarn add navigo@beta`. Migration guide is available here https://

[2020-12-29 14:12] #253 closed

[2021-01-05 04:46] tufik2 opened #256 "There is any plan to implement Hash like (#!) in this library?"

[2021-01-05 08:16] krasimir commented on #256
Hey @tufik2,

Navigo has always been in favor of the people using it. I mean from the early days I'm trying to satisfy most of the requests that come here. I decided to remove the hash-based routing so I have a simple implementation. However, now when we have 100+ unit tests I think it's safe to bring it back. I'll work on it these days and will post here.

Can you share what's your use case and w

[2021-01-05 10:20] rjgamble opened #257 "Top-level router hooks not working"
I'm just working through the migration to v8.0.1 and I'm experiencing an issue where the top-level `before` and `after` hooks are not being called prior to the individual route lifecycle being invoked. Here is an example of my initialisation:

[code]

I'm unable to hit the top-level `before` or `after` router hooks either coming directly in on `/foo` or using `.navigate('/foo')`

Have I set this u

[2021-01-05 10:24] rjgamble commented on #257
On inspection of the source, am I correct in thinking that if I supply hooks in my route definition, this will overwrite any generic hooks I've defined against the router?

[code]

[2021-01-05 10:51] krasimir commented on #257
@rjgamble you are absolutely right. I assumed that this is the expected behavior. In a sense of the library offers generic hooks applied to all routes and specifically opens a door to set custom hooks for individual routes. What is your expectation and use case?

[2021-01-05 11:31] rjgamble commented on #257
@krasimir I'd like to do both. I have a set of tasks I need to perform for _every_ route that is resolved as well as specific tasks for individual routes.

You may recall our email discussion about this a few weeks ago. We use the generic `before` hook to determine a subsequent component router to handle the route lifecycle methods specific to the area of the application you're in. From our email

[2021-01-05 16:16] krasimir commented on #257
Yep. That makes sense. Actually if I fix this I'll open a door for another feature that I'm struggling with. I'll keep you posted.

[2021-01-06 01:45] tufik2 commented on #256
Usually we config the server to resolve all URL in a single entry point ://sire.com/ or ://site.com/category/10 and if you reload the app that work well but somecases in some servers we don't havethe capability to re-config server rules so the faster way and a good way to solve it is configuring the router with a hash and that will solve the reload common issue. Thanks.

[2021-01-06 18:30] Visnetje opened #258 "Navigo 7.1.3 available on NPM, but not in changelog or Github repo"
As seen at https://www.npmjs.com/package/navigo/v/7.1.3 , there's a 7.1.3 version available.

What are the changes?
And why was this version skipped from the changelog or Github repository?

Thanks, @krasimir !

[2021-01-06 21:09] krasimir commented on #258
Sorry @Visnetje, just updated the changelog. I really don't know how this happened but 7.1.3 was released by accident. It contains a small change in the README + a useless "examples" folder from the new 8.0.0 version.

[2021-01-06 21:12] krasimir commented on #258
Oh wait wait wait ... Now I see. It's this:

[code]

But of course I messed up the release and forgot to ignore the `examples` directory when switching branches.

[2021-01-07 12:11] Visnetje commented on #258
Alright, @krasimir , thanks for clearing that up. :)

Thanks for your work on the 8.x rewrite!

[2021-01-07 12:11] #258 closed

[2021-01-08 08:43] krasimir commented on #256
@tufik2 just released 8.1.0 that supports hash based routing.

[2021-01-08 08:43] #256 closed

[2021-01-08 08:55] krasimir commented on #256
Just for the record. I did an example [here](https://github.com/krasimir/navigo/blob/master/examples/hash-mixed/page.html) which is using mixed type of routing. That's quite interesting because it allows us to handle routes but also use anchors in the page:

[code]

with the following HTML

[code]

Clicking on `Footer` makes the URL ending on `#/footer`, the browser scrolls to the anchor and the l

[2021-01-09 12:40] krasimir commented on #257
Hey @rjgamble,

There is a new `8.2.0` version that respects the existence of generic hooks and bundles them together with the route specific hooks. The order of execution is first the generic one then the one defined in the route. The unit test for this change is [here](https://github.com/krasimir/navigo/blob/master/src/__tests__/hooks.spec.ts#L372-L414):

[code]

So basically we have the followi

[2021-01-11 20:07] milesje opened #261 "8.1.0 tsc errors"
Upgraded from 7.1.2 to 8.1.0 and now I'm getting the following errors.

[code]

[2021-01-12 12:32] rjgamble commented on #257
Hi @krasimir Thank you for taking a look at this and getting back to me. I've updated to 8.4.1 today and I can see that both generic and route specific hooks are executing and in the order you've specified above.

Can I ask, did you intend to change the order the after hooks are executed in?

In v7 it goes:

In v8 it goes:

[2021-01-12 12:40] krasimir commented on #261
Hey @milesje,

can you post here how you are importing Navigo. I mean the actual `import` statement.

[2021-01-12 16:24] milesje commented on #261
`import Navigo from 'navigo'`
and then...
`const router = new Navigo('/')`

[2021-01-12 16:28] milesje commented on #261
I just did a `npm update` and it is now showing version 8.4.1 and I'm getting the following in my terminal.
[code]

And I get this in the browser console.
[code]

[2021-01-12 16:44] krasimir commented on #257
@rjgamble the hooks in the new implementation are array of functions. So the order of execution follows the fifo principle. Because the generic hooks are added first into the array they are executed first. Is this causing a lot of issues on your side.

[2021-01-12 16:47] krasimir commented on #261
Are you using some sort of bundler like webpack? I want to replicate the issue on my machine so I can fix it. If you have time setting up an example repo will be the best.

[2021-01-12 16:49] krasimir commented on #261
@milesje I managed to replicate the problem. Will provide a fix soon.

[2021-01-12 16:50] milesje commented on #261
I can upload my package.json file if that will help... but for running it on my PC it does not use a bundler it is using tsc to compile the TypeScript and then uses @web/dev-server to run the compiled code...

package.json is attached as a zip file.
[package.zip](https://github.com/krasimir/navigo/files/5803540/package.zip)

[2021-01-12 16:51] rjgamble opened #262 "Calling navigate with navigateOptions not working as expected"
Hi @krasimir I'm seeing an issue in 8.4.1 where I call `router.navigate` with `navigateOptions` but it doesn't appear to be respecting the options I've set. Here is an abbreviated example of my setup:

[code]

What I'm expecting from this setup is that when I browse to `/abc-1234` it fires the `before` hook in "routeA", which in turn tells the router to update the browser URL to "/item/abc-1234" a

[2021-01-12 16:52] krasimir commented on #261
Can you try version `8.4.2`.

[2021-01-12 16:58] krasimir commented on #262
Nice example. I'll spin up a unit test and will get back to you.

[2021-01-12 16:59] milesje commented on #261
8.4.2 worked better I'm now only getting 2 errors
[code]

[2021-01-12 17:17] krasimir commented on #262
It's the `force` field. It should be `false`. Here's a unit test that covers this scenario https://github.com/krasimir/navigo/blob/master/src/__tests__/issues.spec.ts#L276-L319

`force` is useful when you want to set the internal state of the router. If the value is `true` it basically stops the resolving and updates the internal flags only.

[2021-01-12 17:20] milesje commented on #261
@krasimir attached is a simplified project that is setup almost identical to my project if you want something to test against. This is a open-wc project using LitElement and a mobx data store.

[navigo-test.zip](https://github.com/krasimir/navigo/files/5803727/navigo-test.zip)

[2021-01-12 17:35] stepanjakl opened #263 "Allow conditional 'navigo-data' attribute for the '<a href="">' element"
Hello,

Firstly, thank you for the great library! The new version (v8) looks very good so far.

Currently, I am facing an issue where sometimes I want to pass a full url e.g. `https://github.com/` to the `href=''`  tag without Navigo's support. Other times I want to pass a local path e.g. `path/somewhere` and enable Navigo's functionality by adding `navigo-data` attribute.

I am using Navigo in co

[2021-01-12 19:32] rjgamble commented on #257
@krasimir understood.

It did cause an issue initially because I had some logic in the generic `after` hook to tidy up some temporary cache data that was stored for the duration of the route lifecycle however I have made changes to work around it.

If you intend to keep it the way it is is v8 i.e. FIFIO, please feel free to close this issue.

[2021-01-12 19:33] rjgamble commented on #262
Thank you for the prompt response - I have just tested again, specifying `false` for the `force` navigation option and this is now working as expected. 👍🏻

[2021-01-12 19:33] #262 closed

[2021-01-12 20:32] milesje commented on #261
so after applying the PR  #264 I no longer get any tsc errors, but instead get an error in the browser console.
`Uncaught SyntaxError: The requested module './../../node_modules/navigo/lib/Navigo.js' does not provide an export named 'default'`

[2021-01-12 20:33] krasimir commented on #263
Hey,

what we can do is to read the value of `data-navigo`. I mean the library to use those links as _Navigo_ links only if the attribute is there and its value IS NOT `"false"`. So:

[code]

will be ignored by the library. What you think?

[2021-01-12 20:41] stepanjakl commented on #263
Absolutely, that would work great!:)

However (and I don't need this at the moment), what if the `data-navigo` attribute changes its state to `true`, then I presume the Navigo instance would not reactively turned on for that element?

[2021-01-12 20:50] krasimir commented on #257
Yep. Sorry, that's an essential design decision that I did to support some features in [navigo-react](https://github.com/krasimir/navigo-react).

[2021-01-12 20:50] #257 closed

[2021-01-12 21:10] milesje commented on #261
@krasimir any ideas on the `does not provide an export named default` error?

[2021-01-12 21:12] krasimir commented on #261
Thanks for the PR. Your change is released as `8.4.3` version. Trying to fix the _default_ problem now.

[2021-01-12 21:23] milesje commented on #261
Thanks for all the help.... I will continue to provide any PR for anything I find that I'm capable of fixing!

[2021-01-12 21:24] krasimir commented on #261
Thanks. Also your navigo-test.zip is really useful. I hope I'll resolve this today.

[2021-01-12 21:26] milesje commented on #261
Let me know if there is anything I can help with....

[2021-01-12 21:40] milesje commented on #261
So it looks like webpack is exporting UMD and AMD.... is there a way to get it to export a ESM set as well? I'm not sure why the UMD isn't working, but it might be easier to solve (workaround) to also export a ESM bundle.

[2021-01-12 21:46] krasimir commented on #261
Yep. I'm preparing a ES build.

[2021-01-12 22:04] krasimir commented on #261
Hm ... I just published `8.4.4` which does have an ES export https://github.com/krasimir/navigo/tree/master/lib/es I pointed the `module` field of the `package.json` file to the index where we have
[code]
And still I'm getting:
[code]
Weird. I'll leave this for tomorrow morning.

[2021-01-12 22:05] milesje commented on #261
Thanks for the update and all the work!

[2021-01-13 07:47] krasimir commented on #263
Hm ... that's an interesting problem. In general Navigo doesn't know about the rendering layer. So, the bottom line is that you should call `router.updatePageLinks()` after you update the state.

[2021-01-13 08:27] rjgamble opened #265 "Destination route hooks being executed from navigate when callHandler is false"
Hi @krasimir, following on from the issue I was seeing previously when using `navigate(route, options)` in a `before` hook. #262

I have noticed that the `before` hook is being executed in the destination route when I use `router.navigate(route, options)` even when I set `callHandler` to `false`. Given the below example:

[code]

The output I'm seeing from this is:
[code]

Notice, I only hit the `

[2021-01-13 09:05] krasimir commented on #261
Hey @milesje,

I think I've made some progress on the issue. It looks like the problem is in the web-dev-server. When I changed `nodeResolve` to `false` in `web-dev-server.config.mjs` I'm not seeing this error. Another one pops up tho:

[code]
So, I guess there is some tricky part and I'm not sure if the problem is in Navigo since it has now a ES version and that's what is getting used.

[2021-01-13 11:04] stepanjakl commented on #263
Ahh, I didn't know about that method, that should be fine then.

[2021-01-13 12:42] krasimir commented on #263
Well, `updatePageLinks` doesn't remove the listeners that are already attached to links. So, there is some work required to achieve what you want. It's on my list already.

[2021-01-13 13:04] stepanjakl commented on #263
Also, I would put a condition that even if the `<a>` element has `data-navigo` attribute but `target` is set to `_blank` then still don't initialise Navigo (?)

[2021-01-13 13:29] krasimir commented on #263
Makes sense yes.

[2021-01-13 13:41] milesje commented on #261
I don't understand why 7.X works with the current configuration, but not 8.X. I'm 100% sure if is Navigo or some configuration on my part either.

[2021-01-13 13:56] milesje commented on #261
So with 8.4.4 and importing `navigo/lib/es/index.js` I'm unable to perform a `npm run build` which does not use the web-dev-server. I did have to update the index.html to fix an error there so I've attached that updated index.html file...
[index.zip](https://github.com/krasimir/navigo/files/5808962/index.zip)

[code]

[2021-01-13 14:01] milesje commented on #261
I'm wondering if it has to do with the face that you define a class called Navigo (default export in index.d.ts) and then in index.ts you define a default export function called  Navigo. I'm not the best at TypeScript or JavaScript, but this seems a little weird to me. Why not just declare the class in index.ts (instead of a function)?

[2021-01-13 14:12] krasimir commented on #261
7.X was build and written in a different way. So I'm not surprised that version 8 works differently. As for the class vs function. At this point is not possible to go with a class since I used module-reveal pattern to write the library. Going with a class will mean rewriting everything and I'm a bit skeptical that this is the problem. Will investigate further.

[2021-01-13 14:29] milesje commented on #261
Is there a reason to use the module-reveal pattern versus using a class with private members and private functions? A little late now, but just curious....

[2021-01-13 16:19] krasimir commented on #261
@milesje back in the days when I started the library there was no classes :) So I decided to continue with the pattern that I used then. Also having a class added a few bytes to the transpiled version.

[2021-01-13 17:02] krasimir commented on #263
There is a new version `8.5.0` which:
* supports `"false"` as value of `data-navigo` attribute. In this case it skips the link and the link works as a normal one
* skips links with `target="_blank"`

Also have in mind that if some link is instrumented, or in other words wired to Navigo logic you can change its `data-navigo` value to `"false"` and call `router.updatePageLinks()`. This will remove t

[2021-01-13 17:02] #263 closed

[2021-01-13 17:27] krasimir commented on #265
@rjgamble instead of restricting the hooks because `callHandler` is set to `false` I decided to introduce `callHooks` flag. This way we can still cover the case where your handler is not fired but the hooks are. So in your case:

[code]

You don't have to specify `force`, `updateBrowserURL` and `updateState` because their values are anyway `false`, `true` and `true`.

[2021-01-13 17:27] krasimir commented on #265
New version `8.6.0`.

[2021-01-13 17:51] krasimir commented on #261
@milesje I'm trying to run your example without Navigo. When I remove the import and clean up `store.ts` to not mention the router I'm getting `process is not defined`. Any idea how to fix it?

[2021-01-13 19:11] milesje commented on #261
@krasimir sorry that issue is caused by an update to mobx. To fix it add the following to the index.html file the root directory.
[code]

[2021-01-13 22:02] krasimir commented on #261
@milesje I think I fixed it :)

![image](https://user-images.githubusercontent.com/528677/104515617-c0849a00-55fb-11eb-9aa4-dd08f451f88b.png)

Can you try with the latest update `8.6.1`

[2021-01-13 22:19] milesje commented on #261
@krasimir it does appear to be working... I'm going to run some more advanced scenarios to make sure everything is working... or at least the features I normally use anyway. Thanks a lot for all the hard work! I've really been enjoying this project and hope I can help some more on it.

[2021-01-13 22:28] milesje commented on #261
so I just did a small test to add a second route and something isn't working....
[code]
but when I click the help link I'm getting a 'Not Found' page instead of the expected HELP ME
Now I don't normally use href for my site navigation I normally call router.navigate('path...')
But with the configuration I would have expected to be able to go directly to the /help page by going to http://localhost;

[2021-01-13 22:36] milesje commented on #261
never mind.... now it is working as expected but I didn't really do anything other than add a 3rd .on and another href and now they are working as expected.

[2021-01-13 22:36] #261 closed

[2021-01-15 15:27] rjgamble commented on #265
Hi @krasimir, thanks for taking a look. I upgraded to 8.6.3 and retested. It is working as expected when passing `callHooks: false`.

Thanks for the tip regarding the default values for the other navigate options.

[2021-01-15 15:27] #265 closed

[2021-01-21 11:24] richturner commented on #172
Hey, great project. Just migrating to 8.0.0 and needed to replace pause/resume as mentioned in the change logs. Noticed that the typescript definition for NavigateOptions doesn't contain shouldResolve.

[2021-01-21 17:42] krasimir commented on #172
@richturner yes, sorry. The API changed a bit and there are a couple of other flags that give you more control on what exactly happens when a route is resolved. I'll suggest to check this section of the documentation https://github.com/krasimir/navigo/blob/master/DOCUMENTATION.md#navigating-between-routes.

[2021-01-21 21:39] richturner opened #267 "v8.7.1 Disabling no match warning doesn't stop the warning messages"
I've tried disabling the no match warning during initialisation but it doesn't seem to pay attention to the setting.

[code]

[2021-01-21 21:57] richturner opened #268 "v8.7.1 Hash based routing resolves route twice"
I am trying to use the latest version with hash based routing like I did with previous versions but I've noticed some odd behaviour in that the route handler gets called twice for each `router.navigate` call with a no match found log message in between each call,

I put a hash change event handler on the window and can see that two events are created, so for example navigating from `/#/foo -> /#/b

[2021-01-23 06:22] ajorkowski opened #269 "8.7.1 Using a hash is ignored when not using a hash based routing"
I do not use the hash based routing, but it looks like the path gets ignored when creating a match.

Here is an example to illustrate, in my app I navigate to the path:

`/appointments?#start=2021-01-01&appointmentId=1`

However the match on the `uses` has the following structure:

[code]

There is no information in the match at all about the hash url, when before this was available in the `query`

[2021-01-23 15:27] krasimir commented on #267
Hey @richturner, can you please try with a `8.7.2` version. Should be fixed now.

[2021-01-23 20:39] richturner commented on #267
Hi, thanks for the quick response. I can confirm that this is fixed now.

[2021-01-23 20:39] #267 closed

[2021-01-23 21:29] krasimir commented on #268
Hey, can you please try version `8.7.3`. The bug should be fixed there.

[2021-01-23 21:37] krasimir commented on #269
Hm ... this seems a bit weird to me. I mean the string after the `#` sign could be accessed via `location.hash`. And this is supported [well on all browsers](https://developer.mozilla.org/en-US/docs/Web/API/Location/hash) so should be good enough to use it directly. Navigo ignores the string after `#` on purpose and if we have to change the API and make that part of the Match object it will be pro

[2021-01-24 04:13] ajorkowski commented on #269
Yeah that makes sense actually - I am using two routers but one is to support legacy as we migrate things, but both are still working off the url, so I think this will work fine. I appreciate your response! I will close this issue.

[2021-01-25 04:53] ajorkowski commented on #269
Actually, I know what the issue is now that I tried to implement this again. I am using the `navigate` method to change the url. So you get something like this:

[code]

Navigo calls the hook before changing the url in the browser, so I cannot use `location.hash` in this case during the hook, because the url has not been set in the browser yet? Maybe I am using this wrong though....

Cheers,
Felix

[2021-01-25 04:55] ajorkowski commented on #269
Just to expand on this a little, I am using the `navigo.on({ path: { as: name, uses: func }  })` to setup the routes, so the `func` here is the hook method that gets called before the url is set.

[2021-01-25 11:25] richturner commented on #268
Hey thanks for the quick response, I switched back to v7 as I was also having issues with replicating the old silent route navigation, when I get some spare time I'll definitely give it a try.

[2021-01-25 20:56] krasimir commented on #268
Sounds good. Please reopen the issue if you need more assistance.

[2021-01-25 20:56] #268 closed

[2021-01-25 21:01] krasimir commented on #269
I see. Interesting case @ajorkowski. I'll take a step back and will ask what's the main goal. It looks (for me) that you need to do some stuff before to get the route resolved that depend on the hash. Is it possible to solve the problem with a bit of composition. For example now you have:

[code]

What about

[code]

or

[code]

I mean by extracting your tasks in separate functions isn't it possib

[2021-01-26 00:34] ajorkowski commented on #269
I guess I could rearrange how the functions work... but if I go by your steps I don't understand how I would say do `navigate to appointments` without using the navigo library? How could I navigate to `appointments?#start=2021-01-01&appointmentId=1` and have that in the url without refreshing the page and without using the `navigate` method, and making sure the history is all correct etc?

If I ha

[2021-01-26 00:41] ajorkowski commented on #269
As for what I am trying to do - when I go to any page like `appointment/:id` or `appointments?id=:id` etc I have a react component and it just needs to know those parameters in the url/query/hash, so that it can change what information it will show. With the hash I could potentially wait until the component itself and use location.hash, but the problem is that I cannot use the `navigate` method wi

[2021-01-26 07:53] krasimir commented on #269
I see. Maybe I wasn't clear with my pseudo snippets above. What I meant was rearranging the bits that need to read from the hash so you let Navigo changes the URL and inside the handler you consume the has via `location.hash`.

In general this one `/appointments?#start=2021-01-01&appointmentId=1` seems weird to me. The hash makes sense to be an id of a DOM element so the browser can scroll to it.

[2021-01-26 18:18] ajorkowski commented on #269
But that's what I'm trying to get at - There is no way for Navigo to change the url in the browser with a hash in it? If you try and navigate to a url with a hash it will be removed so you end up with a hash-less url in the browser bar. This means I would have to store what would normally become the hash part internally somewhere instead of it being in the url so I can look it up instead of using

[2021-01-27 09:02] krasimir commented on #269
@ajorkowski can you please try new `8.8.0` version. I added a `hashString` field into the `Match` object.

https://codesandbox.io/s/navigo-example-jrui8

[code]

Clicking the link shows the following:
[code]

[2021-01-28 01:57] ajorkowski commented on #269
Awesome, this looks like it will work really well. I will try to use the new 8.8 version and let you know how it goes. Probably won't get to it until next week however.

[2021-01-29 14:39] mritzerfeld opened #270 "navigate() returns TypeError when using RegExp as route path"
I've been using Navigo for quite some time in a custom React wrapper. Until now, using RegExp as route path instead of strings worked perfectly. After upgrading from 7.1.2 to 8.8.0 this week, Navigo.navigate() however sometimes throws a TypeError exception

`TypeError: t.replace is not a function. (In 't.replace(/\/+$/,"")', 't.replace' is undefined)`

This happens, when a RegExp is provided to ma

[2021-01-29 16:00] krasimir commented on #270
Hey @mathiasrw,

it seems like a bug. Can you post the exact code that you are using.

[2021-01-29 16:06] lBeJIuk commented on #270
Hi. I have encountered a similar problem.
The problem is probably caused by "checkForLeaveHook.ts" line 21.
I made a fork and added an example in it.
But unfortunately I don't know how to refer to that commit correctly.

[2021-01-29 20:14] mritzerfeld commented on #270
The leave hook was indeed the missing piece. I had setup a test environment which worked fine, but without the hook, which is used in our React wrapper.

The follwing example reproduces the bug.
[code]

[2021-01-30 07:38] krasimir commented on #270
Thanks. I'll invetstigate.

[2021-02-01 16:54] krasimir commented on #270
@mritzerfeld @lBeJIuk should be fixed now. Please try with `8.8.1` version.

[2021-02-01 16:55] krasimir commented on #269
Hey @ajorkowski. Can we close this issue?

[2021-02-01 17:42] mritzerfeld commented on #270
@krasimir
Thanks a lot. This fixes the TypeError.

However it seems like capture groups are completely removed from the RegExp when adding a route, as shown of an adapted version of my above example:

[code]

Our custom Route component in React reads those capture groups when RegExp paths are used and communicates them to child components. This worked perfectly in v7.

[2021-02-01 20:44] mritzerfeld opened #271 "Leave hook not called on notFound-route"
A leave hook configured through the hooks object parameter for notFound() or addLeaveHook(`__NOT_FOUND__`) is not called when navigating away to another existing route on v8.8.x. Other hooks like before or after however are called.

[code]

[2021-02-01 20:55] krasimir commented on #270
The capture groups are passed into the `data` prop. For example:

[code]

[2021-02-01 21:26] krasimir commented on #271
@mritzerfeld can you please try the latest `8.8.3`. The problem should be fixed there.

[2021-02-01 22:04] mritzerfeld commented on #270
I'm aware of the data array. What I am going for are named groups, which should create an object in match.data like Navigo's regular string path parameters. Those name declarations, as used in my previous post, are completely removed when the route is added.

[2021-02-01 22:06] mritzerfeld commented on #271
@krasimir
Once again many thanks for your quick response. 8.8.3 fixes the issue.

[2021-02-01 22:06] #271 closed

[2021-02-02 03:04] ajorkowski commented on #269
@krasimir Yes I can confirm works great, I was able to upgrade navigo with these changes :) I'll close it now.

[2021-02-02 03:04] #269 closed

[2021-02-02 08:31] krasimir commented on #270
I see. Can you try the new `8.8.4` version. The `data` object now should contain what you expect.

[2021-02-02 16:20] mritzerfeld commented on #270
We're almost there. I checked the new release and it works with your example, but with none of production apps. I still end up with match.data being an array.

This last issue is caused by line 106 of utils.ts

[code]

If pattern already is a RegExp, this results in match.groups being undefined, thus returning the array. If this line is changed as following, it works like a charm:

[code]

Many th

[2021-02-02 17:07] krasimir commented on #270
Hm ... there is such check earlier in the code. Can you post a snippet that illustrates the failure.

[2021-02-02 18:55] mritzerfeld commented on #270
Unfortunately not. I used the very same code from your example with console.log() instead of the render helper and called the route with router.resolve(). The project uses webpack, but standalone or CDN versions didn't work either. Only the above change worked to get the parameters as object.

[2021-02-02 19:19] krasimir commented on #270
Hm... interesting. Do check how your transpiled code looks like. I had a problem with babel and couldn’t transpile properly the named groups.

Best regards

[2021-02-02 20:58] mritzerfeld commented on #270
It seems indeed to be a problem with babel which I'll have to investigate further.

[2021-02-02 20:58] #270 closed

[2021-02-04 06:09] visionm45 opened #272 "hash based routing resolves multiple times"
Hi, I have just got this router setup in my code with hashes serving from vscode live server.  I began using fetch to retrieve the html content to load onto the page and I noticed that the page was going back to the home page between loading between any 2 other pages.

I went to check the hash example included with the navigo source, loaded it in the same live server and found similar results from

[2021-02-04 06:16] visionm45 commented on #272
beautiful new version fixed this problem.  Thanks for the fast work!

[2021-02-04 06:16] #272 closed

[2021-02-08 12:53] stepanjakl opened #273 "Navigo is not working properly from version 8.8.5"
Hi,

For some reason Navigo is working only partially from version 8.8.5. Everything works fine with v.8.8.4.

I have a pretty standard setup:

[code]

Only the `before` hook gets fired, but other hooks, routes and links are not working as expected.

I am using the standard UMD (global variable) file to run the Navigo lib.

Any ideas?

[2021-02-08 13:30] krasimir commented on #273
Hey @stepanjakl,

can you try with 8.8.6. I accidentally pushed 8.8.5 without some changes.

[2021-02-08 13:33] stepanjakl commented on #273
@krasimir Same with 8.8.6, I forgot to mention

[2021-02-08 13:52] krasimir commented on #273
Hm ... ok. Thanks. I'll investigate.

[2021-02-08 21:29] krasimir commented on #273
Hey @stepanjakl,

can you provide a more complete test case. I wrote a unit test exercising the generic hooks with a route `*` and everything seems fine:

[code]

Also the other unit tests are passing. So I'm struggling to reproduce on my end.

[2021-02-08 22:01] stepanjakl commented on #273
Thanks for that!

I figured out what is causing the router to stop.

In the `before` hook, I have a condition to re-route in a case the match data is empty:
[code]

The script enters the condition, but then it stops, without any error or warning. If the condition is voided, then the router works fine. I hope it is okay to have navigate function inside the hook. Nevertheless, it worked in the v.8.8

[2021-02-09 08:05] krasimir commented on #273
@stepanjakl can you please try the new 8.8.7 version. Indeed there was a problem with the `before` hook (also exists on the `leave` hook). Let me explain a bit what was the problem since you probably have to add one small thing to your code. While the router is resolving a route it sets itself into a `"dirty"` mode. This guarantees that no other actions will happen until the work for the current r

[2021-02-09 09:57] stepanjakl commented on #273
@krasimir Yes, it works fine now!

The 'dirty' mode makes sense in some use cases, but I would suggest to put it in the function's call as a parameter (if that's possible). Like this:
[code]
What do you think?

And add some explanation about this to the documentation.

Again, thank you for the quick help and solution :)

[2021-02-09 10:41] krasimir commented on #273
I'll push back a bit on your suggestion. The dirtyness of the router is really an internal implementation detail. It shouldn't be exposed to the consumer of the library.

[2021-02-09 10:42] krasimir commented on #273
Also I should thank you for rising the issue. That's the only way to make Navigo robust/stable.

[2021-02-09 13:48] #273 closed

[2021-02-15 14:48] egorshulga commented on #237
`"esModuleInterop": true` in tsconfig.json – that's the thing that fixed this issue in my setup with webpack + typescript (ts-loader)

[2021-02-20 11:48] stepanjakl opened #275 "Incorrect route matching with subfolder root"
Hello Krasimir,

I deployed a site on Github Pages inside a subfolder and set Navigo's root to that subfolder i.e. `new Navigo('/bohemica-studio-website')`.

I am getting a wrong match for Navigo links when the `href` path is (correctly) set to `"bohemica-studio-website/en/projects/branding"`. The matching route should be `bohemica-studio-website/:language/projects/:name`, but it ends up being `bo

[2021-02-20 15:07] krasimir commented on #275
Hey,

if you ser a specific path as a root of your app you should skip it when writing URLs in the `a` tags. For example your tag should look like:

[code]

The router knows that you mean `/bohemica-studio-website/en/projects/branding` because it has `bohemica-studio-website` as a root.

[2021-02-20 15:50] stepanjakl commented on #275
Okay, thank you for the answer.

Then, I believe that the `router.generate()` function creates url string with the root, which subsequently can't be used for the link.

Moreover, if you take away the root path, then it can be a bit confusing for the user in the browser .e.g.:

1. what the user sees:
<img width="142" alt="Screenshot 2021-02-20 at 15 24 07" src="https://user-images.githubusercontent

[2021-02-20 16:09] krasimir commented on #275
I'm a bit confused what is the expected behavior. Can you share a URL or even if possible a codesandbox. You can use this as an example https://codesandbox.io/s/navigo-example-jrui8

[2021-02-21 12:26] stepanjakl commented on #275
Essentially, I create a path via `router.generate('branding')` that I can then input inside `<a href='...'>`. However, currently I get `bohemica-studio-website/en/projects/branding` instead of `en/projects/branding` which, like you said, doesn't work for the navigo link as it contains the root folder.

I think it would make more sense for the link to include the full path with the root as mentione

[2021-02-21 14:43] krasimir commented on #275
I see @stepanjakl. I would rather patch the generate method so it returns the path without app than forcing the full url path on the links. Conceptually the idea of Navigo is to be an app oriented. It shouldn't know about the rest of the world. So I'll probably provide an additional argument to the generate function which will strip the root.

[2021-02-27 18:15] mrdaliri commented on #275
Hi @krasimir,
I'm having the same problem after upgrading to v8 from v7: links with href generated by `router.generate()` are not correctly handled by Navigo. If I drop `data-navigo` they work fine, but I'll lose the SPA feature.

[2021-02-28 06:54] krasimir commented on #275
@stepanjakl @mrdaliri can you please try the latest 8.9.0 version. It accepts a third argument of the `generate` method.

[code]

[2021-03-01 18:44] arethk opened #276 "router.navigateByName not routing properly"
The site I'm working on has a base URL /ops example: https://local.oursite.com/ops/

I create the router like so:

[code]

When I go to https://local.oursite.com/ops/ with the browser, it redirects me to https://local.oursite.com/ops/ops/login which is incorrect. It should go to https://local.oursite.com/ops/login

[2021-03-01 18:53] stepanjakl commented on #275
I swapped the project a custom domain (and root folder), so I cannot test it. But it looks good and would consider it fixed👍

[2021-03-01 20:48] #275 closed

[2021-03-02 01:31] panpansh opened #277 "Trigger router on page load ?"
[code]

is there a way to auto trigger data-navigo at first load please (without link click) ?
Regards.

[2021-03-02 01:38] panpansh commented on #277
I miss the doc :/ https://github.com/krasimir/navigo/blob/master/DOCUMENTATION.md#resolving-routes
need some read sorry

[2021-03-02 01:41] panpansh commented on #277
[code]

just need to add ".resolve();"
Regards.

[2021-03-02 01:41] #277 closed

[2021-03-04 08:47] krasimir commented on #276
Hey @arethk,

Thanks for reporting. The bug is fixed in 8.9.1 version.

[2021-03-04 08:47] #276 closed

[2021-03-04 22:16] Blakeinstein opened #278 "Ghpages and Navigo. Redirect to index.html on accessing subpath."
Accessing a subroute directly, returns to the 404.html. How can you redirect from 404.html to index.html?

[2021-03-05 06:44] krasimir commented on #278
GitHub pages does not allow you to control the routing. In order to have Navigo working you need to amend the http routing and point all the requests to a single html file. With GitHub pages this is not possible. The only workaround that comes to my mind is to generate all the pages as static files and those files to have the same content. But even then the 404 page may not be properly handled.

[2021-03-05 09:08] Blakeinstein commented on #278
I was going through projects using this package, and found this workaround.

https://github.com/rafgraph/spa-github-pages

On the 404 page, it converts the sub route, to a query which is executed on index.html itself. Effectively redirecting properly. I would suggest, adding this to the readme for future reference.

[2021-03-05 09:08] #278 closed

[2021-03-10 22:25] waynebaylor opened #279 "Route handler executing before URL is updated"
Using v8.9.1

For example:

[code]

I was expecting this to log the `Match` for `/home`, but it doesn't. The `Match` returned by `getCurrentLocation()` is the *previous* one. It appears that the URL (and thus `getCurrentLocation()`) are updated after the handler is executed.

[2021-03-11 07:08] krasimir commented on #279
Hey @waynebaylor,

this is done on purpose. The updating of the actual URL in the browser happens at the very end because in Navigo the routes may have hooks and in those hooks you may decide to not call the handler or to call the handler but don't update the URL. There are such edge cases. At this point is not a good to change this behavior.

It's a bit weird to me that you are not using the `mat

[2021-03-11 13:37] waynebaylor commented on #279
I've been using navigo 7.x and I have a component that checks if the user is authenticated and redirects to the login screen if necessary. Of course, there are some public screens where I don't want to do this and I've been checking the URL to make that decision. After upgrading to 8.x this logic doesn't work anymore because the URL is now being updated after the component renders.

It's fine if t

[2021-03-11 13:37] #279 closed

[2021-03-11 18:05] krasimir commented on #279
@waynebaylor but you can still access the new URL if you use the `match` object as I hint above:

[code]

[2021-03-11 21:58] schotime opened #280 "Hooking up <a /> tags without the navigo-data attribute"
Is there away to do this automagically as a convention or just do all `<a />` tags that use relative urls because I'd rather not have to specify this everywhere?

[2021-03-12 06:46] krasimir commented on #280
That's a good suggestion for a new router conifg. I'll implement.

[2021-03-15 13:25] Wayfindertm opened #281 "Routing hooks error"
[code]

And when we call home route we see in console:
[code]

How can a force open auth without calling home?

[2021-03-15 15:04] teawithfruit opened #282 "Routes without # and server reload"
Hey,

I'm using navigo for a long time. Thank you for creating such a good library!
But these days I got a problem. I have the idea to use client side routes without a hash and without a fully site refresh.
Here an example:

[code]

If I click on that register link, the page is fully reloaded.
What I like to do is, to click on that link without a reload. I would like to set some options, which wil

[2021-03-15 15:07] krasimir commented on #281
You should not call the `done` callback in the `before` hook. This basically means "keep going and resolve the routes". You either don't call it or you call it with `false` (`done(false)`). Here's a test case that shows how it works https://github.com/krasimir/navigo/blob/master/src/__tests__/hooks.spec.ts#L58-L74

[2021-03-15 15:11] krasimir commented on #282
Hey,

did you try with `<a href="/auth/sign" data-navigo>Register</a>`. Here's the relevant section in the docs https://github.com/krasimir/navigo/blob/master/DOCUMENTATION.md#augment-your-a-tags

[2021-03-15 15:26] teawithfruit commented on #282
Thanks for the quick reply.
Why I have not seen that, I also do not know. :see_no_evil:

[2021-03-15 15:26] #282 closed

[2021-03-15 15:28] Wayfindertm commented on #281
So if i remove done(), router.navigate will not work?

[2021-03-15 15:30] krasimir commented on #281
Hm ... interesting. Can you try with `done(false)`.

[2021-03-15 15:31] Wayfindertm commented on #281
Before hook

Thats all (((

[2021-03-15 15:47] krasimir commented on #281
Sorry, I did not look at your code in details. So what is happening is that you are defining a hook for every route. Including `/auth`. Which means that you successfully navigate to it but the before hook kicks in because we are doing `done(false)` we can't continue and call the handler. The proper implementation will look like so:

[code]

[2021-03-15 15:52] Wayfindertm commented on #281
Your code dosn't work too

And this code too:
`router.hooks({
	before(done, match) {
		console.log(match.url);
		if (match.url !== 'auth') {
			console.log('Before hook');
			router.navigate("/auth");
			done(false);
		}
	}
});`

[2021-03-15 15:57] Wayfindertm commented on #281
I need to make something like middleware to check auth, so i want use global hook for all routes except auth

[2021-03-15 15:58] krasimir commented on #281
I see. let me come with a test case.

[2021-03-16 07:42] krasimir commented on #280
Hey @schotime,

There is a new 8.10.0 version. You can now use:

[code]

which will basically select all the links on the page. No matter if they have `data-navigo` attribute or not.

[2021-03-16 07:42] #280 closed

[2021-03-16 07:43] krasimir commented on #281
Hey @Wayfindertm,

there was a bug which is fixed in a new `8.10.0` version. Can you please try it and let me know how it works. Here's the test case:

[code]

[2021-03-16 07:47] schotime commented on #280
awesome!! thx

[2021-03-16 07:52] Wayfindertm commented on #281
It works great!!! Thanx!!!

[2021-03-16 07:54] #281 closed

[2021-03-16 18:44] gilphilbert opened #283 "Hash routes in 8.10.0"
I was using 8.9.1, which worked well except I was getting double entries in my history (and navigating "back" was a little odd...) so I upgraded to 8.10.0. Now my history works well... but that's because hash routing isn't working at all!

I haven't changed anything:
[code]

[code]

It seems like Navigo isn't intercepting the routes as they're acting like normal anchors and redirecting the page. I

[2021-03-16 20:06] krasimir commented on #283
This seems like a bug. I'll investigate.

[2021-03-16 20:59] krasimir commented on #283
Can you please try the new `8.10.1`.

[2021-03-17 03:15] gilphilbert commented on #283
Just tried the new version: hash-based routing works again... but now I'm getting three entries in my history per route. I checked with a simple `console.log` and the event is only firing once.

[2021-03-17 09:40] krasimir commented on #283
Yep. This must be fixed. I suspect that it's like that for long time.

[2021-03-25 21:57] gamedevsam opened #285 "TypeError: Attempted to write to a read-only object."
I got this error sometimes when a not found route was encountered:

[code]

Changing this block (navigo.js line 845):

[code]

to this fixed it for me:

[code]

[2021-03-26 06:06] krasimir commented on #285
Hey,

that line is actually necessary and we can't remove it. Otherwise we will break some other stuff. Is this error preventing your project from building? Also, you said you are getting this error sometimes. That's a bit weird. If it is sometimes I suspect that the problem may be somewhere else.

[2021-03-26 15:46] gamedevsam commented on #285
Well, my `notFoundRoute` object is frozen when I navigate a second time to a 404 route.

The repro steps for me are:

1. Navigate to 404 route
2. Refresh page
3. Attempt to navigate to another 404

After your comment I changed my fix to this, which seems like a safer solution:

[code]

[2021-03-26 20:53] krasimir commented on #285
I'm a bit confused on

If you refresh the page this means a new http request to the server so you get a brand new session. Are you using Navigo on the server?

[2021-03-26 21:01] jerry-dev opened #286 "Navigating To The Root When Hash = true"
UPDATE: I thought a issue that was occurring with my program was happening due to this issue*. It was in fact
my code/logic. The "/#" in the URL after executing router.navigate("/") is not causing any issue, and is working
.as intended/the root.

I'm building a SPA via vanilla JavaScript with Web Components and everything is working smoothly.
I'm using an event bus to perform data binding if curio

[2021-03-28 21:27] #286 closed

[2021-04-01 05:35] krasimir commented on #285
So, let me see if I get it right. You have a request to your server and you have Navigo on the client. When the client JavaScript kicks in the URL is "not found" and Navigo handles that case properly. Then, you click on a link that points to another "not found" and this time Navigo breaks. If that's correct, a following question: how exactly you navigate to that second "not found"? Do we have anot

[2021-04-05 20:51] gamedevsam commented on #285
That's correct, keep in mind I believe Navigo is breaking because something is freezing the `notFoundRoute` object, I'm still not sure what causes that.

I manually invoke the navigate function, ex:

[code]

Here's how I initialize Navigo in case it helps:

[code]

[2021-04-12 22:14] JulioFS opened #287 "Uncaught ReferenceError: Navigo is not defined"
Cheers,

Using 8.11.0 (but having the issue happening with all the 8+ versions), I see this in the console:

`Uncaught ReferenceError: Navigo is not defined`

Markup is a simple HTML and JS combo, where router is defined, the error happen as soon as I try to define Navigo inside a `<script>` tag in the markup:

`const router = new Navigo('/frontend');`

Navigo JS is actually loaded correctly, I se

[2021-04-13 10:36] krasimir commented on #287
Hey,

my question will be ... if you are injecting Navigo with a `<script>` tag then where's this `exports` coming from?

[2021-04-13 16:13] JulioFS commented on #287
Thanks for the reply,

Indeed exports was a holdover empty object definition intended to debug a popper issue on bootstrap 4, I feel embarrased! :)

Thanks for pointing up the obvious, I removed the early definition of exports in the code and all works as it should now.

[2021-04-13 19:46] #287 closed

[2021-04-17 05:18] MustafaHi opened #288 "{ linksSelector: "a" } loop"
[code]

When the route is not a full document URL I call `Navigation.querySelector('a').click();`  to navigate to document,

this works fine except when I use `{ linksSelector: "a" }` it results in a loop, and the browser stops it with the exception
[code]

[2021-04-17 05:38] MustafaHi opened #289 "Relative to Root URL"
`navigo("/repoName/")`

`<a href="/main" data-navigo>Main Page</a>`

Shouldn't the link change to `/repoName/main` ?

For instance when you want to open it in a new tab or copy the URL, it will result in an incorrect one. `.com/main`

If you do `href="/repoName/main"` then it will navigate `/repoName/repoName/main`, and now it's working the opposite way.

[2021-04-22 16:41] mamacdon opened #290 "Root handler not invoked in v8"
When running Navigo 7.1.2 as shown below:
[code]
…  calling `resolve()` invoked my root handler:
[code]

After I upgraded to v8.11.0, my code looks like this:

[code]
… but now the root handler is not called:
[code]

In v8, `resolve()` seems to match routes based on the pathname (`/foo`). This strikes me as weird – with `hash: true`, shouldn't Navigo route based on the hash only?

[2021-04-23 07:02] krasimir commented on #283
Hey, sorry for the delay. The problem should be fixed in the latest `8.11.1` version.

[2021-04-23 07:05] krasimir commented on #285
Hey @gamedevsam,

I can't reproduce it locally. I'm towards closing this issue until I have a clear example that reproduce the problem. What you think?

[2021-04-23 07:06] krasimir commented on #288
Well, that's expected because inside `:page` you are again clicking the link. Also in `*`. So it seems that your user clicks a link but inside the handler you are clicking the link again.

[2021-04-23 07:06] #288 closed

[2021-04-23 07:07] krasimir commented on #289
Hm ... do you have `target="_blank"` on your link?

[2021-04-23 07:10] krasimir commented on #290
Hey,

if you have `has: true` then your browser journey should start with `/#/foo`. Also I like to think that the hash routing is more of a supportive feature. The main usage should not use hashes. That's because hashes (in general) have another purpose and also because history based routing is well supported.

[2021-04-23 07:32] MustafaHi commented on #289
No

[2021-04-23 09:16] vmagalhaes commented on #261
Hello @milesje could you send here an example of how are you using Navigo 8 with WC?

[2021-04-23 15:47] MustafaHi commented on #288
This happens because Navigo is applying `{ strategy: 'ALL' }`, even though it's not provided.
( when using `{ linksSelector: "a" }`)

So It can be solved by providing `{ strategy: 'ONE' })`
Or replacing last function `*` with `/`, so it doesn't match.

[2021-04-23 15:50] MustafaHi commented on #288
This happens because Navigo is applying `{ strategy: 'ALL' }`, even though it's not provided.
( when using `{ linksSelector: "a" }` )

So It can be solved by providing `{ strategy: 'ONE' }`
Or replacing last function `*` with `/`, so it doesn't match.

[2021-04-23 21:15] gamedevsam commented on #285
I'm OK with that. I will definitely get around to making a simple example that reproduces the issue and can re-open / open a new issue at that time. I've been busy and haven't had time, but need to do it since I don't want to monkey patch this lib forever :-P

[2021-04-23 21:15] #285 closed

[2021-04-27 09:00] teawithfruit opened #291 "Regexp problem with IE11"
If I create a RegExp based route, I got an error.
After some research, I found the problem with the following line.
https://github.com/krasimir/navigo/blob/8784291784b898f486f565e7d3d5cf44297d250e/src/utils.ts#L106

It seams, that IE11 can't interprete RegExp with flags. So I took a look into ```MATCH_REGEXP_FLAGS``` and it's empty. If I change the line from above to
[code]
everything works in IE1

[2021-05-09 07:41] MustafaHi commented on #289
Any solution? :)

[2021-05-17 12:54] slezy opened #293 "Anchor adds 3 entries to history"
Hey there,

I came across a bug while using version `8.11.1` when using anchor in url. Navigating to the link with anchor will add 3 entries to history API:
1. Link with anchor
2. Link with `#` but without anchor string
3. Link with anchor again

So navigating back can become a little tedious...

You can check this bug out in [example 111](https://github.com/krasimir/navigo/tree/master/examples/11

[2021-05-27 08:50] badeendjuh commented on #213
I used the global already hook to accomplish the re-execution of the current route like so:

[code]

[2021-05-29 10:48] ejez opened #295 "Feature request: Enable using `updatePageLinks` on arbitrary elements (not just `document`)."
Thanks for the work on this library.

Just started exploring navigo, and found how `data-navigo` and `updatePageLinks` can greatly simplify adding internal app links. However they become useless when the app is using web components, because querying for the links is hardcoded to `document.querySelectorAll` which does not traverse the shadow dom.

I suggest adding an optional argument `element` (wi

[2021-05-29 19:14] ejez opened #296 "Stopping click event propagation in navigo links."
I would like to ask if there is a reason for stopping the click event propagation in https://github.com/krasimir/navigo/blob/8784291784b898f486f565e7d3d5cf44297d250e/src/index.ts#L274

I am asking because I am using a UI library where the click event in some links is not only used for navigation, but also used by parent elements to change styles for example.

To give some context, in this nav bar:

[2021-06-03 08:10] yswang0927 opened #297 "where is the v8.11.1 download link?"
There only has v8.1.0 in Releases, but found v8.11.1 in changelog.  where is the v8.11.1 download link?

[2021-06-03 11:11] krasimir commented on #297
Hey,

here you can find the downloadable files: https://github.com/krasimir/navigo/tree/master/lib

[2021-06-07 11:21] hirasso opened #298 "Cannot get rid of console warning regarding Navigo v8"
Hi there,

first of all, thank you for this great library! I've been using it for years without problems.

Just a short question: How exactly do I get rid of this warning in my console?

I tried changing this in my `package.json`:

[code]
to this:
[code]
, but the log persists. I also tried deleting my `package-lock.json`, my bundler [parcel](https://parceljs.org/)'s `.cache` directory, reinstalli

[2021-06-08 05:27] krasimir commented on #298
I'll suggest to delete again node_modules folder, package-lock.json and your yarn.lock files.

[2021-07-07 11:48] meodai opened #299 "Question/FeatureRequest: Ignore routes"
I am working on a website that is static but I want to use the router for the blog part.
I have a shared JS file. I figured the following would ignore all routes that are not `/blog`:

[code]

but it still throws an error catches mydmain.whatever/admin/ for example. Any idea how to solve that?
Am I doing something wrong?

[2021-07-20 03:25] brendanheyu opened #300 "using ":after" and combatting the browser 'back' button"
Firstly - thanks for building a router I can understand! I'm a simpleton :)

I'm using handlebars to render each routes contents. I have a details page where a user can update some form values. I wanted to catch them before they leave the page if they have details entered unsaved. I have not built that yet, but I built some code for me to understand:

[code]

Using any navigation in the page itsel

[2021-08-27 21:09] micahjon opened #301 "How to navigate to route with trailing slash"
Hi, we've been using Navigo 7 in production for a few years and it's been working great--thanks for all your hard work on this.

I'm working on migrating to version 8 but I noticed that trailing slashes are being stripped from all our URLs. Is this behavior configurable in Navigo 8? It looks like it's currently hard-coded:

https://github.com/krasimir/navigo/blob/e18744d8f79ec6fb654d426831a519cfc7

[2021-08-28 15:11] krasimir commented on #301
Hey,

unfortunately that's a decision that I took when started working on version 8. Without that I was facing a lot more issues. It's not configurable at the moment.

[2021-08-30 16:07] micahjon commented on #301
No worries, we'll just stick with v7 for now.

If there are performance/reliability reasons for switching to v8, let me know, and I'd be happy to help with a PR and write some tests to help make this configurable.

[2021-09-12 20:35] jackiems82 opened #302 "Leave hook is not called when url Param changes in parameterized Route"
Hi, I have a problem that the leave hook seems not to be called for routes with parameters when navigating to the "same" route but with different parameter.

router.navigate('/foo/123')  // leave hook is not called
router.navigate('/foo/321')  // leave hook is not called
router.navigate('/home')     // leave hook is called

[2021-09-16 07:22] jackiems82 commented on #302
So is this a bug or a misconception from my side? Any feedback would be appreciated.

[2021-09-16 07:47] rjgamble commented on #302
Reproduced here for demonstration: https://runkit.com/embed/taaeebzc3mt2

[2021-09-16 08:06] krasimir commented on #302
Hey @jackiems82 @rjgamble,

Navigo checks based on the `path` passed to the `on` method. It is basically checking whether `'/foo/:id'` matches the `'/foo/123'` and `'/foo/321'` routes. And they do match. So, it's the same route matching and the leave hook is not fired. Is it possible to implement your logic with `after` hook.

[2021-09-16 08:53] rjgamble commented on #302
Hey @krasimir,

In our use case, we want to perform some disposal operations when we know we're leaving a page. In our implementation, `foo/1234` is a different page to `foo/4321` as its a different item.

[2021-09-16 09:06] krasimir commented on #302
I see. In such cases I usually question whether such logic needs to be in the routing layer. Is it possible to shift it in another place.

[2021-09-16 11:21] jackiems82 commented on #302
Thank you for the feedback @krasimir. We added some guard handling on top of the leave hook to prevent losing unsaved changes. All of this works great on non-parameterized routes. But for a user profile page for example it would not work. If you say it should be implemented outside of the general routing logic I need to see how I could implement that in our wrapping logic.
In general I would still

[2021-09-16 11:28] jackiems82 commented on #302
I just checked that the before hook is always fired. Maybe I can use that for my purposes

[2021-09-16 13:00] rjgamble commented on #302
Its a good question. Unfortunately in our case, the routing layer is the only option we have for detecting that navigation event and performing that disposal and cleanup. Not to mention, execution in the hooks already provides us with all the context we need to perform our cleanup.

[2021-09-17 09:34] jackiems82 commented on #302
The before hook was not an option because the rendering already started which looked odd. I have a workaround where I use a promise that is resolved by the user in a modal before the actual call to .navigate() happens. No need to rely on any hooks. For my scenario it is sufficient atm. But who knows what comes up later.
@rjgamble We have a wrapper around navigo that we use to interact with it. Tha

[2021-09-22 11:47] Javarome opened #303 "updatePageLinks can't reach shadow DOM"
When using web components that include links in their shadow DOM, `document.querySelectorAll()` won't find navigo links selectors.

A workaround can be to allow the updatePageLinks API to take a root element to be forwarded to findLinks as the root element to search from. That way, webcomponents could ask Navigo to update page links from the root of their shadow DOM.

[2021-09-27 18:51] alanalvarado opened #304 "Links inside dynamically loaded section will never trigger navigo routes."
If links with data-navigo are loaded with XHR after navigo was initialized they will be ignored when clicked and I will be taken to non existent URL

[2021-09-27 21:24] alanalvarado commented on #295
how do I use updatePageLinks?

[2021-09-28 06:47] krasimir commented on #304
Did you try using https://github.com/krasimir/navigo/blob/master/DOCUMENTATION.md#augment-your-a-tags

[2021-10-13 09:12] hirasso opened #305 "Absolute URLs don't work with V8 anymore."
Hi there! Have been using navigo for years with a lot of Sites I built with WordPress. I was initializing it with
[code]
`GLOBALS.homeUrl` being the URL that the WordPress Template Tag [home_url('/')](https://developer.wordpress.org/reference/functions/home_url/) would return.
Later in my script I would navigate links manually:
[code]
How would I do that with Navigo v8? I couldn't find anything in

[2021-10-13 13:54] #305 closed

[2021-10-29 13:49] plaul opened #306 "Error crashes Navigo"
``If an error is thrown inside one of the routes Navigo crashes.
Is there a way (official or unofficial) to add a "global" error handler to prevent this?
See demo below:
[code]

[2021-10-30 06:07] krasimir commented on #306
I would not rely on the router for such things. Mainly because the error handling needs to happen on a place where could be handled. This is very often the view layer. Anyways, I would go with something like:

[code]

[2021-10-30 07:37] plaul commented on #306
Hi Krasimir

I agree with what you write, but if you "forget" to handle the error then the problem is that your site crashes.
But, as a final check the suggested solution definitely seems like a viable way to go

Thanks for the response :-)

[2021-11-09 18:40] mlaadd opened #307 "Unexpected behavior when hash routing is enabled"
When hash routing is enabled, on first page visit (or reload), it will return a different hashString as compared to when i normally navigate on the page through an href with data-navigo.

`
let router = new Navigo("/", { hash: true});
`
`
router.on({
`
`
  "/": (params)=>{console.log(params);},
`
`
  "/test": (params)=>{console.log(params);}
`
`
});
`
`
router.resolve();
`

for example:
  on first

[2021-12-02 03:35] teak opened #308 "router.getCurrentLocation() does not return data for parameterized routes"
The match object returned by `router.getCurrentLocation()` does not include the `data` property on routes that are configured with parameters.

I also noticed while testing this in your online playground that `queryString` seems to be parsed incorrectly with the hash included in it.

[2021-12-13 16:04] csaszabo opened #309 "Inlcude License information into .js files"
Some companies have Legal requirements, that certain libraries can be used only if (main) javascript file(s) contains the license information.
Please include the license information into "navigo/lib/*.js" published files.

Thank you.

[2022-01-07 14:06] orty opened #310 "No trigger for either `hashchange` or `popstate` event on window"
Hi,

We were using the v7 of your library since a couple of years ago now, and we decided to migrate to the new v8 one. We are experiencing an issue with detecting the navigation event, we need it to wait for the URL to be updated in the address bar before continuing a process.

An example :
The user search for a string in a searchbox. We put the query in the URL (with `hash = true`), which gives

[2022-01-07 14:29] krasimir commented on #310
Hey,

just so I build the full context

who and how is updating the address bar? Is that Navigo again or you have some other logic?

[2022-01-07 17:47] orty commented on #310
Hey,

This is done by Navigo itself, we do not update the URL ourselves.

Moreover, I did some new tests by adding an `after` `hook` and triggering a `CustomEvent` in it, which I can then listen wherever I need it. But the `hook` never gets called neither :/ (even if my `handler` is executed) . It seems that I am really doing something wrong but I fail to see what :)

Regarding my first message, I

[2022-02-28 22:05] tpezzelle opened #311 "how to configure for changes in address bar"
i'm implementing in a vanilla js/html/css site and can't seem to navigo to respond at all to physically entered address locations that do have routes.... get a page not found error.  i've looked high and low through the docs and it seems like it should be happening automatically, but is not.

router.navigate is working
a href="/mypath" data-navigo  is working
back/forward buttons working

i'm sure

[2022-03-01 07:51] krasimir commented on #311
Hey @tpezzelle,

Navigo is a client side router and as such is designed to work only in the browser. I have the feeling that you are mixing it with the idea of server-side routing like the one that express (for example) provides. With Navigo, all your server-side routes should point to a single file. After that the Navigo will handle the path.

[2022-03-01 22:59] tpezzelle commented on #311
thanks for the response - it got me to thinking about "server-side routes"....  i interpreted that as "addresses processed by the server in an attempt to resolve a request".... which got me thinking about IIS (my deployment world) rewrite rules.

found this very helpful bit by Matt Burke:

https://www.mattburkedev.com/iis-rewrite-rule-for-single-page-apps/

it doesn't apply specifically to navigo.

[2022-03-01 23:01] tpezzelle commented on #311
By the way....  really excellent tool!

[2022-03-04 00:02] tpezzelle opened #312 "case sensitive routes"
i've seen the 2 other posts regarding case sensitive routes and have tried the

Navigo.MATCH_REGEXP_FLAGS = 'i'

but to no avail...  is there any additional info on how/when/where to implement this assignment so that it works?

[2022-03-06 21:19] daun commented on #293
@slezy Have you found a solution to this problem? I tried removing the anchor from the link before navigating, then adding it back after navigating, but the result is the same.

[2022-03-15 19:53] tpezzelle commented on #312
in case anyone else wanders across this using IIS....  here's what seems to be working for me.  add the block to <system.webservers> in web.config.  the first rule does a redirect to the route, but in lower case.  the second rule does a rewrite to assure that all routes load the default.html page.

    <rewrite>
      <rules>
        <rule name="ToLowerCase" stopProcessing="true">
          <match

[2022-03-15 19:53] #312 closed

[2022-03-21 22:08] #311 closed

[2022-05-03 22:44] epaezrubio opened #313 "Adding generic hooks doesn't have an effect on existing routes"
The following snippet will correctly print `before hook` followed by `route handler`:

[code]

However, the following will just print `route handler`:

[code]

Furthermore, if generic hooks are registered before and after route handlers are registered, then only the first routes will be affected by the global hooks.

Is this a design decision or a bug? It creates a complicated scenario, where the

[2022-08-10 08:04] tielebodyn opened #314 "Navigo (^8.11.1) didn't match any of the registered routes"
hi, I seem to be hanging a problem with Navigo 8.11.1.

when I make a singleton of Navigo, I seem to get an error every time I set my rootURL as anything except '/'. I tried http://localhost:1234, which is definitely the correct URL for my local server, but it keeps giving me the ''didn't match any of the registered routes" warning, as you can see in the image. when I use the '/' as root URL it lo

[2022-08-21 18:20] #298 closed

[2022-10-05 16:11] delgec commented on #314
Same warning.

How can I fix this problem?

[2022-10-06 05:47] tielebodyn commented on #314
@delgec I fixed it by switching to navigo 7

[2022-10-07 15:35] plaul opened #315 "data-navigo prevents bootstraps navbar dropdowns from closing"
When I'm using bootstrap's navbar with ```data-navigo``` links, everything works fine, UNTIL I start using nav-item dropdowns. With Navigo the dropdown doesn't close, without, it closes as expected.

I could not attach HTML files, but the snippet below, added to an index.html file, includes all to illustrate the problem.

The problem lies in the stopPropagation method in Navigo, because if I comme

[2022-10-07 19:18] delgec commented on #314
I am also downgrade. Thanks for your reply.

[2022-10-12 15:16] #306 closed

[2022-10-12 15:17] plaul commented on #306
Closed as per discusion above

[2022-10-16 12:04] ilteoood commented on #314
As I can see `/new-event` is not a registered route.
As you are using a plain string in the `on` function, it will match exactly that.
You are trying to use the first handler, right? What if you use ':page' as route match string?

[2022-10-16 12:05] ilteoood commented on #297
I think that what he means is that the repo has not been tagget for version 8.11.1, as the last one is 8.1.0.
https://github.com/krasimir/navigo/tags

[2022-10-17 11:01] tielebodyn commented on #314
@ilteoood I did infact register the new-event page. I just didn't include it in the screenshot.

[2022-10-17 12:24] ilteoood commented on #314
@tielebodyn if you want to share a reproduction with stackblitz, I'm happy to help :)